$transition-time: 0.444s ease(out-expo);
$transition-time-reverse: 0.444s ease(in-quad);

.confirm-button-wrapper {
  display: inline-block;
  position:relative;
  transition: width $transition-time;
  
  .donut-timer {
    position: absolute;
    top: 7px;
    @media #{$mobile} {
      top: 5px;
    }
    left:0;
    transform: translateX(0);
    opacity: 0;
    transition: transform $transition-time, opacity $transition-time;
  }
}

.confirm-button {
  overflow:hidden;
  position:relative;
  transition: width $transition-time, background-color $transition-time;
  &.reverse {
    transition: width $transition-time, background-color $transition-time-reverse;
  }
}

.confirm-button-original {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  transform: translateX(0);
  backface-visibility: visible;
  transition: transform $transition-time;
  text-align: center;
}

.confirm-button-confirmation {
  position: absolute;
  top:0;
  transform: translateX(0);
  width:auto;
  height:100%;
  transition: transform $transition-time, color $transition-time;
  text-align: center;
  backface-visibility: visible;
  color: $primary-text-color;
  color: white;
}

.confirm-button-action {
  position: absolute;
  left:0;
  top:0;
  transform: translateX(0);
  opacity:0;
}

.confirm-button-yes {
  transition: transform $transition-time, opacity $transition-time;
}

.confirm-button-no {
  transition: transform $transition-time, opacity $transition-time;
}