{{#if smallMode}}
  {{#fast-button id="navButton" type="button" class="btn nav-btn nav-burger nav-cross" action="toggle" aria-label="Toggle Navigation"}}
    <span class="lines"></span>
  {{/fast-button}}
{{/if}}

<div id="responsive-nav">

  <div id="sidebar">

    <div class="sidebar-container">
      
      <div id="sidebar-logo-container" class="col-sm-3">
        {{#scroll-to href='#home' closeMenu=true class="header-logo-parent" }}
        
        <img src="/assets/images/global/flat-logo.svg" alt="Blackout Rugby Logo" class="svg logo">
        
        {{/scroll-to}}
      </div>

      <div class="col-sm-9 sidebar-child">

        {{#perfect-scroll id="sidebar-body" class="perfect-scrollbar" allowBodyScrollEvent="navAllowBodyScroll" wheelSpeed=2 suppressScrollX=true}}

        <nav class="row">
        
          <div class="col-sm-6">
            <div class="sidebar-balloon"></div>
            
            <ul class="sidebar-links">

              <li id="link-home">
                {{#scroll-to href='#home' scrollOn='mousedown touchstart' closeMenu=true }}
                <i class="icon-home icon-lg icon-vcenter menu-icon"></i>
                <span class="hidden-sm">Home</span> {{/scroll-to}}
              </li>

              <li id="link-about">
                {{#scroll-to href='#about' scrollOn='mousedown touchstart' closeMenu=true }}
                <i class="icon-logo icon-lg icon-vcenter menu-icon"></i>
                <span class="hidden-sm">About</span> {{/scroll-to}}
              </li>

              <li id="link-contact">
                {{#scroll-to href='#contact' scrollOn='mousedown touchstart' closeMenu=true }}
                <i class="icon-mail-alt icon-md icon-vcenter menu-icon"></i>
                <span class="hidden-sm">Contact</span> {{/scroll-to}}
              </li>

            </ul>
          </div>

          <div class="col-sm-6">
          
            <div class="row">
              <div class="col-sm col-flex-sm col-last-xs col-reset-sm text-center">
                
                <div class="container-fluid social-buttons-container">
                  <div class="row">
                    <div class="col-sm-6">
                      {{#facebook-link class="facebook-button social-buttons"}}<i class="icon-facebook icon-2x facebook-icon social-icons"></i>{{/facebook-link}}
                    </div>
                    <div class="col-sm-6">
                      {{#twitter-link class="twitter-button social-buttons"}}<i class="icon-twitter icon-2x twitter-icon social-icons"></i>{{/twitter-link}}
                    </div>
                  </div>
                </div>
                
              </div>
              
              <div class="col-sm col-max-width-sm">
                
                <div class="menu-buttons-container">
                  <button class="btn btn-menu no-outline" {{ action 'natIsCool' }}>SIGN UP</button>
                  {{#link-to 'login' tagName='button' class="btn btn-menu btn-alt"}}LOGIN{{/link-to}}
                </div>

              </div>
              
            </div>

            {{scroll-tester}}
          </div>

        </nav>
        
        {{/perfect-scroll}}

      </div>

    </div>

  </div>
  
  <div id="nav-body" class="home-nav-body">
    {{yield}}
  </div>
  
</div>