.x-toggle-light.x-toggle-btn {
  
  background: $bg-light;
  transition: background-color 0.4s;
  
  &.focus {
    @include form-focus-glow();
  }
}

.x-toggle:checked + .x-toggle-light.x-toggle-btn {
  background: $primary-master;
}