

/**
 * Loading slider bar
 */

$height: 4px;

.loading-slider {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 999;
  height: $height;
  width: 100%;
  
  /**
   * Ready
   */
  
  span {
    position: inherit;
    
    height: $height;
    width: 0%;
    opacity: 1;
    
    /**
     * COLOR
     * Must be light enough to be visible on darks, but dark enough to be visible on lights and whites.
     * Dark doesn't work well when menu is showing
     */
    background-color: saturate(darken($primary-master,1%),1%); // Primary;
    
    /**
     * States
     */
    
    &.animate {
      transition: width 2.2s ease(out-quad);
      width: 70%;
    }
    
    &.wait {
      transition: width 44s ease(out-quad);
      width: 99%;
    }
    
    &.complete {
      transition: width 0.777s ease(out-expo), opacity 1.111s ease(in-quad);
      width: 100%;
      opacity: 0;
    }
    
  }
  
}
