.user-image {
  width:44px;
  height:44px;
  &.user-image-small {
    width:28px;
    height:28px;
  }
  &.user-image-medium {
    width:36px;
    height:36px;
  }
  &.user-image-medium-lg {
    width:44px;
    height:44px;
  }
  &.user-image-medium-2x {
    width:58px;
    height:58px;
  }
  &.user-image-medium-3x {
    width:70px;
    height:70px;
  }
  &.user-image-medium-4x {
    width:77px;
    height:77px;
  }
  &.user-image-large {
    width:88px;
    height:88px;
  }
  &.user-image-huge {
    width:124px;
    height:124px;
  }
  &.user-image-gigantic {
    width:158px;
    height:158px;
  }
  display: inline-block;
  vertical-align:top; // Remove space below inline-block
}

.user-image-editable {
  
  .user-image {
    position:relative;
    i {
      color:$bg-dark-lighter-3x;
      position:absolute;
      bottom:-4px;
      right:-7px;
      //display:none;
    }
  }
  
  &:hover, &:active {
    i {
      //display:inline-block;
      transition: color $hover-animation-time;
      color:$primary-master;
    }
  }
    
}

.avatar-editor {
  margin-top:7px;
  @media #{$tablet-and-up} {
    margin-top:0px;
  }
}