$distance: 22px;
$animateCSSTime: 0.777s;

.animated {
  animation-duration: $animateCSSTime;
}
.animated-fast {
  animation-duration: 0.222s;
}

/**
 * For JS to read
 */
.animate-distance {
  height: $distance;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d($distance, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, $distance, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}