$distance: 22px;
$animateCSSTime: 0.777s;

.animated {
  animation-duration: $animateCSSTime;
}
.animated-fast {
  animation-duration: 0.222s;
}
.animated-fastish {
  animation-duration: 0.333s;
}
.animated-out-expo {
  animation-timing-function: ease(out-expo);
}

/**
 * For JS to read
 */
.animate-distance {
  height: $distance;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d($distance, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, $distance, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
    transform: none;
  }

  to {
    opacity: 0;
    transform: translate3d(0, $distance*2, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -$distance, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
    transform: none;
  }

  to {
    opacity: 0;
    transform: translate3d(0, -$distance*2, 0);
  }
}