html {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  background-color: $background-dark-global;
}

body {
  background-color: $background-dark-global;
  margin: 0;
  padding: 0;
}

$splash-logo-color: darken(desaturate(adjust-hue($primary-master,6%),25%),25%);
#splash {
  position:fixed;
  z-index:1001;
  width:100%;
  height:100%;
  top:0;
  left:0;
  background-color: #FFF;
  color:$splash-logo-color;
  text-align: center;
  line-height: 100vh;
  font-size: 77px;
  .splash-logo {
    display:none;
  }
  
  &.non-standalone {
    background-color:darken(saturate($primary-master,7%),1%);
    .splash-logo {
      display:inline-block;
    }
  }
  
  &.blocked {
    background-color: $bg-color-dark;
    .blocked-content {
      line-height: normal;
      display: inline-block;
      height: auto;
      max-width: 250px;
      font-size: 22px;
      color: $dark-text-on-dark;
      .blocked-logo {
        color: $dark-text-on-dark;
        font-size:100px;
      }
      h1 {
        color: $dark-text-on-dark;
        margin-bottom:50px;
      }
    }
  }
  
}

.page-container {
  width: 100%;
  max-width: 1250px;
}

.relative {
  position: relative;
}

.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.inline-block, .iblock {
  display: inline-block;
}

.fill {
  min-height: 100%;
  height: 100%;
}

#console {
  position: fixed;
  bottom: 0px;
  width: 100%;
  z-index: 999;
  height: 22vh;
  background-color: rgba(7, 7, 7, 0.8);
  overflow: hidden;
  border-top: 1px solid rgba(50, 50, 50, 0.8);
  padding-bottom: 7px;
  pointer-events: none;
}

.console-entry {
  color: #DDD;
  @include font-size(14px);
  margin: 5px 10px;
}

.console-date {
  color: lighten(saturate($secondary-master, 44%), 11%);
  font-weight: 700;
}

/**
 * Vertical Fill
 */
.vf-parent {
  height: 100%;
  display: flex;
  align-items: center;
}

.vf-child {
  height: 100%;
}

/**
 * Vertical align center
 */
.vc-parent {
  height: 100%;
  display: flex;
  align-items: center;
}

.vc-child {
  //
}

/**
 * Vertical align bottom
 */
.vb-parent {
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.vb-child {
  //
}

/**
 * Center horizontal and vertical
 */
.center-parent {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-child {
  //
}

.backboard-logo {
  width: 50vw;
  margin-top: 11vw;
  fill: #363742;
}

.gap-sm {
  margin-bottom: 5px !important;
}

.gap-md {
  margin-bottom: 10px !important;
}

.gap-lg,.gap-1x {
  margin-bottom: 15px !important;
}

.gap-2x {
  margin-bottom: 20px !important;
}

.gap-3x {
  margin-bottom: 30px !important;
}

.gap-4x {
  margin-bottom: 40px !important;
}

.gap-5x {
  margin-bottom: 50px !important;
}

/**
 * Hiding stuff
 */

.hidden-sm-down {
  @media #{$tablet-and-down} {
    display: none !important;
  }
}

.hidden-md-down {
  @media #{$tablet-wide-and-down} {
    display: none !important;
  }
}

.hidden-sm-up {
  @media #{$tablet-and-up} {
    display: none !important;
  }
}

.hidden-md-up {
  @media #{$tablet-wide-and-up} {
    display: none !important;
  }
}

.visible-vs {
  @media #{$vertically-small} {
    display: block !important;
  }
}

/**
 * Flex helpers
 */

.flex-col {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  
}
.flex-col-center {
  justify-content: center;
}

/**
 * Loading slider bar
 */

.loading-slider {
  /**
   * COLOR
   * Must be light enough to be visible on darks, but dark enough to be visible on lights and whites.
   */
  color: saturate(darken($primary-master,1%),1%); // Primary
  
  // Dark doesn't work well when menu is showing
  //color: desaturate(darken($secondary-master,35%),25%); // Dark
  
  // Override
  height:3px;
  span {
    height:3px;
  }
}