html {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  background-color: $bg-dark-lighter;
  
  // Force vertical scroll bar
  overflow-y: scroll;
  
  // Set webkit highlight color
  //-webkit-tap-highlight-color: rgba($bg-dark,0.33);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

$body-bg-color-wide: darken($bg-dark-lighter,1%);
body {
  background-color: $body-bg-color-wide;
  
  // For mobile, where the bg image sits at top and fades to darkness
  @media #{$tablet-tall-and-down} {
    background-color: $bg-dark;
  }
  
  margin: 0;
  padding: 0;
  overflow-y: initial; /* avoid the double scroll */
}

.no-webkit-highlight {
  // Set webkit highlight color
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

$splash-logo-color: darken(desaturate(adjust-hue($primary-master,6%),25%),25%);
#splash {
  position:fixed;
  z-index:1001;
  width:100%;
  height:100%;
  top:0;
  left:0;
  background-color: #FFF;
  color:$splash-logo-color;
  text-align: center;
  line-height: 100vh;
  font-size: 77px;
  .splash-logo {
    display:none;
  }
  
  &.non-standalone {
    background-color:darken(saturate($primary-master,7%),1%);
    .splash-logo {
      display:inline-block;
    }
  }
  
  &.blocked {
    background-color: $bg-dark;
    .blocked-content {
      line-height: normal;
      display: inline-block;
      height: auto;
      max-width: 250px;
      font-size: 22px;
      color: $secondary-dark-on-dark;
      .blocked-logo {
        color: $secondary-dark-on-dark;
        font-size:100px;
      }
      h1 {
        color: $secondary-dark-on-dark;
        margin-bottom:50px;
      }
    }
  }
  
}

.page-container {
  width: 100%;
  margin: 0 auto;
}
.page-container-left {
  margin: 0 auto 0 0;
}
.page-container-sm {
  @extend .page-container;
  max-width:590px;
  @media #{$mobile} {
    max-width:none;
  }
}

.page-container-md {
  @extend .page-container;
  max-width:700px;
  @media #{$mobile} {
    max-width:none;
  }
}

.page-container-lg {
  @extend .page-container;
  max-width:1000px;
  @media #{$mobile} {
    max-width:none;
  }
}

.relative {
  position: relative;
}

.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.inline-block, .iblock {
  display: inline-block;
}

.fill {
  min-height: 100%;
  height: 100%;
}

#console {
  position: fixed;
  bottom: 0px;
  width: 100%;
  z-index: 999;
  height: 22vh;
  background-color: rgba(7, 7, 7, 0.8);
  overflow: hidden;
  border-top: 1px solid rgba(50, 50, 50, 0.8);
  padding-bottom: 7px;
  pointer-events: none;
}

.console-entry {
  color: #DDD;
  @include font-size(14px);
  margin: 5px 10px;
}

.console-date {
  color: lighten(saturate($secondary-master, 44%), 11%);
  font-weight: 700;
}


.backboard-logo {
  width: 50vw;
  margin-top: 11vw;
  fill: #363742;
}

/**
 * Hide for accessibility
 * Hidden from view, but not from screen-readers
 */
.hidden-but-accessible {
  position: absolute !important;
  top:0px;
  left:0px;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

/**
 * Flex helpers
 */

.flex-col {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  
}
.flex-col-center {
  justify-content: center;
}

/**
 * Performance
 */

// Overuse can cause crios to crash
.make3d {
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  //transform:translateZ(1px);
}

/**
 * Resets
 * DONT add !important so they can still be overridden at class level on the element
 */
.reset-margins {
  margin:0;
}
.reset-padding {
  padding:0;
}
.reset-box {
  margin:0;
  padding:0;
}

/**
 * Charts.js custom tips
 */

$color: rgba($bg-dark-lighter, .8);

.chartjs-tooltip {
    position: absolute;
    background: $color;
    color: white;
    padding: 3px 7px;
    border-radius: $border-radius;
    pointer-events: none;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    white-space: nowrap;
    z-index:99;
    opacity: 0;
    transition:opacity 0.222s;
}
.chartjs-tooltip.below {
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
}
.chartjs-tooltip.below:before {
    border: solid;
    border-color: $color transparent;
    border-width: 0 8px 8px 8px;
    top: 0;
    content: "";
    display: block;
    left: 50%;
    position: absolute;
    z-index: 99;
    transform: translate(-50%, -100%);
    -webkit-transform: translate(-50%, -100%);
}
.chartjs-tooltip.above {
    transform: translate(-50%, -100%);
}
.chartjs-tooltip.above:before {
    border: solid;
    border-color: $color transparent;
    border-width: 8px 8px 0 8px;
    bottom: 0;
    content: "";
    display: block;
    left: 50%;
    top: 100%;
    position: absolute;
    z-index: 99;
    transform: translate(-50%, 0);
}

/**
 * Dev
 */

.bg-tomato, .debug {
  background-color: tomato;
}

// Magic fix
.border-radius-fix {
  // http://stackoverflow.com/questions/10314207/webkit-not-respecting-overflowhidden-with-border-radius
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}