
@function hoverColor( $color, $lighten:true ){
  @if $lighten {
    @return saturate( lighten( $color, 5% ), 5% );
  } @else {
    @return darken( $color, 5% );
  }
}

@function pressColor( $color ){
  @return darken( $color, 5% );
}

$button-border-radius: 4px;

$button-color: #3b579d;
$fb-button-color: #24305b;
$alt-button-color: #7ba42a;



/**
 * Override bootstrap css buttons
 */

/**
 * :hover must include non-hover properties for touch devices where hover state 'sticks'
 */
.btn, .btn:hover {
  color:#FFF;
  background-color: $button-color;
  font-weight:600;
  display: inline-block;
  cursor: pointer;
  border-radius: $button-border-radius;
  border: none;
  user-select: none;
  //transition: background-color 0.111s;
  &.hover {
    color: #FFF;
    background-color: hoverColor($button-color);
  }
  &.press {
    background-color: pressColor($button-color);
    transform: translate3d(0,1px,0);
  }
  &:focus {
    color: #FFF;
  }
  &:active {
    transform: translate3d(0,1px,0);
    //box-shadow: 0px 44px 30px -44px rgba(0,0,0,0.444) inset;
  }
}

.btn-big {
  padding:15px 22px;
  @include font-size(29px);
  @media #{$mobile} {
    font-size: 4.4vmin;
    padding:4vmin 4.4vmin 3.6vmin;
  }
  @media #{$tablet} {
    @include font-size(28px);
  }
}

.no-outline {
  &:focus,&:active {
    outline: none !important;
  }
}

.btn-fb, .btn-fb:hover {
  background-color: $fb-button-color;
  @include retina-img-overlay("/assets/images/social/fb.png", "/assets/images/social/fb-2x.png", scale(26,50,0.7), 4% center );
  padding-left:44px;
  
  @media #{$mobile} {
    background-size: scale-vmin(26,50,3.3);
    background-position: 5% center;
    padding-left:10vmin;
  }
  @media #{$tablet} {
    background-size: scale(26,50,0.7);
  }
  &.hover {
    color: #FFF;
    background-color: hoverColor($fb-button-color);
  }
  &.press {
    color: #FFF;
    background-color: pressColor($fb-button-color);
  }
  &:focus,&:active {
    @include retina-img-overlay("/assets/images/social/fb.png", "/assets/images/social/fb-2x.png", scale(26,50,0.7), 4% center );
    @media #{$mobile} {
      background-size: scale-vmin(26,50,3.3);
      background-position: 5% center;
      padding-left:10vmin;
    }
    @media #{$tablet} {
      background-size: scale(26,50,0.7);
    }
  }
}

.btn-alt, .btn-alt:hover {
  background-color: $alt-button-color;
  
  &.hover {
    color: #FFF;
    background-color: hoverColor($alt-button-color);
  }
  &.press {
    color: #FFF;
    background-color: pressColor($alt-button-color);
  }
}