
/**
 * Primaries
 */

$hue-adjust: 0; // Degrees
$primary-master: adjust-hue(hsl(88, 55%, 57%),$hue-adjust);
$primary-master: adjust-hue(hsl(83, 50%, 53%),$hue-adjust);
$primary-master: adjust-hue(hsl(82, 50%, 50%),$hue-adjust);
$secondary-master: adjust-hue(hsl(222,44%,50%),$hue-adjust);


// More colour in secondary
$secondary-master: adjust-hue(hsl(224,52%,50%),$hue-adjust);

// On release?
//$secondary-master: adjust-hue(hsl(224,55%,50%),$hue-adjust);


/**
 * Primary Colors
 */

$primary-dark: adjust-hue(desaturate(darken($primary-master,15%),4%),4%);
$primary-darker: desaturate(darken($primary-dark,10%),5%);
$primary-on-dark: saturate(lighten($primary-master,5%),5%);
$primary-on-image: saturate(lighten($primary-master,1%),3%);


/**
 * Secondary Colors
 */
$secondary-on-dark: lighten(saturate($secondary-master,1%),15%);
$secondary-dark: darken(desaturate($secondary-master,11%),22%);
$secondary-dark-on-dark: darken(desaturate($secondary-master,11%),17%);


/**
 * Background Colors
 */

$bg-dark: desaturate(darken($secondary-master,35%),22%);
$bg-dark-lighter: desaturate(darken($secondary-master,29%),22%);
$bg-dark-lighter-2x: desaturate(darken($secondary-master,19%),29%);
$bg-light: lighten($secondary-master,44%);



/**
 * Text Colors
 */

$primary-text-color: desaturate(darken($secondary-master,22%),40%);
$text-lighter: desaturate(lighten($primary-text-color,11%),11%);
$text-lighter-2x: lighten($text-lighter,11%);
$text-lighter-3x: lighten($text-lighter,22%);
$text-lighter-4x: lighten($text-lighter,33%);
$primary-text-on-dark: desaturate(lighten($secondary-master,44%),44%);

/**
 * Forms
 */

$placeholder-color: darken(desaturate($secondary-master,39%),10%) !important;

// On primary background
$notice-text-color: darken($primary-master,40%);

$h1-on-dark: desaturate(darken($secondary-master,18%),44%);
$h2-on-dark: $secondary-on-dark;
$h3-on-dark: $primary-on-dark;

/**
 * Button Colors
 */

$button-color: $primary-master;
$alt-button-color: $primary-master;

$dark-button-color: darken($secondary-master,33%);
$dark-button-content-color: darken($secondary-master,22%);

/**
 * Errors
 */
$error-color: #B73A4E;
$error-color-on-dark: saturate(lighten($error-color,11%),33%);

/**
 * Warnings
 */

$warning-background-color: #e1c153;
$warning-text-color: #4f3517;

/**
 * Classes which can be read dynamically within JS later
 */
.bg-master {
  background-color: $primary-master;
}
.bg-dark {
  background-color: $bg-dark;
}
.bg-dark-lighter {
  background-color: $bg-dark-lighter;
}
.bg-light {
  background-color: $bg-light;
}

/**
 * Classes for general use
 */
.bg-override-master {
  background-color: rgba($primary-master,0.9) !important;
}
.bg-override-master-dark {
  background-color: rgba(desaturate(darken($primary-master,11%),7%),0.9) !important;
}
.bg-override-secondary {
  background-color: rgba(desaturate(darken($secondary-master,22%),15%),0.9) !important;
}
.bg-override-dark {
  background-color: rgba($bg-dark,0.9) !important;
}
.bg-override-dark-lighter {
  background-color: rgba($bg-dark-lighter,0.9) !important;
}
.bg-override-light {
  background-color: rgba($bg-light,0.9) !important;
}

/**
 * Placeholder colors
 */

$placeholder-bg-color: #e8ebf8;
$placeholder-color: #cbd1eb;
