
/**
 * Primaries
 */

$hue-adjust: 0deg; // Degrees
$primary-master: adjust-hue(hsl(88, 55%, 57%),$hue-adjust);
$primary-master: adjust-hue(hsl(83, 50%, 53%),$hue-adjust);
$primary-master: adjust-hue(hsl(82, 50%, 50%),$hue-adjust);

$primary-hue:90;
$primary-master: adjust-hue(hsl($primary-hue, 52%, 50%),$hue-adjust);

// Greener
//$secondary-master: adjust-hue(hsl(211,59%,44%),$hue-adjust);

// More colour in secondary
//$secondary-master: adjust-hue(hsl(222,52%,50%),$hue-adjust); // Used this for a long time
$secondary-master: adjust-hue(hsl(222,55%,50%),$hue-adjust);
//$secondary-master: adjust-hue(hsl(227,52%,50%),$hue-adjust); // More contrast against the green
//$secondary-master: adjust-hue(hsl(233,52%,50%),$hue-adjust); // Getting too purple?

// On release?
//$secondary-master: adjust-hue(hsl(224,55%,50%),$hue-adjust);

/**
 * Primary Colors
 */

$primary-dark: adjust-hue(desaturate(darken($primary-master,15%),4%),4%);
$primary-darker: desaturate(darken($primary-dark,10%),5%);
$primary-on-dark: saturate(lighten($primary-master,5%),5%);
$primary-on-image: saturate(lighten($primary-master,1%),3%);


/**
 * Secondary Colors
 */
$secondary-on-dark: saturate(lighten($secondary-master,17%),100%);
$secondary-on-dark-lighter: saturate(lighten($secondary-master,25%),100%);
$secondary-on-dark-lighter-2x: saturate(lighten($secondary-master,33%),100%);
$secondary-on-dark-lighter-3x: saturate(lighten($secondary-master,40%),100%);
$secondary-dark: darken(desaturate($secondary-master,11%),22%);
$secondary-dark-on-dark: darken(desaturate($secondary-master,11%),17%);


/**
 * Background Colors
 */

$bg-dark: desaturate(darken($secondary-master,35%),22%);
$bg-dark-lighter: desaturate(darken($secondary-master,29%),22%);
$bg-dark-lighter-2x: desaturate(darken($secondary-master,19%),25%);
$bg-dark-lighter-3x: desaturate(darken($secondary-master,11%),25%);
$bg-dark-lighter-4x: desaturate(darken($secondary-master,1%),27%);
$bg-dark-lighter-5x: desaturate(lighten($secondary-master,4%),27%);
$bg-darker: darken($bg-dark,7%);
$bg-light: lighten($secondary-master,44%);
$bg-light-darker: desaturate(darken($bg-light,5%),5%);
$bg-light-darker-2x: desaturate(darken($bg-light,10%),7%);
$bg-light-darker-3x: desaturate(darken($bg-light,15%),11%);
$bg-light-darker-4x: desaturate(darken($bg-light,22%),15%);
$bg-light-darker-5x: desaturate(darken($bg-light,33%),22%);



/**
 * Text Colors
 */

$primary-text-color: desaturate(darken($secondary-master,27%),33%);
$text-lighter: desaturate(lighten($primary-text-color,7%),7%);
$text-lighter-2x: lighten($text-lighter,11%);
$text-lighter-3x: lighten($text-lighter,22%);
$text-lighter-4x: lighten($text-lighter,33%);
$primary-text-on-dark: desaturate(lighten($secondary-master,44%),44%);
$text-on-dark: $primary-text-on-dark;

/**
 * Forms
 */

$placeholder-color: darken(desaturate($secondary-master,39%),10%) !important;

// On primary background
$notice-text-color: darken($primary-master,40%);

$h1-on-dark: desaturate(darken($secondary-master,18%),44%);
$h2-on-dark: $secondary-on-dark;
$h3-on-dark: $primary-on-dark;

/**
 * Button Colors
 */

$button-color: $primary-master;
$alt-button-color: $primary-master;

$dark-button-color: darken($secondary-master,33%);
$dark-button-content-color: darken($secondary-master,22%);

/**
 * Errors
 */
$error-hue: 352;
$error-color: hsl($error-hue, 70, 55 );
$error-color-on-dark: saturate(lighten($error-color,9%),44%);

/**
 * Warnings
 */

$warning-background-color: #E1BE48;
$warning-text-color: #4f3517;

/**
 * Classes which can be read dynamically within JS later
 */
.bg-master {
  background-color: $primary-master;
}
.bg-secondary {
  background-color: $secondary-master;
}
.bg-dark {
  background-color: $bg-dark;
}
.bg-dark-lighter {
  background-color: $bg-dark-lighter;
}
.bg-dark-lighter-2x {
  background-color: $bg-dark-lighter-2x;
}
.bg-dark-lighter-3x {
  background-color: $bg-dark-lighter-3x;
}
.bg-dark-lighter-4x {
  background-color: $bg-dark-lighter-4x;
}
.bg-dark-lighter-5x {
  background-color: $bg-dark-lighter-5x;
}
.bg-light {
  background-color: $bg-light;
}
.primary-text-color {
  background-color: $primary-text-color;
}
.bg-error {
  background-color: $error-color;
}

/**
 * Classes for general use
 */
.bg-override-master {
  background-color: rgba($primary-master,0.9) !important;
}
.bg-override-master-dark {
  background-color: rgba(desaturate(darken($primary-master,11%),7%),0.9) !important;
}
.bg-override-secondary {
  background-color: rgba(desaturate(darken($secondary-master,22%),15%),0.9) !important;
}
.bg-override-dark {
  background-color: rgba($bg-dark,0.9) !important;
}
.bg-override-dark-lighter {
  background-color: rgba($bg-dark-lighter,0.9) !important;
}
.bg-override-light {
  background-color: rgba($bg-light,0.9) !important;
}

/**
 * Placeholder color
 * (Image placeholders)
 */

$placeholder-bg-color: #e8ebf8;
