/**
 * For icon sizing
 */
.icon-sm {
  font-size: 75%;
}

.icon-smd {
  font-size: 90%;
}

.icon-md {
  font-size: 125%;
}

.icon-lg {
  font-size: 150%;
}

.icon-1-5x {
  font-size: 165%;
}

.icon-xl {
  font-size: 175%;
}

.icon-2x {
  font-size: 200%;
}

.icon-2xl {
  font-size: 250%;
}

.icon-3x {
  font-size: 300%;
}

.icon-4x {
  font-size: 400%;
}

/**
 * Vertically align icons
 */
.icon-vcenter {
  vertical-align: middle;
  line-height: 100%;
  display: inline-block;
  margin-top: -1px;
  
  // For icons taller than the parent
  // Causes wierd jumping during resize (not a big deal)
  //margin-top: -50%;
  //margin-bottom: -49%; 
}

.icon-ios-back{
  font-size: 140%;
  @extend .icon-vcenter;
}

.icon-less-width {
  margin-left: -3px;
  margin-right: -3px;
}

.icon-less-left {
  margin-left: -5px;
}

.icon-lesser-left {
  margin-left: -8px;
}

/**
 * Special settings per icon
 */

.icon-logo {
  margin-left: -4px;
  margin-right: -4px;
  
  &.icon-md {
    margin-left: -5px;
    margin-right: -5px;
  }
}

.icon-chat {
  margin-left: 2px;
  margin-right: 2px;
}

.icon-list-numbered {
  margin-left: 0;
  margin-right: 4px;
}