
/**
 * For icon sizing
 */
.icon-md {
  font-size: 125%;
}
.icon-lg {
  font-size: 150%;
}
.icon-2x {
  font-size: 200%;
}

/**
 * Vertically align icons
 */
.icon-v {
  vertical-align: middle;
  line-height:100%;
  display:inline-block;
}