/**
 * Variables
 */

$focus-border-thickness: 1px;
$focus-border-color: lighten(saturate(adjust-hue($secondary-master,-4),22%),7%);
$focus-inset-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
$focus-shadow: 0 0 8px rgba($focus-border-color, 0.333);

// Button style (not in buttons.scss since it's needed here, and forms.scss needs to come before buttons.scss)
$button-inset-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
$button-inset-shadow-on-dark: inset 0 3px 5px rgba(0, 0, 0, 0.25);

/**
 * Mixins
 */

@mixin reset-focus {
  transition: none;

  &:focus {
    /**
     * Note
     * Overrides of box-shadow will need to be !important
     */
    -webkit-appearance: none !important;
    outline: 0 none !important;
    box-shadow: none;
    border: none;
  }
}

@mixin no-focus {
  transition: none;
  border: none;

  &:focus {
    -webkit-appearance: none !important;
    box-shadow: none !important;
    outline: 0 none !important;
    border: none !important;
  }
}

@mixin form-focus-raw {
  border: $focus-border-thickness $focus-border-color solid !important;
  box-shadow: $focus-inset-shadow, $focus-shadow !important;
}

/**
 * Needs to be this heavy since no blue border
 */
@mixin form-focus-glow {
  box-shadow: 0 0 11px rgba($focus-border-color, 0.59) !important;
}

/**
 * Needs to be this heavy since no blue border
 */
@mixin form-focus-glow-on-dark {
  $color: rgba(lighten(saturate($focus-border-color,11%),11%), 0.999);
  $color: rgba($primary-master, 0.888);
  box-shadow: 0 0 11px $color !important;
}

@mixin hover-form-raw {
  border: $focus-border-thickness $focus-border-color solid !important;
}

@mixin hover-form {
  &:hover {
    @include hover-form-raw;
  }
}

@mixin active-form {
  &:active {
    @include form-focus-raw;
  }
}

@mixin form-focus {
  transition: box-shadow .11s;
  &:focus {
    @include form-focus-raw;
  }
}

@mixin focus-button {
  
  @include reset-focus;
  
}

@mixin form-focus-button-raw {
  
  $outer-glow: 0 0 8px rgba(saturate($primary-master, 11%), 0.333);
  background-color: hoverColor($button-color);
  box-shadow: $outer-glow !important;
  
  &:active {
    box-shadow: $button-inset-shadow, $outer-glow !important;
  }
  
  &.btn-on-dark:active {
    box-shadow: $button-inset-shadow-on-dark, $outer-glow !important;
  }
  //box-shadow: inset 0 0 0 $focus-border-thickness rgba(white, 0.59), 0 0 8px rgba(saturate($primary-master, 11%), 0.8) !important;
  
}

@mixin form-focus-button {
  
  @include reset-focus;
  
  //transition: border-color 0.11s ease-in-out, box-shadow 0.11s ease-in-out;

  &:focus {
    @include form-focus-button-raw;
  }
}

@mixin focus-button-ghost {
  
  @include reset-focus;
  
  &.white:focus {
    border: 1px solid white;
  }
  
}

@mixin form-focus-button-ghost {
  
  &:focus {
    background-color: transparent;
    color: $button-color;
    border: 1px solid $form-border-color;
  }
  
}

@mixin focus-button-fb {
  @include focus-button;
}

@mixin form-focus-button-fb {
  @include focus-button;

  &:focus {
    background-color: hoverColor($fb-button-color);
    box-shadow: 0 0 11px rgba(lighten(saturate($secondary-master, 50%),15%),0.333) !important;
  }
}

$active-border-color: darken($secondary-master, 22%);

/**
 * Form basics
 */

// Must precede with 'form' to avoid affecting label elements added sometimes by ember-i18n
// Use class="label" if not in a form
form label, .label {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 5px; // Use padding so there's no hover gap between label and element
  margin-bottom: 0;
  display: block;
  @media #{$mobile} {
    font-size:15px;
  }
  &.ember-radio-button {
    font-weight: normal;
  }
}

.dark label, .dark .label {
  color: desaturate($bg-light-darker-4x,7%);
}

/**
 * Text box basics
 */

$form-border-color: lighten(desaturate($secondary-master,30%),30%);

input[type="text"], input[type="password"], input[type="email"], textarea, textarea.form-control {
  border-radius: $border-radius;
  border-width: $focus-border-thickness !important;
  border-color: $form-border-color;
  line-height:normal;

  font-size:18px;
  @media #{$mobile} {
    font-size:16px;
  }
  
  color: $primary-text-color;
  -webkit-appearance: none;
  box-shadow: none;
  @include form-focus;
  @include active-form;
  @include hover-form;
  
  &:disabled {
    background-color: lighten($bg-light,4%);
    border-color: lighten($form-border-color,11%);
    color: desaturate(lighten($primary-text-color,15%),4%);
    &:hover, &:active {
      border-color: lighten($form-border-color,11%) !important;
      box-shadow: none !important;
    }
  }
  
}
input[type="text"], input[type="password"], input[type="email"] {
  height:48px;
  padding: 5px 15px 7px;
  @media #{$mobile} {
    height:44px;
    padding: 6px 12px;
  }
}
textarea, textarea.form-control {
  padding: 11px 15px;
  @media #{$mobile} {
    padding: 8px 12px;
  }
  min-height:44px;
}

/**
 * Fix IE padding
 * IE 9 and above
 * http://stackoverflow.com/questions/20541306/how-to-write-a-css-hack-for-ie-11
 */
@media screen and (min-width:0\0) and (min-resolution: +72dpi) {
  // IE9+ CSS
  input[type="text"], input[type="password"] {
  //line-height:40px !important;
  }
}

/**
 * Fix IE ridiculousness
 */
::-ms-clear { display: none; }
::-ms-reveal { display: none; }



/**
 * Override some bootstrap stuff
 */

.has-error .form-control {
  box-shadow: none;
  @include form-focus;
  @include active-form;
  @include hover-form;
}

.form-control-feedback {
  top: 7px;
  right: 7px;
}
.control-label {
  line-height:200%;
  //padding: $border-radius;
}
.has-error {
  .form-control {
    border-color:$error-color;
  }
  .form-control-feedback, .control-label {
    color:$error-color;
  }
}
.dark .has-error {
  .form-control-feedback, .control-label {
    color:$error-color-on-dark;
  }
}

.dark .alert-danger.alert-minimal {
  color:$error-color-on-dark;
  background-color: transparent;
  border: none;
  padding: 0;
  //font-weight: normal;
}

// Only pad right if error is showing
.has-feedback {
  // Ensure icons don't overlap text
  .form-control {
    padding-right: 10px;
  }
}
.has-feedback.has-error {
  // Enable absolute positioning
  position: relative;

  // Ensure icons don't overlap text
  .form-control {
    padding-right: ($input-height-base * 1.25);
  }
}

/**
 * Text box color modes
 */

$color: darken(desaturate($secondary-master, 15%), 40%);
$text-color: #EEE;

input[type="text"].dark, input[type="password"].dark {
  background-color: $color;
  border-color: $color;
  color: $text-color;
}
// Chrome autofill yellow background fix
input:-webkit-autofill.dark {
  background-color: $color;
  -webkit-box-shadow: 0 0 0px 1000px $color inset;
  -webkit-text-fill-color: $text-color;
  border-radius: $border-radius;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

/**
 * Placeholder color
 */

$placeholder-color: darken($form-border-color,7%);

::-webkit-input-placeholder {
   color: $placeholder-color !important;
}

:-moz-placeholder { /* Firefox 18- */
   color: $placeholder-color !important;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $placeholder-color !important;  
}

input:-ms-input-placeholder {  
   color: $placeholder-color !important;  
}

/**
 * Misc
 */

.sort-order-button {
  width:40px;
  font-size: 25px;
}