@mixin retina-img ($url, $url2x, $w, $h) {
  @include img-retina($url, $url2x, $w, $h);
  width: $w;
  height: $h;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  // So that it appears above borders (lighting)
  position: relative;
}

@mixin retina-img-overlay ($url, $url2x, $size, $position) {
  background-image: url(if($bootstrap-sass-asset-helper, twbs-image-path("#{$url}"), "#{$url}"));
  background-repeat: no-repeat;
  background-size: $size;
  background-position: $position;
  // So that it appears above borders (lighting)
  position: relative;
  
  @media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) {
    background-image: url(if($bootstrap-sass-asset-helper, twbs-image-path("#{$url2x}"), "#{$url2x}"));
  }
}

@mixin retina-cover-background($file-1x, $file-2x) {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(if($bootstrap-sass-asset-helper, twbs-image-path("#{$file-1x}"), "#{$file-1x}"));
  
  @media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) {
    background-image: url(if($bootstrap-sass-asset-helper, twbs-image-path("#{$file-2x}"), "#{$file-2x}"));
  }
}

@mixin cover-background($file){
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(if($bootstrap-sass-asset-helper, twbs-image-path("#{$file}"), "#{$file}"));
}

@mixin cover-background-tinted($file,$tint,$bg-position: center center,$default-bg-color: #FFF){
  
  position:relative;
  z-index:2;
  background:none;
  
  // Place bg image in before
  &:before {
    position:absolute;
    display: block;
    z-index:-2;
    width:100%;
    height:100%;
    top:0;
    left:0;
    right:0;
    //bottom:0;
    background-color: $default-bg-color;
    @include cover-background($file);
    background-position: $bg-position;
    content: ""; // Necessary
  }
  
  // Place tint after
  &:after {
    position:absolute;
    display: block;
    z-index: -1;
    width:100%;
    height:100%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: $tint;
    content: ""; // Necessary
  }
  
}

@mixin cover-background-tinted-min($file,$tint,$bg-position: center center){
  
  // Place bg image in before
  &:before {
    @include cover-background($file);
    background-position: $bg-position;
  }
  
  // Place tint after
  &:after {
    background: $tint;
  }
  
}

@mixin placholder-image($file){
  
  position:relative;
  @include cover-background($file);
  
}

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

@mixin smooth-animation {
  //-webkit-transform: rotateZ(360deg);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}

@mixing clearfix {
	@extend .clearfix;
}