$primary-font: "lato", Helvetica, Arial, sans-serif;
$font: $primary-font;

$writing-font: $primary-font;

$serif-font: "ff-zine-slab-display-web";
$heading-font: "ff-zine-slab-display-web";

$sports-font: "proxima-nova", Helvetica, Arial, sans-serif;
$hover-animation-time: 0.150s ease(out-quad);

body {
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  font-family: $primary-font;
  color: $primary-text-color;
  line-height: 1.55;
}

a {
  cursor: pointer;
  //color: #337ab7; // Bootstrap
  color: darken($primary-master, 11%);

  &:visited {
    color: darken($primary-master, 11%);
  }
  
  transition: border-color $hover-animation-time;
  border-bottom: 2px solid rgba(darken($primary-master, 11%),0);

  &:hover {
    color: darken($primary-master, 11%);
    //text-decoration: underline;
    text-decoration: none;
    border-color: rgba(darken($primary-master, 11%), 0.7);
  }

  &.btn-a, &.btn-a:hover {
    // Increase touch area
    display: inline-block;
    border-box: content-box;
    padding: 5px 10px;
    margin: -5px -10px;
    border-bottom: none;
    color: $primary-master;
    text-decoration: none;

    &.hover {
      color: saturate(lighten($primary-master, 20%), 30%);
      text-decoration: none;
    }

    &.press {
      color: rgba($primary-master, 0.5);
      text-decoration: none;
    }
  }

  &.btn-a-white, &.btn-a-white:hover {
    color: #FFF;

    &.hover {
      color: rgba(#FFF, 0.59);
    }

    &.press {
      color: rgba(#FFF, 0.5);
    }
  }

  &:active, &:focus {
    text-decoration: none;
  }
}

.dark {
  color: $text-on-dark;

  a {
    color: $primary-on-dark;

    &:hover, &:active {
      color: $primary-on-dark;
    }
  }
}

/**
 * In the parent level of H* styles only size, font, and weight should be specified. Not color. 
 * In child classes, or a styles, color is fine
 */

h1 {
  
  font-family: $heading-font;
  font-size: 44px;
  font-weight: 900;
  
}

h2 {
  
  //color: $secondary-master;
  font-size: 25px;
  font-weight: 800;
  text-transform: uppercase;
  font-style: italic;
  font-family: $sports-font;

  a {
    color: $secondary-dark;
    font-weight: 800;
    border-bottom: none;
    text-decoration: none;
    transition: color $hover-animation-time;

    &:visited {
      color: $secondary-dark;
    }

    &:hover, &:active {
      text-decoration: none;
      color: $primary-master;
      //color: darken(desaturate($secondary-master,22%),11%);
      border-bottom: none;
    }
  }
  
}

h3 {
}

h4 {
}

h5 {
  font-family: $heading-font;
  text-transform: uppercase;
  font-size: 27px;
  font-weight: 900;
  margin: 22px 0 11px;
}

h6 {
  font-family: $heading-font;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 900;
  margin: 20px 0 4px;
}

.panel-title {
  display: block;
  font-family: $sports-font;
  text-transform: uppercase;
  font-weight: 600;
  margin: -5px 0 0 0;
}

p {
  font-family: $writing-font;
  margin-bottom: 11px;
}

article {
  p {
    font-size: 17px;
    line-height: 1.55;
  }
}

.nowrap-xs, .nowrap {
  white-space: nowrap;
}

@media only screen and (min-width: $screen-sm-min) {
  .nowrap-sm {
    white-space: nowrap;
  }
}

@media only screen and (min-width: $screen-md-min) {
  .nowrap-md {
    white-space: nowrap;
  }
}

@media only screen and (min-width: $screen-lg-min) {
  .nowrap-lg {
    white-space: nowrap;
  }
}

/**
 * General text colors
 * 
 * NOTE: Form error text should be styled in forms.scss
 */
.notice {
  background-color: desaturate(lighten($primary-master,4%),2%);

  color: $notice-text-color;

  $color: lighten($notice-text-color, 22%);
  $color: white;

  a {
    color: $color;

    &:visited {
      color: $color;
    }

    &:hover {
      color: $color;
      border-bottom: 2px solid rgba($color, 0.7);
    }
  }
}

// .error is used by modals
.warning,.error {
  background-color: $warning-background-color;
  color: $warning-text-color;
  
  
  $color: lighten($warning-text-color, 22%);

  a {
    color: $color;

    &:visited {
      color: $color;
    }

    &:hover {
      color: $color;
      border-bottom: 2px solid rgba($color, 0.7);
    }
  }
}

.text-loader {
  vertical-align: middle;
  line-height: 100%;
  display: inline-block;
  margin: 4px;
  height: auto;
  width:33px;
}