$primary-font: "lato", Helvetica, Arial, sans-serif;
$font: $primary-font;

$writing-font: $primary-font;

$serif-font: "ff-zine-slab-display-web";
$heading-font: "ff-zine-slab-display-web";

$sports-font: "proxima-nova", Helvetica, Arial, sans-serif;
$hover-animation-time: 0.150s ease(out-quad);


/**
 * Primary font sizes
 */
$primary-font-size: 15.0px;
$article-font-size: 15.5px;
$primary-font-size-tablet-up: 15.5px; // 15.5px //16px
$article-font-size-tablet-up: 15.9px; // 15.5px //16px


body {
  -webkit-font-smoothing: antialiased;
  font-size: $primary-font-size;
  font-family: $primary-font;
  color: $primary-text-color;
  line-height: 1.55;
  @media #{$tablet-and-up} {
    font-size:$primary-font-size-tablet-up !important;
  }
}

article, blockquote {
  font-size: $article-font-size;
  p {
    font-size: $article-font-size;
    line-height: 1.59;
  }
  @media #{$tablet-and-up} {
    font-size: $article-font-size-tablet-up;
    p {
      font-size: $article-font-size-tablet-up;
      line-height: 1.59;
    }
  }
}

.dark {
  color: $primary-text-on-dark;
}

b, strong {
  font-weight: 800;
}

$default-link-color: darken($primary-master, 11%);

a {
  cursor: pointer;
  //color: #337ab7; // Bootstrap
  color: $default-link-color;

  &:visited {
    color: $default-link-color;
  }
  
  $initial-border: 2px solid rgba(darken($primary-master, 11%),0);
  $hover-border: rgba(darken($primary-master, 11%), 0.7);
  $hover-transition: border-color $hover-animation-time, color $hover-animation-time;
  
  transition: $hover-transition;
  border-bottom: $initial-border;

  &:hover {
    color: $default-link-color;
    //text-decoration: underline;
    text-decoration: none;
    border-color: $hover-border;
  }
  
  &.a-no-underline:hover {
    border-color: rgba(darken($primary-master, 11%),0);
  }

  &.btn-a, &.btn-a:hover {
    // Increase touch area
    display: inline-block;
    border-box: content-box;
    padding: 3px 7px;
    margin: -3px -7px;
    color: $default-link-color;
    text-decoration: none;
    border-bottom: none;
    
    /**
     * For CHILDREN of the btn-a element
     */
    .btn-a-hover {
      color: $default-link-color;
      border-bottom: $initial-border;
      transition: $hover-transition;
    }

    &.hover {
      color: saturate(lighten($default-link-color, 11%), 11%);
      text-decoration: none;
      .btn-a-hover {
        color: $default-link-color;
        border-color: $hover-border;
      }
    }

    &.press {
      color: rgba($default-link-color, 0.5);
      text-decoration: none;
    }
    
    /**
     * Disable hover on anchor
     */
    &.no-hover {
      border-bottom: none;
    }
    
    &.no-hover:hover {
      border-bottom: none;
      text-decoration: none;
    }
  }

  &.btn-a.white, &.btn-a.white:hover {
    color: #FFF;

    &.hover {
      color: rgba(#FFF, 0.59);
    }

    &.press {
      color: rgba(#FFF, 0.5);
    }
  }
  
  /**
   * dark-on-dark is for when over a dark background,
   * but normal color is darkish too
   */
  &.btn-a.dark-on-dark, &.btn-a.dark-on-dark:hover {
    $color: desaturate(darken($secondary-master,9%),22%);
    
    color: $color;
    
    &:hover,&:active {
      color: $primary-on-dark;
      border: none;
    }
    
  }
  
  /**
   * on-image is for when over an image
   */
  &.btn-a.on-dark, &.btn-a.on-dark:hover {
    $color: saturate(lighten($secondary-master,27%),100%);
    $color: $primary-on-dark;
    color: $color;
    
    &:not(.no-text-shadow){
      text-shadow: 0 0 22px rgba(black,0.88);
    }
    
    &.hover {
      color: #FFF;
    }

    &.press {
      color: lighten($color,5%);
    }
  }
  
  /**
   * on-panel is for when on the dark menu panel but when hovering, doesn't go primary, just lighter
   */
  &.btn-a.activatable, &.btn-a.activatable:hover {
    
    $color: desaturate(darken($secondary-master,9%),22%);
    
    color:$color;
    
    &.hover {
      color:lighten($color,11%);
    }
    
    &.active, &.active:hover {
      color:$primary-master;
      text-shadow: 0 0 11px rgba(lighten($primary-master,17%),0.27);
    }
    
    &.secondary {
      
      $color: $secondary-on-dark;
      
      //color:$color;
      
      &.hover {
        //color:lighten($color,11%);
      }
      
      &.active, &.active:hover {
        color:$color;
        text-shadow: 0 0 11px rgba(lighten($color,22%),0.22);
      }
      
    }
    
  }

  &:active, &:focus {
    color: $default-link-color;
    text-decoration: none;
    
    // Fix border outline on click in Firefox
    outline: none;
  }
  
  /**
   * Disable hover on anchor
   */
  &.no-hover {
    border-bottom: none;
  }
  
  &.no-hover:hover {
    border-bottom: none;
    text-decoration: none;
    // Don't specify color here
    // Should be done elsewhere. Otherwise breaks styling in other classes.
    //color: $primary-master;
  }
  
  .restore-hover {
    border-bottom: $initial-border;
    transition: $hover-transition;
  }
  
  /**
   * Allow restoring of hover on childre of anchor
   */
  &:hover .restore-hover {
    color: darken($primary-master, 11%);
    text-decoration: none;
    border-color: $hover-border;
  }
  
}

/**
 * Different press state on touch devices
 * Figured out this is just -webkit-tap-highlight-color
 */
/* .touch a {
  
  border: none;
  
  &:not(.non-text,.btn,.btn-a):hover {
    $color: $bg-light;
    border-radius:$border-radius;
    white-space: pre-wrap;
    border: none;
    
    // Use box shadow to make background bigger without using padding
    box-shadow: 5px 0 0 $color, -5px 0 0 $color;
    background-color: $color;
    text-decoration: none;
  }
  
  &:active, &:focus {
    // Prevent border/underline showing on mobile when focused
    border: none;
  }
} */

.dark {
  color: $primary-text-on-dark;

  a {
    color: $primary-on-dark;
    border-bottom: none;

    &:hover, &:active {
      color: white;
      border-bottom: none;
    }
  }
  
  &.white, .white {
    a {
      color: white;
      border-bottom: none;

      &:hover, &:active {
        color: $primary-on-dark;
        border-bottom: none;
      }
    }
  }
}

.white a {
  color: white;

  &:visited {
    color: white;
  }
  
  transition: border-color $hover-animation-time, color $hover-animation-time;
  border-bottom: 2px solid white;

  &:hover {
    color: white;
    border-color: rgba(white, 0.7);
  }
  
}

.no-extra-hitarea .btn-a, .no-extra-hitarea.btn-a {
  padding: 0 !important;
  margin: 0 !important;
}

/**
 * In the parent level of H* styles only size, font, and weight should be specified. Not color. 
 * In child classes, or a styles, color is fine
 */

h1 {
  
  font-family: $heading-font;
  font-size: 40px;
  font-weight: 900;
  
}

h2 {
  
  //color: $secondary-master;
  font-size: 22px;
  font-weight: 800;
  text-transform: uppercase;
  font-style: italic;
  font-family: $sports-font;
  
  
  font-family: $heading-font;
  font-style: normal;
  font-size: 25px;
  
  
  $a-color: desaturate($secondary-dark,7%);
  
  a {
    color: $a-color;
    font-weight: 800;
    border-bottom: none;
    text-decoration: none;
    transition: color $hover-animation-time;

    &:visited {
      color: $a-color;
    }

    &:hover, &:active {
      text-decoration: none;
      color: $primary-master;
      //color: darken(desaturate($secondary-master,22%),11%);
      border-bottom: none;
    }
  }
  
}

h3 {
  font-family: $primary-font;
  font-weight: bold;
  font-size: 27px;
}

h4 {
  font-family: $heading-font;
  text-transform: uppercase;
  font-size: 33px;
  font-weight: 900;
  margin: 27px 0 7px;
}

h5 {
  font-family: $sports-font;
  font-family: $primary-font;
  //text-transform: uppercase;
  font-size: 25px;
  font-weight: 900;
  margin: 22px 0 7px;
}

h6 {
  font-family: $sports-font;
  font-family: $primary-font;
  //text-transform: uppercase;
  font-size: 19px;
  font-weight: 900;
  margin: 20px 0 7px;
}

.panel-title {
  display: block;
  font-family: $sports-font;
  text-transform: uppercase;
  font-weight: 600;
  margin: -5px 0 0 0;
}

h1, h2, h3, h4, h5, h6 {
  &.top {
    margin-top:0;
  }
}

p {
  font-family: $writing-font;
  margin-bottom: 15px;
  
  
  /**
   * Wrap long words
   * https://justmarkup.com/log/2015/07/31/dealing-with-long-words-in-css/?mc_cid=ce70bb0280&mc_eid=3837bdf41e
   */
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

/**
 * Truncate long works with ellipsis
 */
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  /**
   * Must be display block to work
   * Can be inline-block, but if needed, should be done using override
   * otherwise we break other things like squad energy on mobile
   */
  display: block;
  &.ellipsis-clip {
    text-overflow: string ".";
  }
}

/**
 * Styles per screen size
 */

// Mobile
.nowrap-xs, .nowrap, .no-wrap {
  white-space: nowrap;
}
.text-center-xs {
  text-align: center;
}
.text-right-xs {
  text-align: right;
}
.text-left-xs {
  text-align: left;
}

// Mobile portrait only
@media only screen and (max-width: $screen-xs-min) {
  .nowrap-xxs, .no-wrap-xxs {
    white-space: nowrap;
  }
  .text-center-xxs {
    text-align: center;
  }
  .text-right-xxs {
    text-align: right;
  }
}

// Tablets
@media only screen and (min-width: $screen-sm-min) {
  .nowrap-sm, .no-wrap-sm {
    white-space: nowrap;
  }
  .text-center-sm {
    text-align: center;
  }
  .text-right-sm {
    text-align: right;
  }
  .text-left-sm {
    text-align: left;
  }
}

// Laptops
@media only screen and (min-width: $screen-md-min) {
  .nowrap-md, .no-wrap-md {
    white-space: nowrap;
  }
  .text-center-md {
    text-align: center;
  }
  .text-right-md {
    text-align: right;
  }
  .text-left-md {
    text-align: left;
  }
}

// Large screens
@media only screen and (min-width: $screen-lg-min) {
  .nowrap-lg, .no-wrap-lg {
    white-space: nowrap;
  }
  .text-center-lg {
    text-align: center;
  }
  .text-right-lg {
    text-align: right;
  }
  .text-left-lg {
    text-align: left;
  }
}

/**
 * General text colors
 * 
 * NOTE: Form error text should be styled in forms.scss
 */
.notice {
  background-color: desaturate(lighten($primary-master,4%),2%);

  color: $notice-text-color;

  $color: lighten($notice-text-color, 22%);
  $color: white;

  a {
    color: $color;

    &:visited {
      color: $color;
    }

    &:hover {
      color: $color;
      border-bottom: 2px solid rgba($color, 0.7);
    }
  }
}

// .error is used by modals
.warning,.error {
  background-color: $warning-background-color;
  color: $warning-text-color;
  
  
  $color: lighten($warning-text-color, 22%);

  a {
    color: $color;

    &:visited {
      color: $color;
    }

    &:hover {
      color: $color;
      border-bottom: 2px solid rgba($color, 0.7);
    }
  }
}

.text-loader {
  vertical-align: middle;
  line-height: 100%;
  display: inline-block;
  margin: 4px;
  height: auto;
  width:33px;
}

/**
 * Specific text types
 */

.large-number {
  font-family: $sports-font;
  font-weight: 900;
  font-size: 29px;
  @media #{$tablet-and-up} {
    font-size: 44px;
  }
  margin-top: -7px;
}

.color-bg {
  
  padding: 10px 17px;
  position:relative;
  background-color: $bg-light;
  
  &.full {
    width:100%;
  }
  
  &.warning {
    $color: $warning-background-color;
    background-color: lighten($color,11%);
  }
  
  &.error {
    $color: $error-color;
    background-color: lighten($color,22%);
  }
  
}

.color-bg-text {
  
  padding: 10px 17px;
  position:relative;
  
  display: inline-block;
  background-color: $bg-light;
  border-radius: $border-radius;
  font-weight: bold;
  color: $bg-dark-lighter;
  font-size:16px;
  @media #{$tablet-and-up} {
    font-size:18px;
  }
  
  font-family: $sports-font;
  //text-transform: uppercase;
  
  &.full {
    width:100%;
  }
  
  &.warning {
    $color: $warning-background-color;
    background-color: lighten($color,11%);
    //color: desaturate(darken($red-color,11%),22%);
  }
  
  &.error {
    $color: $error-color;
    background-color: lighten($color,27%);
    
    &.dark {
      // Dark box
      background-color: desaturate(darken($color,7%),15%);
      border: none;
      color: saturate(lighten($color,29%),44%);
      //color: white;
    }
    
  }
  
}

.helper-text {
  color: $text-lighter-4x;
  font-size: 12px;
  font-weight: bold;
}

/**
 * General fonts
 */
.primary-font {
  font-family: $primary-font !important;
}
.sports-font {
  font-family: $sports-font !important;
}
.heading-font {
  font-family: $heading-font !important;
}

/**
 * General sizes
 */
.text-tiny {
  font-size:10px !important;
}
.text-small {
  font-size:12px !important;
}
.text-medium {
  font-size:14px !important;
}
.text-medium-2x {
  font-size:17px !important;
  @media #{$tablet-and-up} {
    font-size:18px !important;
  }
}
.text-big {
  font-size:18px !important;
  @media #{$tablet-and-up} {
    font-size:20px !important;
  }
}
.text-large {
  font-size:23px !important;
  @media #{$tablet-and-up} {
    font-size:29px !important;
  }
}
.text-huge {
  font-size:30px !important;
  @media #{$tablet-and-up} {
    font-size:35px !important;
  }
}
.text-giant {
  font-size:132px !important;
}

/**
 * General size adjustments
 */
.text-bigger {
  font-size:1.1em !important;
}
.text-bigger-2x {
  font-size:1.25em !important;
}

/**
 * General properties
 */
.text-caps {
  text-transform: uppercase;
}
.text-bold {
  font-weight: bold;
}
.text-fat {
  font-weight: 800;
}

/**
 * General colors
 */
.text-light {
  color:$text-lighter-4x;
}
.text-lightish {
  color:$text-lighter-2x;
}
.text-dark {
  color:$primary-text-color;
}