/**
 * Responsive
 */

$mobile: "(max-width: #{$screen-xs-max})";
$mobile-tall: "(max-width: #{$screen-xs-min})";
$mobile-wide: "(min-width: #{$screen-xs-min}) and (max-width: #{$screen-xs-max})";

$tablet: "(min-width: #{$screen-sm-min}) and (max-width: #{$screen-md-max})";
$tablet-and-up: "(min-width: #{$screen-sm-min})";
$tablet-and-down: "(max-width: #{$screen-md-max})";

$tablet-tall: "(min-width: #{$screen-sm-min}) and (max-width: #{$screen-sm-max})";
$tablet-tall-and-up: "(min-width: #{$screen-sm-min})";
$tablet-tall-and-down: "(max-width: #{$screen-sm-max})";

$tablet-wide: "(min-width: #{$screen-md-min}) and (max-width: #{$screen-md-max})";
$tablet-wide-and-up: "(min-width: #{$screen-md-min})";
$tablet-wide-and-down: "(max-width: #{$screen-md-max})";

$desktop: "(min-width: #{$screen-lg-min})";

$image-folder: "/assets/images/";

$limited-height-non-mobile: "(max-height: 800px) and (min-width: #{$screen-xs-min})";

$vertically-small: "(max-height: 639px) and #{$tablet-and-up}";
$not-vertically-small: "(min-height: 640px), #{$mobile}";

/**
 * UI
 */

$border-radius: 4px;
$border-radius-lg: 5px;


/**
 * Retina
 */
$retina-media: only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx);


/**
 * Easing
 */

$ease: (
  in-quad:      cubic-bezier(0.550,  0.085, 0.680, 0.530),
  in-cubic:     cubic-bezier(0.550,  0.055, 0.675, 0.190),
  in-quart:     cubic-bezier(0.895,  0.030, 0.685, 0.220),
  in-quint:     cubic-bezier(0.755,  0.050, 0.855, 0.060),
  in-sine:      cubic-bezier(0.470,  0.000, 0.745, 0.715),
  in-expo:      cubic-bezier(0.950,  0.050, 0.795, 0.035),
  in-circ:      cubic-bezier(0.600,  0.040, 0.980, 0.335),
  in-back:      cubic-bezier(0.600, -0.280, 0.735, 0.045),
  out-quad:     cubic-bezier(0.250,  0.460, 0.450, 0.940),
  out-cubic:    cubic-bezier(0.215,  0.610, 0.355, 1.000),
  out-quart:    cubic-bezier(0.165,  0.840, 0.440, 1.000),
  out-quint:    cubic-bezier(0.230,  1.000, 0.320, 1.000),
  out-sine:     cubic-bezier(0.390,  0.575, 0.565, 1.000),
  out-expo:     cubic-bezier(0.190,  1.000, 0.220, 1.000),
  out-circ:     cubic-bezier(0.075,  0.820, 0.165, 1.000),
  out-back:     cubic-bezier(0.175,  0.885, 0.320, 1.275),
  in-out-quad:  cubic-bezier(0.455,  0.030, 0.515, 0.955),
  in-out-cubic: cubic-bezier(0.645,  0.045, 0.355, 1.000),
  in-out-quart: cubic-bezier(0.770,  0.000, 0.175, 1.000),
  in-out-quint: cubic-bezier(0.860,  0.000, 0.070, 1.000),
  in-out-sine:  cubic-bezier(0.445,  0.050, 0.550, 0.950),
  in-out-expo:  cubic-bezier(1.000,  0.000, 0.000, 1.000),
  in-out-circ:  cubic-bezier(0.785,  0.135, 0.150, 0.860),
  in-out-back:  cubic-bezier(0.680, -0.550, 0.265, 1.550),
  bouncex: cubic-bezier(0.385, 1.650, 0.210, 0.770),
  bounce: cubic-bezier(0.295, 1.650, 0.375, 0.870),
  bounce-back: cubic-bezier(0.395, 1.650, 0.040, 1.005),
);

@function ease($key) {
  @if map-has-key($ease, $key) {
    @return map-get($ease, $key);
  }

  @warn "Unkown '#{$key}' in $ease.";
  @return null;
}