
// Device media queries

$mobile: "(max-width: #{$screen-xs-max})";
$mobile-tall: "(max-width: #{$screen-xs-min})";
$mobile-wide: "(min-width: #{$screen-xs-min}) and (max-width: #{$screen-xs-max})";

$tablet: "(min-width: #{$screen-sm-min}) and (max-width: #{$screen-sm-max})";
$tablet-and-up: "(min-width: #{$screen-sm-min})";
$tablet-and-down: "(max-width: #{$screen-sm-max})";

$laptop: "(min-width: #{$screen-md-min}) and (max-width: #{$screen-md-max})";
$laptop-and-up: "(min-width: #{$screen-md-min})";
$laptop-and-down: "(max-width: #{$screen-md-max})";

$desktop: "(min-width: #{$screen-lg-min})";