.manager-avatar-inline {
  
  @include user-image-direct( '/assets/images/user/manager-light.png', '/assets/images/user/no-image-light.png', true, true );
  width:27px;
  height:27px;
}

.club-avatar-inline {
  
  @include user-image-direct( '/assets/images/user/club.png', '/assets/images/user/no-image-light.png', true, true );
  width:27px;
  height:27px;
  
}