
.flag-icon {
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  width:2.222em;
  min-width: 29px;
  height: 2.222em*3/4;
  border-radius: $border-radius;
  margin:7px;
  &:before {
    content: "\00a0";
  }
  &.flag-icon-small {
    $w: 1.444em;
    width:$w;
    height: $w*3/4;
  }
  &.flag-icon-medium {
  }
  &.flag-icon-big {
    $w: 2.77em;
    width:$w;
    height: $w*3/4;
  }
  &:after {
    content:"";
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background-color:rgba(white,0.25);
    border-radius: $border-radius;
  }
}

