$transition-time: 0.250s;

.blackout-fader {
  transition: opacity $transition-time ease(out-cubic), max-height $transition-time ease(out-cubic);
  max-height: none;
  overflow:hidden;
  
  &.inactive {
    max-height: none;
    opacity: 1;
    transition: none;
    overflow:visible;
  }
}