<div class="has-position">

  <div class="text-center">
    {{club-ui club=model.firstObject.club imageSize='large' stacked=true class="gap-3x player-ui-title-club top-gap-md" text=(t 'squad.club-squad' club=model.firstObject.club.name) defaultColor='dark'}}
  </div>

  {{component 'player-ui/export' class="player-ui-export-wrapper squad" squad=playersSorted }}

  {{#infinite-scroll
    content=playersSorted
    defaultHeight=defaultItemHeight
    bufferSize=bufferSize
    useContentProxy=true
    as |player index|
  }}
  
  {{!#ember-collection
    items=playersSorted
    cell-layout=(mixed-grid-layout itemSizes) as |player index|
  }}
  {{!#lazy-list  itemClass="gap-4x no-gap-on-last" content=playersSorted as |player|}}
    <!--div class="gap-7x no-gap-on-last"-->
      
      {{player-ui player=player clickable=false}}
      
      {{#if (not (last index playersSorted))}}
        
        <div class="gap-4x hidden-xs"></div>
        <div class="gap-4x hidden-sm-up"></div>
        
      {{/if}}
      
    <!--/div-->
  {{!/lazy-list}}
  {{!/ember-collection}}
  {{/infinite-scroll}}

</div>