
.page-bg-height {
  height: 100vh;
  
  @media #{$tablet-tall-and-down} {
  //&.page-bg-header-mode {
    height: calc(#{$page-header-height} + 77px);
    &.higher {
      height: calc(#{$page-header-height} + 111px);
    }
  }
  
  @media #{$mobile-landscape} {
    height: 50vh;
    &.higher {
      height: 50vh;
    }
  }
}

#page-bg {
  position:fixed;
  z-index:0;
  top:0;
  right:0;
  width:100%;

  @media #{$nav-md},#{$nav-lg} {
  }

  @media #{$nav-sm},#{$nav-md} {
    width: calc( 100% - #{$max-block-size});
  }
  
  $sub-nav-width: $max-panel-width + $sub-panel-mod;

  @media #{$nav-lg} {

    width: calc( 100% - #{$max-block-size});
    transition: none;
    
    &.sub-nav-showing.page-bg-header-mode {
      width: calc( 100% - #{$max-block-size + $sub-nav-width});
    }
    
    &.open {
      width: calc( 100% - #{$max-panel-width});
      
      &.sub-nav-showing.page-bg-header-mode {
        width: calc( 100% - #{$max-panel-width + $sub-nav-width});
      }
      
      @media #{$nav-vs} {
        width: calc(100% - ( #{$sidebar-width} + #{$max-panel-width} - #{$max-block-size} ));
      }
    }
    &.force-transition {
      transition: width $animation-time ease(out-expo);
    }
  
  }
  
  @media #{$nav-vs-not-mobile} {
    width: calc( 100% - #{$sidebar-width});
  }
  
  
}



$tint-fade-out-bottom: linear-gradient(
  to bottom,
  rgba($bg-dark,0.99),
  rgba($bg-dark,0.44) 44%,
  $bg-dark 100%
);
$tint-fade-out-bottom-wide: linear-gradient(
  to bottom,
  rgba($body-bg-color-wide,0.99),
  rgba($body-bg-color-wide,0.44) 44%,
  $body-bg-color-wide 100%
);



$tint-dark-at-bottom: linear-gradient(
  to bottom,
  transparent,
  transparent 44%,
  rgba($bg-dark,0.7) 100%
);

$tint-dark-at-top: linear-gradient(
  to bottom,
  //rgba($bg-dark,0.88),
  //transparent 33%,
  //transparent 50%,
  //rgba($bg-dark,0.77) 100%
  rgba($bg-dark,0.99),
  rgba($bg-dark,0.7) 33%,
  rgba($bg-dark,0.22) 50%,
  rgba($bg-dark,0.77) 100%
);

$tint-darkish-at-top: linear-gradient(
  to bottom,
  rgba($bg-dark,0.44),
  transparent 33%,
  transparent 50%,
  rgba($bg-dark,0.77) 100%
);

$tint-dark-at-top-and-bottom: linear-gradient(
  to bottom,
  rgba($bg-dark,0.99),
  //transparent,
  transparent 44%,
  rgba($bg-dark,0.99) 100%
);

@mixin header-background-image( $url, $bg-position: center center, $tint: $tint-dark-at-top, $mobile-tint: $tint-fade-out-bottom ){
  
  @include cover-background-tinted-min($url,$tint,$bg-position);
  
  @media #{$tablet-tall-and-down} {
  //&.page-bg-header-mode {
    @include cover-background-tinted-min($url,$tint-fade-out-bottom-wide,$bg-position);
    @media #{$tablet-tall-and-down} {
      @include cover-background-tinted-min($url,$mobile-tint,$bg-position);
    }
  }
  
}

.page-header-bg {
  position:relative;
  width:100%;
  
  /**
   * Default
   */
  @include cover-background-tinted-for-animation('',$tint-dark-at-top,center center,$bg-dark-lighter);
  
  @media #{$tablet-tall-and-down} {
  //&.page-bg-header-mode {
    @include cover-background-tinted-for-animation('',$tint-fade-out-bottom-wide, center center,$bg-dark);
    @media #{$tablet-tall-and-down} {
      @include cover-background-tinted-for-animation('',$tint-fade-out-bottom, center center,$bg-dark);
    }
  }
  
  /**
   * Specified
   */
  &.specified {
    // Reserved for a specified single url
  }
  
  /**
   *  Dashboard
   */
  &.dash-design {
    @include header-background-image($image-folder + "stock/dash-design.jpg", 80% center);
  }
  &.dash-design2 {
    @include header-background-image($image-folder + "stock/dash-design2.jpg", 80% center);
  }
  &.dash-glass {
    @include header-background-image($image-folder + "stock/dash-glass.jpg", left 59%);
  }
  &.dash-green {
    @include header-background-image($image-folder + "stock/dash-green.jpg", center 44%);
  }
  &.dash-boss {
    @include header-background-image($image-folder + "stock/dash-boss.jpg", left 30%);
  }
  &.dash-desks {
    @include header-background-image($image-folder + "stock/dash-desks.jpg", left 60%);
  }
  &.dash-hq {
    @include header-background-image($image-folder + "stock/dash-hq.jpg", center 59%);
  }
  &.dash-office {
    @include header-background-image($image-folder + "stock/dash-office.jpg", center 55%);
  }
  
  /**
   *  Rugby
   */
  
  &.rugby-blue-seats {
    @include header-background-image($image-folder + "stock/stadium-blue-seats.jpg", left bottom);
  }
  &.rugby-club-at-night {
    @include header-background-image($image-folder + "stock/stadium-club-at-night.jpg", left 88%);
  }
  &.rugby-industrial {
    @include header-background-image($image-folder + "stock/stadium-industrial.jpg", center 70%, $tint-darkish-at-top);
  }
  &.rugby-olympic {
    @include header-background-image($image-folder + "stock/stadium-olympic.jpg", center 44%);
  }
  &.rugby-skylights {
    @include header-background-image($image-folder + "stock/stadium-skylights.jpg", center 35%);
  }
  
  /**
   *  Squad
   */
  
  &.squad-green2 {
    @include header-background-image($image-folder + "stock/squad-green2.jpg", center center);
  }
  &.squad-green3 {
    @include header-background-image($image-folder + "stock/squad-green3.jpg", center center);
  }
  &.squad-lockers {
    @include header-background-image($image-folder + "stock/squad-lockers.jpg", center center);
  }
  &.squad-training {
    @include header-background-image($image-folder + "stock/squad-training.jpg", center bottom);
  }
  
  /**
   *  Not found
   */
  
  &.not-found-ball {
    @include header-background-image($image-folder + "stock/not-found-ball.jpg", center center);
  }
}