{{top-level images="squad" mobileHigher=true}}


<div class="row show-overflow page-container-md page-container-left">
  <div class="col-12 dash-box-container show-overflow">
    
    {{player-ui player=model.player history=model.history singleMode=true squad=model.squad}}
    {{outlet}}
    
  </div>
</div>
  
{{player-ui/sub-nav players=model.squad currentPlayer=model.player keepSubRoutes=true}}