{{top-level images="squad" mobileHigher=true}}


<div class="row show-overflow">
  <div class="col-md-8 dash-box-container show-overflow">
    
    {{player-ui player=model.player stats=model.stats history=model.history singleMode=true squad=model.squad}}
    {{outlet}}
    
  </div>
  <div class="col-md-4 dash-box-container hidden-sm-down">
  
    {{#sub-nav-content keepSubRoutes=true buttonIcon="icon-team"}}
      
      <div class="sub-nav-inner-padding">
        
        {{#each model.squad as |player index|}}
          
          {{#link-to 'players.player' player.id id=(concat 'sub-menu-link-' player.id) class="menu-link nowrap btn-a"}}
            <div class="player-avatar player-avatar-sub-nav"></div>{{player.name}}
          {{/link-to}}
        
        {{/each}}
        
      </div>
        
    {{/sub-nav-content}}
    
  </div>
</div>