.skill-bar-wrapper {
  position: relative;
}

.skill-bar-placeholder {
  background-color: $bg-light;
  border-radius: $border-radius;
  overflow: hidden;
  position:relative; // For icon positioning
}

.skill-bar {
  background-color: lighten(desaturate($secondary-master,22%),4%);
  width:0%;
  min-height: 100%;
  opacity: 0;
  position:relative;
  
  // WARNING! This line breaks the ability to scroll the sub-nav when you load the app from scratch on the player page on iOS Safari. No idea why.
  //outline: 2px solid white;
  
  // Use :after instead
  /* &:after {
    position:absolute;
    top:0;
    left:100%;
    width:2px;
    height:100%;
    content:"";
    background-color: white;
  } */
}

.skill-bar-animate {
  transform-origin: 0 50% 0;
  transform: scale3d(0,1,1);
  width:100%;
}

.skill-bar.animatable {
  transition: transform 1.111s ease(out-expo), opacity 1.111s ease(out-expo);
}

.skill-bar-no-outline {
  outline: none;
}

.skill-bar-no-animate {
  transition: none;
  opacity: 1;
}

.skill-bar-number-col {
  width: 27px;
  @media #{$tablet-and-up} {
    width: 27px;
  }
  margin: -9px 0 -9px 7px;
}

.skill-bar-number {
  font-family: $sports-font;
  font-weight: 900;
  font-size: 17px;
  @media #{$tablet-and-up} {
    font-size: 19px;
  }
  &.primary-skill {
    font-size: 20px;
    @media #{$tablet-and-up} {
      font-size: 24px;
    }
  }
}

.skill-bar-max {
  color: $text-lighter-4x;
}

/**
 * Colors // Gradients // etc.
 */

// Color difference
// 0 = no gradient
// Higher = More contrast in gradients
$brightness: 53%;
$diff: 40%;
$sat: 88%;

// Flatter
$diff: 22%; // Lower is flatter
$sat: 70%;

// Flat
//$brightness: 54%;
//$diff: 0%;
//$sat: 57%;

$shadow: 0 0 10px;
$extra-sat: 0%;
$glass: true;

@mixin skill-bar($color,$extra-sat){
  @if $glass {
    background: linear-gradient(
      hsl($hue, $sat + $extra-sat, $brightness + $diff*1.1 ),
      hsl($hue, $sat + $extra-sat, $brightness + $diff*0.17 ) 50%,
      hsl($hue, $sat + $extra-sat, $brightness - $diff*0.17 ) 51%,
      hsl($hue, $sat + $extra-sat, $brightness - $diff*0.7 )
    );
  } @else {
    background: linear-gradient(
      hsl($hue, $sat + $extra-sat, $brightness + $diff*0.5 ),
      hsl($hue, $sat + $extra-sat, $brightness - $diff*0.5 )
    );
  }
  box-shadow: 0 0 11px hsl($hue, $sat + $extra-sat, $brightness );
}

@mixin text-color($color){
  color: $color;
  //text-shadow: 0 0 10px rgba($color,0.44);
}

@mixin icon-text-color($color){
  //color: rgba(darken($color,27%),0.22);
}

// Dark blue
$hue: 214;
.skill-bar-color-dark-blue {
  @include skill-bar($hue,$extra-sat);
}
$color: hsl($hue, $sat+$extra-sat, $brightness );
.text-color-dark-blue {
  @include text-color($color);
}
i.text-color-dark-blue {
  @include icon-text-color($color);
}

// Blue
$hue: 195;
.skill-bar-color-blue {
  @include skill-bar($hue,$extra-sat);
}
$color: hsl($hue, $sat+$extra-sat, $brightness );
.text-color-blue {
  @include text-color($color);
}
i.text-color-blue {
  @include icon-text-color($color);
}

// Teal
$hue: 165;
.skill-bar-color-teal {
  @include skill-bar($hue,$extra-sat);
}
$color: hsl($hue, $sat+$extra-sat, $brightness );
.text-color-teal {
  @include text-color($color);
}
i.text-color-teal {
  @include icon-text-color($color);
}

// Green
$hue: 81;
.skill-bar-color-green {
  @include skill-bar($hue,$extra-sat);
}
$color: hsl($hue, $sat+$extra-sat, $brightness - 4% );
.text-color-green {
  @include text-color($color);
}
i.text-color-green {
  @include icon-text-color($color);
}

// Yellow
$hue: 44;
$extra-sat: 11%;
.skill-bar-color-yellow {
  @include skill-bar($hue,$extra-sat);
}
$color: hsl($hue, $sat+$extra-sat, $brightness );
.text-color-yellow {
  @include text-color($color);
}
i.text-color-yellow {
  @include icon-text-color($color);
}

// Red
$hue: 5;
$extra-sat: 4%;
.skill-bar-color-red {
  @include skill-bar($hue,$extra-sat);
}
$color: hsl($hue, $sat+$extra-sat, $brightness );
.text-color-red {
  @include text-color($color);
}
i.text-color-red {
  @include icon-text-color($color);
}

// Purple
$hue: 244;
$extra-sat: -33%;
.skill-bar-color-purple {
  @include skill-bar($hue,$extra-sat);
}
$color: hsl($hue, $sat+$extra-sat, $brightness );
.text-color-purple {
  @include text-color($color);
}
i.text-color-dark-blue {
  @include icon-text-color($color);
}

/**
 * Icons
 */

$mobile-factor:0.8;
$mobile-extra-top:4px;

.skill-bar-icon-inner {
  width:auto;
  
  i {
    position:absolute;
    left:0;
    
    //color:rgba($bg-dark,0.22);
    color: rgba($bg-dark-lighter,0.7);
    background-blend-mode: multiply;
  
    &.icon-skill-stamina {
      $size:37px;
      $top:-12px;
      $mob-top-extra: -1px;
      top:$top+$mobile-extra-top + $mob-top-extra;
      font-size:$size*$mobile-factor;
      @media #{$tablet-and-up} {
        font-size:$size;
        top:$top;
      }
      left:5px;
    }
  
    &.icon-skill-handling {
      $size:44px;
      $top:-18px;
      $mob-top-extra: 0px;
      top:$top+$mobile-extra-top + $mob-top-extra;
      font-size:$size*$mobile-factor;
      @media #{$tablet-and-up} {
        font-size:$size;
        top:$top;
      }
      left:5px;
    }
  
    &.icon-skill-attack {
      $size:64px;
      $top:-29px;
      $mob-top-extra: 2px;
      top:$top+$mobile-extra-top + $mob-top-extra;
      font-size:$size*$mobile-factor;
      @media #{$tablet-and-up} {
        font-size:$size;
        top:$top;
      }
    }
  
    &.icon-skill-defence {
      $size:59px;
      $top:-27px;
      $mob-top-extra: 2px;
      top:$top+$mobile-extra-top + $mob-top-extra;
      font-size:$size*$mobile-factor;
      @media #{$tablet-and-up} {
        font-size:$size;
        top:$top;
      }
    }
  
    &.icon-skill-technique {
      $size:69px;
      $top:-41px;
      $mob-top-extra: 4px;
      top:$top+$mobile-extra-top + $mob-top-extra;
      font-size:$size*$mobile-factor;
      @media #{$tablet-and-up} {
        font-size:$size;
        top:$top;
      }
      left:-2px;
    }
  
    &.icon-skill-strength {
      $size:44px;
      $top:-17px;
      $mob-top-extra: 0px;
      top:$top+$mobile-extra-top + $mob-top-extra;
      font-size:$size*$mobile-factor;
      @media #{$tablet-and-up} {
        font-size:$size;
        top:$top;
      }
    }
  
    &.icon-skill-jumping {
      $size:74px;
      $top:-26px;
      $mob-top-extra: 0px;
      top:$top+$mobile-extra-top + $mob-top-extra;
      font-size:$size*$mobile-factor;
      @media #{$tablet-and-up} {
        font-size:$size;
        top:$top;
      }
      left:-27px;
    }
  
    &.icon-skill-speed {
      $size:59px;
      $top:-21px;
      $mob-top-extra: 0px;
      top:$top+$mobile-extra-top + $mob-top-extra;
      font-size:$size*$mobile-factor;
      @media #{$tablet-and-up} {
        font-size:$size;
        top:$top;
      }
      left:-8px;
    }
  
    &.icon-skill-agility {
      $size:45px;
      $top:-17px;
      $mob-top-extra: 0px;
      top:$top+$mobile-extra-top + $mob-top-extra;
      font-size:$size*$mobile-factor;
      @media #{$tablet-and-up} {
        font-size:$size;
        top:$top;
      }
    }
  
    &.icon-skill-kicking {
      $size:47px;
      $top:-30px;
      $mob-top-extra: 0px;
      top:$top+$mobile-extra-top + $mob-top-extra;
      font-size:$size*$mobile-factor;
      @media #{$tablet-and-up} {
        font-size:$size;
        top:$top;
      }
      left:3px;
    }
  }
}
.skill-bar-vert .skill-bar-icon-inner {
  i {
    margin-left:-10px;
  }
}

.skill-bar-icon-outer-pad {
  width:50px;
  height:1px;
}