.skill-bar-wrapper {
  position: relative;
}

.skill-bar-placeholder {
  background-color: $bg-light;
  border-radius: $border-radius;
  margin-right: 7px;
  overflow: hidden;
}

.skill-bar {
  background-color: $primary-master;
  //border-radius: $border-radius;
  outline: 2px solid white;
  margin-right: auto;
  width:0%;
  min-height: 100%;
  opacity: 0;
  transition: width 1.11s ease(out-expo), opacity 1.11s ease(out-expo);
}

.skill-bar-no-outline {
  outline: none;
}

.skill-bar-no-animate {
  transition: none;
  opacity: 1;
}

.skill-bar-number-col {
  width: 27px;
  @media #{$tablet-tall-and-up} {
    width: 44px;
  }
  margin: -9px 0;
}

.skill-bar-number {
  font-family: $sports-font;
  font-weight: 900;
  font-size: 17px;
  @media #{$tablet-tall-and-up} {
    font-size: 19px;
  }
}

.skill-bar-max {
  color: $text-lighter-4x;
}