.skill-bar-wrapper {
  position: relative;
}

.skill-bar-placeholder {
  background-color: $bg-light;
  border-radius: $border-radius;
  margin-right: 7px;
  overflow: hidden;
  position:relative; // For icon positioning
  
  // Magic fix
  // http://stackoverflow.com/questions/10314207/webkit-not-respecting-overflowhidden-with-border-radius
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}

.skill-bar {
  //background-color: $primary-master;
  background-color: lighten(desaturate($secondary-master,22%),4%);
  outline: 2px solid white;
  margin-right: auto;
  width:0%;
  min-height: 100%;
  opacity: 0;
}

.skill-bar-animate {
  transform-origin: 0 50% 0;
  transform: scale3d(0,1,1);
  width:100%;
}

.skill-bar.animatable {
  transition: transform 1.111s ease(out-expo), opacity 1.111s ease(out-expo);
}

.skill-bar-no-outline {
  outline: none;
}

.skill-bar-no-animate {
  transition: none;
  opacity: 1;
}

.skill-bar-number-col {
  width: 27px;
  @media #{$tablet-tall-and-up} {
    width: 44px;
  }
  margin: -9px 0;
}

.skill-bar-number {
  font-family: $sports-font;
  font-weight: 900;
  font-size: 17px;
  @media #{$tablet-tall-and-up} {
    font-size: 19px;
  }
}

.skill-bar-max {
  color: $text-lighter-4x;
}

/**
 * Colors // Gradients // etc.
 */

// Color difference
// 0 = no gradient
// Higher = More contrast in gradients
$brightness: 53%;
$diff: 40%;
$sat: 88%;

// Flatter / more saturation
//$diff: 22%;
//$sat: 80%;

// Dark blue
$hue: 214;
.skill-bar-color-dark-blue {
  background: linear-gradient(
    hsl($hue, $sat, $brightness + $diff*0.5 ),
    hsl($hue, $sat, $brightness - $diff*0.5 )
  );
}

// Blue
$hue: 195;
.skill-bar-color-blue {
  background: linear-gradient(
    hsl($hue, $sat, $brightness + $diff*0.5 ),
    hsl($hue, $sat, $brightness - $diff*0.5 )
  );
}

// Teal
$hue: 165;
.skill-bar-color-teal {
  background: linear-gradient(
    hsl($hue, $sat, $brightness + $diff*0.5 ),
    hsl($hue, $sat, $brightness - $diff*0.5 )
  );
}

// Green
$hue: 81;
.skill-bar-color-green {
  background: linear-gradient(
    hsl($hue, $sat, $brightness + $diff*0.5 ),
    hsl($hue, $sat, $brightness - $diff*0.5 )
  );
}

// Yellow
$hue: 44;
$extra-sat: 11%;
.skill-bar-color-yellow {
  background: linear-gradient(
    hsl($hue, $sat+$extra-sat, $brightness + $diff*0.5 ),
    hsl($hue, $sat+$extra-sat, $brightness - $diff*0.5 )
  );
}

// Red
$hue: 4;
$extra-sat: 11%;
.skill-bar-color-red {
  background: linear-gradient(
    hsl($hue, $sat+$extra-sat, $brightness + $diff*0.5 ),
    hsl($hue, $sat+$extra-sat, $brightness - $diff*0.5 )
  );
}

// Purple
$hue: 244;
$extra-sat: -33%;
.skill-bar-color-purple {
  background: linear-gradient(
    hsl($hue, $sat+$extra-sat, $brightness + $diff*0.5 ),
    hsl($hue, $sat+$extra-sat, $brightness - $diff*0.5 )
  );
}

/**
 * Icons
 */

$mobile-factor:0.8;
$mobile-extra-top:4px;

.skill-bar-icon-inner {
  width:auto;
  
  i {
    position:absolute;
    left:0;
    
    color:rgba($bg-dark,0.22);
    background-blend-mode: multiply;
  
    &.icon-skill-stamina {
      $size:37px;
      $top:-12px;
      top:$top+$mobile-extra-top;
      font-size:$size*$mobile-factor;
      @media #{$tablet-tall-and-up} {
        font-size:$size;
        top:$top;
      }
      left:5px;
    }
  
    &.icon-skill-handling {
      $size:44px;
      $top:-18px;
      top:$top+$mobile-extra-top;
      font-size:$size*$mobile-factor;
      @media #{$tablet-tall-and-up} {
        font-size:$size;
        top:$top;
      }
      left:5px;
    }
  
    &.icon-skill-attack {
      $size:64px;
      $top:-29px;
      top:$top+$mobile-extra-top;
      font-size:$size*$mobile-factor;
      @media #{$tablet-tall-and-up} {
        font-size:$size;
        top:$top;
      }
    }
  
    &.icon-skill-defence {
      $size:59px;
      $top:-31px;
      top:$top+$mobile-extra-top;
      font-size:$size*$mobile-factor;
      @media #{$tablet-tall-and-up} {
        font-size:$size;
        top:$top;
      }
    }
  
    &.icon-skill-technique {
      $size:69px;
      $top:-41px;
      top:$top+$mobile-extra-top;
      font-size:$size*$mobile-factor;
      @media #{$tablet-tall-and-up} {
        font-size:$size;
        top:$top;
      }
      left:-2px;
    }
  
    &.icon-skill-strength {
      $size:44px;
      $top:-17px;
      top:$top+$mobile-extra-top;
      font-size:$size*$mobile-factor;
      @media #{$tablet-tall-and-up} {
        font-size:$size;
        top:$top;
      }
    }
  
    &.icon-skill-jumping {
      $size:74px;
      $top:-26px;
      top:$top+$mobile-extra-top;
      font-size:$size*$mobile-factor;
      @media #{$tablet-tall-and-up} {
        font-size:$size;
        top:$top;
      }
      left:-27px;
    }
  
    &.icon-skill-speed {
      $size:59px;
      $top:-22px;
      top:$top+$mobile-extra-top;
      font-size:$size*$mobile-factor;
      @media #{$tablet-tall-and-up} {
        font-size:$size;
        top:$top;
      }
      left:-8px;
    }
  
    &.icon-skill-agility {
      $size:45px;
      $top:-17px;
      top:$top+$mobile-extra-top;
      font-size:$size*$mobile-factor;
      @media #{$tablet-tall-and-up} {
        font-size:$size;
        top:$top;
      }
    }
  
    &.icon-skill-kicking {
      $size:47px;
      $top:-30px;
      top:$top+$mobile-extra-top;
      font-size:$size*$mobile-factor;
      @media #{$tablet-tall-and-up} {
        font-size:$size;
        top:$top;
      }
      left:3px;
    }
  }
}

.skill-bar-icon-outer-pad {
  width:50px;
  height:1px;
}