<div class="skill-bar-placeholder col-flex">
  <div class="skill-bar">
    
  </div>
</div>
<div class="col-fixed skill-bar-number-col vc-parent">
<span class="skill-bar-number">{{level}}</span><!--span class="skill-bar-max">/{{max}}</span-->
</div>