<div class="skill-bar-placeholder border-radius-fix col-flex">
  <div class="skill-bar">
    
  </div>
  {{#if primarySkill}}
    <div class="skill-bar-icon-inner">
      <i></i>
    </div>
  {{/if}}
</div>
  
<div class="col-fixed skill-bar-number-col vc-parent">
<span class="skill-bar-number">{{displayLevel}}</span><!--span class="skill-bar-max">/{{max}}</span-->
</div>