{{top-level images="rugby"}}
{{page-header title=(t 'coming-soon.title')}}

<div class="row">
  <div class="col-lg-8 dash-col">
    <div class="dash-box">
      {{blackout-markdown markdown=(t 'coming-soon.blurb')}}
      {{!scroll-tester}}
    </div>
  </div>
</div>