

.normal-scroll {
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  
  &.horizontal {
    overflow-x: auto;
    overflow-y: hidden;
  }
}

.fix-mousewheel-scroll {
  pointer-events: all;
}

@media #{$nav-xs} {
  
  body::-webkit-scrollbar {
    width: 0px;
    display:none;
  }
  
}

// Prevents scrollbars from showing when testing mobile on a desktop
@media #{$nav-sm-up} {

  ::-webkit-scrollbar {
    width: 9px;
  }

  ::-webkit-scrollbar-track {
    background: none;
  }
   
  // Handle
  ::-webkit-scrollbar-thumb {
    border-radius: 7px;
    -webkit-border-radius: 7px;
    background: rgba(0,0,0,0.33);
    background-clip: padding-box;
    
    // Add padding
    //border:3px solid transparent;
    //width:6px;
  }
  ::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0,0,0,0.33);
  }

  // Alt light
  body::-webkit-scrollbar-thumb {
    background: #616C93;
    background-clip: padding-box;
  }
  body::-webkit-scrollbar-thumb:window-inactive {
    background: #616C93;
  }

  // Secondary light
  .light-scrollbar::-webkit-scrollbar-thumb, .light-scrollbar::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(#6A6D87,0.59);
  }

  // Secondary dark
  .dark-scrollbar::-webkit-scrollbar-thumb, .dark-scrollbar::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(#677198,0.33);
  }
  
  // Just hide *body* scrollbar even on desktop
  body::-webkit-scrollbar, #nav-body::-webkit-scrollbar {
    width: 0px;
    display:none;
  }
  
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0px;
  display:none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
}