$transition-duration: 0.333s;

$slideMode: false; // Other option is fadeInUp

.float-box {
  position:fixed;
  z-index:110;
  width:100%;
  height:100%;
  top:0;
  left:0;
  display:none;
  transition: none;
}

.float-box-bg {
  position:absolute;
  width:100%;
  height:100%;
  content:"";
  box-sizing: border-box;
  background-color: #000;
  top:0;
  left:0;
  opacity:0;
  transition: opacity $transition-duration*3 ease(out-expo);
}

.float-box-content-wrapper {
  
  margin:0 auto;
  
  width:100vw;
  
  @if $slideMode {
    transition: transform $transition-duration ease(out-expo);
    transform: translateY(-100vh);
  }
}

.float-box-content {
}

.float-box-content-scroller {
  position:relative;
  height:100vh;
  width:100%;
  box-sizing: border-box;
  
  .dash-box-container {
    padding:22px 0 !important;
    @media #{$tablet-and-up} {
      padding:33px 0 !important;
    }
  }
  
  @media #{$tablet-wide-and-up} {
    padding-left: $max-block-size;
  }
}

.float-box.game-nav-open .float-box-content-scroller {
  @media #{$tablet-wide-and-up} {
    padding-left: $max-panel-width;
  }
}

body.safari-ios .float-box-content-wrapper {
  
  /**
   * On an *actual device*, this extra 70px is necessary for some reason
   * When testing in Chrome desktop however, if emulating iOS, this will appear as a giant gaping gap at the bottom of the screen.
   */
  
  padding-bottom: 90px;
  
}

body.standalone .float-box-content-wrapper {
  
  padding-top: 44px;
  
}

.float-dash-box {
  box-shadow: 0 11px 29px rgba(black,0.11);
  
  margin: 0 auto;
  width:90vw;
  max-width:400px;
  @media #{$mobile-wide-and-up} {
    max-width:444px;
  }
  border-radius: $border-radius*1.5;
}

.float-box {
  &.showing {
    .float-box-content-wrapper {
      @if $slideMode {
        transform: translateY(0vh);
      }
    }
    .float-box-bg {
      opacity:0.44;
    }
  }
  &.hiding {
    pointer-events: none;
    .float-box-content-wrapper {
      @if $slideMode {
        transition: transform $transition-duration ease(out-expo) !important;
      }
    }
  }
}

.float-box-closer {
  pointer-events: auto;
  position:absolute;
  top:-70px;
  right:-11px;
  @media #{$mobile-wide-and-up} {
    top:-17px;
    right:-70px;
  }
  
}