<div class="float-box-bg"></div>

{{#normal-scroll class="float-box-content-wrapper hide-scrollbar"}}
  <div class="dash-box-container full-height vc-parent">
    <div class="has-feedback full-width">
      <div class="dash-box float-dash-box">
        <div class="float-box-content">
          <div class="gap-xs clearfix">
            {{yield}}
            {{!scroll-tester}}
          </div>
        </div>
      </div>
      <!--a {{action 'close'}} class="float-box-closer btn-a"><i class="icon-cancel-circled icon-3x"></i></a-->
    </div>
  </div>
{{/normal-scroll}}