
<div class="divider gap-lg"></div>

{{#dash-tabs onTabChange=(action 'tabChanged') selectedTab=selectedTab sub=true isShowing=isShowing tabGroup=tabGroup tabRoute=tabRoute noPadding=noPadding noSidePadding=noSidePadding noSidePaddingMobile=noSidePaddingMobile noPaddingMobile=noPaddingMobile hasHeader=hasHeader debug=debug as |section| }}
  
  {{#if (compare section '===' 'header')}}
  
    {{yield 'header'}}
    
  {{else}}
  
    {{yield}}
    
  {{/if}}
  
{{/dash-tabs}}
