
<div class="divider gap-lg"></div>

{{#dash-tabs onTabChange=(action 'tabChanged')
  sub=true
  isOnScreen=(readonly isOnScreen)
  tabGroup=tabGroup
  tabRoute=tabRoute
  noPadding=noPadding
  noSidePadding=noSidePadding
  noSidePaddingMobile=noSidePaddingMobile
  noPaddingMobile=noPaddingMobile as |tabs| }}
  
  {{yield tabs}}
  
{{/dash-tabs}}
