
$page-header-height: 15vh;

.page-header {
  min-height: $page-header-height;
  border: none;
  position:relative;
  padding: 22px 22px 0;
  margin: 0;
  @media #{$mobile-tall} {
    padding: 24px 24px 0;
  }
  
  h1 {
    text-transform: uppercase;
    color: rgba(white,0.44);
    color: white;
    font-size: 59px;
    @media #{$mobile-tall} {
      font-size:11vw;
    }
    max-width:700px;
    @media #{$mobile-tall} {
      max-width:300px;
    }
  }
}