<div class="page-header clearfix vb-parent">
  
  <div class="">
    <h1 class="{{if subHeader 'no-gap'}}"><span>{{title}}</span></h1>
    {{#if subHeader}}
      <div class="page-sub-header">{{subHeader}}</div>
    {{/if}}
    
    <div id="under-header"></div>
  </div>
  
</div>