
{{#fade-bg imageClass=imageClass defaultColor=defaultColor class="page-header-overscroll"}}
  
  <div class="page-header clearfix vb-parent">
    
    <h1><span>{{title}}</span></h1>
    <div id="under-header"></div>
    
  </div>
  
{{/fade-bg}}