{{top-level images="squad" mobileHigher=true}}


<div class="row show-overflow page-container-md page-container-left">
  <div class="col-12 dash-box-container show-overflow">
  
    {{squad/club/squad-route model=model}}
    
  </div>
</div>

{{player-ui/sub-nav players=model}}