{{top-level images="squad"}}


<div class="row show-overflow">
  <div class="col-md-8 dash-box-container show-overflow">
  
    {{squad/club/squad-route model=model}}
    
  </div>
  <div class="col-md-4 dash-box-container hidden-sm-down">
  
    {{#sub-nav-content}}
      
      <div class="sub-nav-inner-padding">
      
        <div class="text-center">
          {{!club-ui club=model.firstObject.club imageSize='medium-lg' stacked=true class="gap-md squad-nav-club" text=(concat model.firstObject.club.name " Squad")}}
        </div>
        
        {{#each model as |player index|}}
          
          {{#link-to 'players.player' player.id id=(concat 'sub-menu-link-' player.id) class="menu-link nowrap btn-a"}}
            <div class="player-avatar player-avatar-sub-nav"></div>{{player.name}}
          {{/link-to}}
        
        {{/each}}
        
      </div>
        
    {{/sub-nav-content}}
    
  </div>
</div>