{{top-level images="squad"}}


<div class="row show-overflow">
  <div class="col-md-8 dash-box-container show-overflow">
  
    {{outlet}}
    
  </div>
  <div class="col-md-4 dash-box-container hidden-sm-down">
  
    {{#sub-nav-content}}
      
      <div class="sub-nav-inner-padding">
        
        {{#each model as |player index|}}
          
          {{#link-to 'squad.club.player' player.id id=(concat 'sub-menu-link-' player.id) class="menu-link nowrap btn-a"}}
            <div class="player-avatar player-avatar-sub-nav"></div>{{player.name}}
          {{/link-to}}
        
        {{/each}}
        
      </div>
        
    {{/sub-nav-content}}
    
  </div>
</div>