$animation-time: $nav-animation-time;

#sub-nav-panel {
  
  $dark-colors: true;
  
  //background-color:rgba($primary-master,0.95);
  //background-color:rgba(white,0.95);
  @if $dark-colors {
    $bg-color: rgba($bg-dark,0.95);
  } @else {
    $bg-color: rgba($bg-light,0.95);
  }
  
  background-color: $bg-color;
  padding: 0px;
  position:fixed;
  top:0;
  z-index:35;
  display:none;
  height: 100vh;
  max-height: none;
  
  &.active {
    display:block;
  }
  
  @media #{$tablet-tall-and-down} {
    
    width:$max-panel-width + $sub-panel-mod;
    height:100vh;
    left:100%;
    
    transition: transform $animation-time;
    
    &.open {
      transform: translateX(-($max-panel-width + $sub-panel-mod));
    }
    
  }
  
  @media #{$tablet-wide-and-up} {
    
    width: 100%;
    
    @if $sub-nav-on-left {
      left: $max-block-size;
    } @else {
      right: 0%;
    }
    
    max-width:$max-panel-width + $sub-panel-mod;
  }
  
  @media #{$tablet-wide} {
    max-width:$max-panel-width - $max-block-size;
  }
  
  @media #{$desktop} {
    
    @if $sub-nav-on-left {
      transition: transform $animation-time;
      &.game-nav-open {
        transform: translateX($max-panel-width - $max-block-size);
      }
    }
    
  }
  
  &.inactive {
    transition: none;
  }
  
  .menu-link,.menu-link:hover {
    
    @if $dark-colors {
      $color: $secondary-master;
    } @else {
      $color: $secondary-master;
    }
    
    color: lighten(desaturate($color,22%),11%);
    padding:8px 25px 7px;
    font-size:14px;
    &.press,&.hover {
      //color: white;
      @if $dark-colors {
        background-color: rgba(desaturate(lighten($bg-color,5%),3%),0.95);
      } @else {
        background-color: rgba(desaturate(darken($bg-light,6%),15%),0.95);
      }
    }
    &.selected {
      //color: saturate(darken($primary-master,11%),11%);
      //color: saturate(lighten($color,22%),11%);
      @if $dark-colors {
        color: saturate(lighten($color,17%),22%);
        font-weight: bold;
        font-size:15px;
        background-color: rgba(saturate(lighten($bg-color,11%),1%),0.75);
        text-shadow: 0px 0px 11px rgba(saturate(lighten($secondary-master,11%),15%),0.85);
      } @else {
        color: desaturate(darken($color,22%),33%);
        background-color: rgba(desaturate(darken($bg-light,11%),12%),0.75);
      }
      
    }
  }
  
}

#sub-nav-scroller {
  width:100%;
  height:100vh;
}

#sub-nav-touch-blocker {
  position: fixed;
  z-index: 33;
  width: 100vw;
  height: 100%; // Must be % for chrome iOS (after address bar hide)
  top: 0;
  left: 0;
  background-color: rgba(black,0.444);
  opacity: 0;
  transition: opacity $animation-time;
  visibility: hidden;
  &.open {
    visibility: visible;
    opacity: 1;
  }
  @media #{$tablet-wide-and-up} {
    display:none;
  }
}

.sub-nav-inner-padding {
  padding: 20px 0px;
  @media #{$tablet-wide-and-up} {
    padding: 30px 0px;
  }
}