$animation-time: 0.333s;

#sub-nav-panel {
  
  $dark-colors: false;
  
  //background-color:rgba($primary-master,0.95);
  //background-color:rgba(white,0.95);
  @if $dark-colors {
    background-color:rgba($bg-dark-lighter,0.95);
  } @else {
    background-color:rgba($bg-light,0.95);
  }
  
  padding: 0px;
  position:fixed;
  top:0;
  z-index:35;
  display:none;
  
  &.active {
    display:block;
  }
  
  @media #{$tablet-tall-and-down} {
    
    width:$panel-width;
    @media #{$mobile-wide-and-up} {
      width:$max-panel-width;
    }
    height:100vh;
    
    left:100%;
    transition: transform $animation-time;
    
    &.open {
      transform: translate3d(-$panel-width,0,0);
      @media #{$mobile-wide-and-up} {
        transform: translate3d( -$max-panel-width,0,0);
      }
    }
    
  }
  
  .menu-link,.menu-link:hover {
    
    @if $dark-colors {
      $color: $secondary-master;
    } @else {
      $color: $secondary-master;
    }
    
    color: desaturate($color,33%);
    padding:8px 25px 7px;
    font-size:14px;
    &.press,&.hover {
      //color: white;
      @if $dark-colors {
        background-color: rgba(desaturate(lighten($bg-dark-lighter,4%),1%),0.95);
      } @else {
        background-color: rgba(desaturate(darken($bg-light,6%),15%),0.95);
      }
    }
    &.selected {
      //color: saturate(darken($primary-master,11%),11%);
      //color: saturate(lighten($color,22%),11%);
      @if $dark-colors {
        color: saturate(lighten($color,27%),11%);
        background-color: rgba(saturate(lighten($bg-dark-lighter,11%),1%),0.75);
      } @else {
        color: desaturate(darken($color,22%),33%);
        background-color: rgba(desaturate(darken($bg-light,11%),12%),0.75);
      }
      
    }
  }
  
  @media #{$tablet-wide-and-up} {
    width: 100%;
    border-radius: $border-radius;
    max-width:300px;
  }
  
}

#sub-nav-scroller {
  width:100%;
}

#sub-nav-touch-blocker {
  position: fixed;
  z-index: 33;
  width: 100vw;
  height: 100%; // Must be % for chrome iOS (after address bar hide)
  top: 0;
  left: 0;
  background-color: rgba(black,0.444);
  opacity: 0;
  transition: opacity $animation-time;
  visibility: hidden;
  &.open {
    visibility: visible;
    opacity: 1;
  }
  @media #{$tablet-wide-and-up} {
    display:none;
  }
}

.sub-nav-inner-padding {
  padding: 20px 0px;
  @media #{$tablet-wide-and-up} {
    padding: 30px 0px;
  }
}