$animation-time: $nav-animation-time;

#sub-nav-panel-wrapper {
  position:fixed;
  top:0;
  right: 0;
  z-index:35;
  height: 100vh;
  max-height: none;
  overflow: hidden;
  width: 100vw;
  pointer-events: none;
  
  //border: 3px solid blue;
  

  @media #{$nav-sm},#{$nav-md} {
    width: calc( 100vw - #{$max-block-size} );
    
    /**
     * This needs to represent the difference in sidebar width
     * May also need to tweak min and max width here
     */
    @media #{$nav-vs-not-mobile} {
    //@media #{$nav-vs} {
      //border: 3px solid purple;
      
      width: calc( 100vw - #{$sidebar-width});
      
    }
  }

  @media #{$nav-lg} {

    //left:0;
    width: calc( 100vw - #{$max-block-size} );
    transition: width $animation-time ease(out-expo);
    
    &.game-nav-open {
      
      width: calc( 100vw - #{$panel-width-desktop} );
      min-width: calc( 100vw - #{$max-panel-width} );
      max-width: calc( 100vw - #{$min-panel-width} );
      
      /**
       * This needs to represent the difference in sidebar width
       * May also need to tweak min and max width here
       */
      @media #{$nav-vs-not-mobile} {
      //@media #{$nav-vs} {
        //border: 3px solid purple;
        
        width: calc( 100vw + (#{$max-block-size} - #{$sidebar-width}) - #{$panel-width-desktop});
        min-width: calc( 100vw - #{$max-panel-width} + (#{$max-block-size} - #{$sidebar-width}) );
        max-width: calc( 100vw - #{$min-panel-width} + (#{$max-block-size} - #{$sidebar-width}) );
        
      }
    }
    
    &.resizing {
      transition: none;
    }
  
  }
  
  &.nav-disabled {
    transition: none;
    width: auto;
  }
}

#sub-nav-panel {
  
  pointer-events: auto;
  
  $dark-colors: true;
  $opacity: 0.9;
  
  //background-color:rgba($primary-master,$opacity);
  //background-color:rgba(white,$opacity);
  @if $dark-colors {
    $bg-color: rgba($bg-dark,$opacity);
  } @else {
    $bg-color: rgba($bg-light,$opacity);
  }
  
  position:absolute;
  height:100vh;
  left:0px;
  top:0px;
  
  background-color: $bg-color;
  padding: 0px;
  display:none;
  overflow: hidden;
  
  &.active {
    display:block;
  }
  
  @media #{$tablet-tall-and-down} {
    left:100%;
    
    transition: transform $animation-time ease(out-expo);
    
    &.open {
      transform: translateX(-($max-panel-width + $sub-panel-mod));
    }
    
  }
  
  
  
  
  
  
  // -------------- WIDTH
  
  
  //width: calc( #{$panel-width} + #{$sub-panel-mod} );
  width: calc( #{$max-panel-width} + #{$sub-panel-mod} );
  
  @media #{$nav-sm-up} {
    width: calc( #{$max-panel-width} + #{$sub-panel-mod} );
  }
  @media #{$laptop-and-up} {
    width: calc( #{$panel-width-laptop} + #{$sub-panel-mod} );
  }
  @media #{$desktop} {
    width: calc( #{$panel-width-desktop} + #{$sub-panel-mod} );
  }
  
  // In general
  max-width: $max-panel-width + $sub-panel-mod;
  min-width: $min-panel-width + $sub-panel-mod;
  
  // When on portrait mobile, allow panel to always take most of screen
  @media #{$mobile} {
    max-width: $max-panel-width;
    min-width: $min-panel-width;
  }
  
  
  &.inactive {
    transition: none;
  }
  
  .menu-link:not(.custom),.menu-link:not(.custom):hover {
    
    @if $dark-colors {
      $color: $secondary-master;
    } @else {
      $color: $secondary-master;
    }
    
    color: lighten(desaturate($color,22%),11%);
    padding:8px 25px 7px 29px;
    font-size:14px;
    &.press,&.hover {
      //color: white;
      @if $dark-colors {
        background-color: rgba(desaturate(lighten($bg-color,15%),1%),0.5);
      } @else {
        background-color: rgba(desaturate(darken($bg-light,6%),15%),0.95);
      }
    }
    &.selected {
      //color: saturate(darken($primary-master,11%),11%);
      //color: saturate(lighten($color,22%),11%);
      @if $dark-colors {
        color: saturate(lighten($color,22%),59%);
        font-weight: bold;
        font-size:15px;
        background-color: rgba(saturate(lighten($bg-color,11%),1%),0.75);
        text-shadow: 0px 0px 11px rgba(saturate(lighten($secondary-master,11%),15%),0.85);
        i {
          text-shadow:none;
        }
      } @else {
        color: desaturate(darken($color,22%),33%);
        background-color: rgba(desaturate(darken($bg-light,11%),12%),0.75);
      }
      
    }
  }
  
}

#sub-nav-scroller {
  width:100%;
  height:100vh;
}

#sub-nav-touch-blocker {
  position: fixed;
  z-index: 33;
  width: 100vw;
  height: 100%; // Must be % for chrome iOS (after address bar hide)
  top: 0;
  left: 0;
  background-color: rgba(black,0.444);
  opacity: 0;
  pointer-events: none;
  display:none;
  &.ready {
    transition: opacity $animation-time ease(out-expo);
    display:block;
    opacity: 0;
    pointer-events: none;
  }
  &.open {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }
  @media #{$tablet-wide-and-up} {
    display:none;
  }
}

$side-padding: 25px;

.sub-nav-inner-padding {
  padding: 20px 0px;
  @media #{$tablet-wide-and-up} {
    padding: 30px 0px;
  }
}

.sub-nav-side-padding {
  padding-left: $side-padding;
  padding-right: $side-padding;
  @media #{$tablet-wide-and-up} {
    padding-left: $side-padding;
    padding-right: $side-padding;
  }
}

#sub-nav-header {
  position:relative;
  z-index:1;
  padding: 20px $side-padding 20px;
  @media #{$tablet-wide-and-up} {
    padding: 30px $side-padding 25px;
  }
  border-bottom: 1px solid $bg-dark-lighter;
  //box-shadow: 0 0 15px 15px rgba(black,0.44);
}