
<div id="sub-nav-touch-blocker"></div>

<div id="sub-nav-panel" class="inactive">
  <div style="position:relative; width:100%;" class="row row-vertical">
  
    <div id="sub-nav-header" class="col-auto {{unless subNavHeader 'hidden'}}"></div>
    
    {{normal-scroll id="sub-nav-scroller" class="col-flex"}}
    
  </div>
  
</div>

{{#floating-button id="sub-nav-button" action=(action 'toggleSubNav') color='dark' z=40 class="hidden-md-up" fast=true }}<i class="{{if buttonIcon buttonIcon "icon-sub-menu"}} icon-vcenter icon-md"></i>{{/floating-button}}