{{top-level images=""}}

<div style="margin:11vmin;">

  <div class="row row-wrap-xxs row-nowrap-xs full-height not-found-container">
  
    
    <div class="col-xxs-12 col-xs text-right not-found-text text-medium">
      <h1 class="not-found-title">Oops!</h1>
      <p class="text-large white">
        We can't seem to find the page you're looking for.
      </p>
      <p>
        Here are some helpful links instead:
      </p>
      <p>
        {{#link-to "index"}}Home{{/link-to}}<br>
        {{#link-to "dashboard"}}Dashboard{{/link-to}}
      </p>
    </div>
    
  
    <div class="col-xxs-12 col-xs col-first-xxs text-center">
      <i class="icon-logo-404 icon-vcenter"></i>
    </div>
    
    
  </div>

</div>