
<div class="modal-background"></div>

<div class="modal-panel-wrapper">
  <div class="modal-panel">
    
    <div class="modal-content">
      
      <div class="modal-title"><i class="modal-icon"></i>{{title}}</div>
      
      <div class="modal-message">{{{message}}} <span class="modal-action"></span></div>
      
    </div>
    
    <div class="modal-buttons"></div>

  </div>
</div>