<div class="row row-nowrap row-center">
  <div class="col-auto right-gap-md">
    {{user-image type='club' defaultColor='dark' club=club size='medium'}}
  </div>
  <div class="col-auto vc-parent">
    <span>{{club.name}}</span>
  </div>
</div>
