$side-switcher-time: 0.444s;
$side-switcher-ease: ease('out-expo');
$height-transition: height $side-switcher-time $side-switcher-ease;

.switcher-window {
  position: relative;
  width: 100%;
  
  // This causes weird hiding of the top edge sometimes.
  // Example was with settings, while a select element is visible or interacted with
  // Nope, fixed the issue with the select - where I should have fixed in the first place.
  overflow: hidden;
}
.switcher-pane {
  position: relative;
  width: 200%;
  top: 0;
  left: 0;
  overflow-y: visible;
  
  transition: transform $side-switcher-time $side-switcher-ease, $height-transition;
  &.dont-animate-height {
    transition: transform $side-switcher-time $side-switcher-ease;
  }
}
.switcher-ready-left {
  transition: $height-transition;
  &.dont-animate-height {
    transition: none;
  }
  transform: translate3d(-50%,0,0);
}
.switcher-ready-right, .switcher-ready-disable {
  transition: $height-transition;
  &.dont-animate-height {
    transition: none;
  }
  transform: translate3d(0,0,0);
}
.switcher-move-left {
  transform: translate3d(-50%,0,0);
}
.switcher-move-right {
  transform: translate3d(0,0,0);
}
.switcher-panel {
  width: 100%;
}