
<div class="row switcher-pane">
  
  <div class="col-xs-6 switcher-left-pane"></div>
  <div class="col-xs-6 switcher-right-pane"></div>

</div>

<div class="switcher-children hidden">
  {{yield}}
</div>



