<div class="dash-box-negate-padding-top-and-bottom">
  {{blackout-timeline
    addToData=addToData
    country=player.club.country
    isLoadingData=isLoadingData
    defaultItemHeight=135
    lastReached=(action 'fetchMore')
    data=data}}
</div>