{{#if isLoadingData}}
  {{loading-spinner color="light"}}
{{/if}}

<div class="dash-box-negate-padding-top-and-bottom {{if isLoadingData 'hidden'}}">
  {{blackout-timeline data=data country=player.club.country}}
</div>