.player-bid-buttons {
  padding-top: 22px;
  @media #{$tablet-and-up} {
    padding-top: 31px;
  }
}

.for-sale-color {
  color: $secondary-master;
  &.on-dark {
    color: saturate(lighten($secondary-master,7%),11%);
  }
}

.player-auction-refresh-button {
  width:44px;
  @media #{$tablet-and-up} {
    width:59px;
  }
  i {
    margin-left: -50%;
    margin-right: -50%;
  }
}

#withdrawColumn {
  margin-top: -3px;
}