$innerMode: true;
$outerMode: false;
// Default edgeMode
$innerGap:22px;
$innerGap:-7px;

.player-nav {
  position:absolute;
  
  top:14px;
  @media #{$tablet-and-up} {
    top:19px;
  }
  
  &.left {
    @if $innerMode {
      right:calc(50% + 40px + #{$innerGap});
      @media #{$tablet-and-up} {
        right:calc(50% + 50px + #{$innerGap});
      }
    } @elseif $outerMode {
      left:calc(25% - 25px);
      @media #{$tablet-and-up} {
        left:calc(25% - 30px);
      }
    } @else {
      left:0;
    }
  }
  &.right {
    @if $innerMode {
      left:calc(50% + 40px + #{$innerGap});
      @media #{$tablet-and-up} {
        left:calc(50% + 50px + #{$innerGap});
      }
    } @elseif $outerMode {
      left:calc(75% - 25px);
      @media #{$tablet-and-up} {
        left:calc(75% - 30px);
      }
    } @else {
      right:0;
    }
  }
  cursor: pointer;
}

.player-nav-avatar {
  width:50px;
  height:50px;
  @media #{$tablet-and-up} {
    width:60px;
    height:60px;
  }
  position:relative;
  z-index:0;
  &:after {
    width:104%;
    height:104%;
    content:"";
    position:absolute;
    top:-2px;
    left:-2px;
    border-radius: 50%;
    background: rgba($bg-dark,0.5);
    z-index:5;
  }
}

.player-nav.hover {
  .player-nav-avatar {
    &:after {
      background: none;
    }
  }
}

.player-nav:active {
  .player-nav-avatar {
    &:after {
      background: rgba($bg-dark,0.11);
    }
  }
}

.player-nav-text {
  margin-top: 2px;
  text-align: center;
  color: $bg-light-darker-2x;
  font-weight: bold;
  
  font-size: 11px;
  width: 50px;
  @media #{$tablet-and-up} {
  font-size: 12px;
    width:59px;
  }
}

$hoverColor: $primary-master;
$hoverColor:white;

.player-nav.hover {
  .player-nav-text {
    color: $hoverColor;
  }
}

.player-nav:active {
  .player-nav-text {
    color: pressColor($hoverColor);
  }
}