{{user-image
  url=thisPlayer.imageUrl
  placeholderUrl='/assets/images/user/manager.png'
  size='custom'
  defaultColor='dark'
  incomingWrapperClass='player-nav-avatar is-dark'
}}

<div class="player-nav-text ellipsis">{{label}}</div>