

.floating-button-wrapper {
  position: fixed;
  z-index: 30;
  bottom: $tabbar-height;

  @media #{$nav-sm-up} {
    bottom: 0;
    &.top {
      top: 0;
      bottom: auto;
    }
  }
  left: 0;
  width:100%;
  
  &.top {
    top: 0;
    bottom: auto;
  }
}

@if $float-buttons-hug-side {
  $size: 48px;
} @else {
  $size: 44px;
}
$gap: 2.22vh;
$big-gap: 5vh;
$arrow-height: $size * 0.64;
$arrow-width: $size * 0.64;

$color: rgba($primary-master, 0.88);

.floating-button, .floating-button:hover {
  position: absolute;
  z-index: 0;
  width: $size;
  height: $size;
  background-color: $color;
  @if $float-buttons-hug-side {
    border-radius: 0px;
  } @else {
    border-radius: $border-radius;
  }
  overflow: hidden;
  box-shadow: 0 11px 11px rgba(black, 0.222);
  text-align: center;
  padding: 0 0 5px 2px;
  
  // ---- Positioning
  
  bottom: $gap;
  
  @if $float-buttons-hug-side {
    &.left {
      left: 0;
    }
    &.right {
      right: 0;
    }
    bottom: $gap*2;
  } @else {
    &.left {
      left: $gap;
    }
    &.right {
      right: $gap;
    }
  }
  
  &.right-two-thirds {
    right: $gap;
    @media #{$nav-sm} {
      right: $big-gap;
    }
    @media #{$nav-md} {
      right: calc( ((100vw - #{$max-block-size}) / 3) + #{$gap} + 25px );
    }
    @media #{$nav-lg} and (max-width: $body-max-window-width) {
      right: calc( ((100vw - #{$max-panel-width} - #{$max-block-size}) / 3) + #{$gap} + 45px );
    }
    @media #{$nav-body-width-limit} {
      right: calc( ((100vw - #{$max-panel-width} - #{$max-block-size} - (100vw - #{$body-max-window-width}) ) / 3) + #{$gap} + 45px + ((100vw - #{$body-max-window-width} ) / 2) );
    }
  }
  &.top {
    top: $gap;
    bottom: auto;
  }
  
  @media #{$nav-sm-up} {
    bottom: $big-gap;
    
  
    @if $float-buttons-hug-side {
      &.left {
        left: 0;
      }
      &.right {
        right: 0;
      }
      bottom: $big-gap*2;
    } @else {
      &.left {
        left: $big-gap;
      }
      &.right {
        right: $big-gap;
      }
    }
    &.top {
      top: $big-gap;
      bottom: auto;
    }
  }

  // ---- States
  
  &.hover {
    height: $size;
    background-color: hoverColor($primary-master);
  }

  &.press, &:active {
    background-color: pressColor($primary-master);
  }

  // ---- Colors
  
  &.color-dark {
    $color: rgba($bg-dark-lighter, 0.88);
    background-color: $color;
    &.hover {
      height: $size;
      background-color: hoverColor($bg-dark-lighter);
    }
    &.press, &:active {
      background-color: pressColor($bg-dark-lighter);
    }
  }
  
}