.standings-title {
  font-family: $heading-font;
  text-transform: uppercase;
  color: $bg-light-darker-4x;
  font-size: 15px;
  @media #{$tablet-and-up} {
    font-size: 17px;
  }
  
  &.bigger {
    color: white;
    font-size: 19px;
    @media #{$tablet-and-up} {
      font-size: 22px;
    }
  }
}

.standings-header-cell {
}

.standings-standing {
  color: $secondary-on-dark-lighter-2x;
  color: $bg-dark-lighter;
  color: $bg-light-darker-5x;
  font-family: $heading-font;
  font-size: 17px;
}

.standings-cell {
  height: 44px;
  @media #{$tablet-and-up} {
    height: 54px;
  }
  overflow: hidden;
  vertical-align: middle;
  font-weight: bold;
}

.standings-club {
  margin: -10px 0;
}

.standings-club-name {
  max-width: 33vw;
  @media #{$desktop} {
    max-width: 10.5vw;
  }
  //text-transform: uppercase;
  font-weight: bold;
  &.bot {
    color: $bg-dark-lighter;
  }
}

.standings-club-col {
  //max-width: 50%;
}

.standings-center-cell {
  text-align: center;
  padding-left: 9px;
  padding-right: 9px;
}

.standings-penalty-applied {
  font-weight: bold;
  font-size: 11px;
  @media #{$tablet-and-up} {
    font-size: 12px;
  }
  text-align: right;
}

.standings-glass-panel {
  color: $bg-light-darker-4x;
  padding: 11px;
  background-color: rgba($bg-dark,0.5);
  display: inline-block;
  @media #{$tablet-tall-and-down} {
    background-color: transparent;
    
    &.force-mobile {
      background-color: rgba(darken($bg-dark,4%),0.5);
    }
  }
}

.standings-button {
  //text-transform: uppercase;
  font-weight: bold;
  i {
    margin-top: -7px !important;
  }
}

.league-sub-nav-header {
  i.icon-dollar {
    color: $bg-dark-lighter-5x;
    margin-left:-11px;
    font-size: 33px;
    @media #{$tablet-wide-and-up} {
      font-size: 37px;
    }
    transform: scaleX(-1);
  }
}

.standing-first-cell {
  padding-left: 17px;
}

.standings-block {
  display: block;
  position: absolute;
  top:0;
  left: 0px;
  height:100%;
  width: 7px;
  background-color: tomato;
  
  &.pos-1 {
    background-color: $primary-master;
  }
  &.pos-2, &.pos-3, &.pos-4 {
    background-color: $bg-dark;
  }
  &.pos-5, &.pos-6 {
    background-color: #fff000;
  }
  &.pos-7, &.pos-8 {
    background-color: #ff5340;
  }
}

.standings-total {
  color: $secondary-on-dark-lighter-2x;
}