.standings-title {
  font-family: $heading-font;
  text-transform: uppercase;
  color: $bg-light-darker-4x;
  font-size: 15px;
  @media #{$tablet-and-up} {
    font-size: 17px;
  }
  
  &.bigger {
    color: white;
    font-size: 19px;
    @media #{$tablet-and-up} {
      font-size: 22px;
    }
  }
}

.standings-header-cell {
}

.standings-standing {
  color: $secondary-on-dark-lighter-2x;
  color: $bg-dark-lighter;
  font-family: $heading-font;
  font-size: 17px;
}

.standings-cell {
  height: 44px;
  @media #{$tablet-and-up} {
    height: 54px;
  }
  overflow: hidden;
  vertical-align: middle;
}

.standings-club {
  margin: -10px 0;
}

.standings-club-name {
  max-width: 33vw;
  //text-transform: uppercase;
  font-weight: bold;
  &.bot {
    color: $bg-dark-lighter;
  }
}

.standings-club-col {
  //max-width: 50%;
}

.standings-center-cell {
  text-align: center;
  padding-left: 11px;
  padding-right: 11px;
}

.standings-penalty-applied {
  font-weight: bold;
  font-size: 11px;
  @media #{$tablet-and-up} {
    font-size: 12px;
  }
  text-align: right;
}

.standings-glass-panel {
  color: $bg-light-darker-4x;
  padding: 11px;
  background-color: rgba($bg-dark,0.5);
  display: inline-block;
  @media #{$tablet-tall-and-down} {
    background-color: transparent;
    
    &.force-mobile {
      background-color: rgba(darken($bg-dark,4%),0.5);
    }
  }
}

.standings-button {
  //text-transform: uppercase;
  font-weight: bold;
  i {
    margin-top: -7px !important;
  }
}