{{#if icon-class}}
    
    <div class="vc-child">
      <div class="text-center tab-icon">
        <i class="{{icon-class}} blackout-tabs-icon icon-vcenter"></i>
      </div>
      <div class="text-center ellipsis">{{if name-t (t name-t) name}}</div>
    </div>
  
{{else}}

  {{if name-t (t name-t) name}}
  
{{/if}}
