
<div class="blackout-tabs-container"></div>

<div class="blackout-tabs-content-container">
  {{#side-switcher direction=tabDirection currentlyShowing=switcherTab class="" receivePanels=(action 'receivePanels') }}

    {{yield}}
    
  {{/side-switcher}}
</div>