
<div class="blackout-tabs-container"></div>

<div class="blackout-tabs-content-container">
  {{#side-switcher direction=tabDirection currentlyShowing=selectedTab class="" panels=(mut tabPanels) allowHeightAnimation=allowHeightAnimation }}

    {{yield}}
    
  {{/side-switcher}}
</div>