
<div class="blackout-tabs-container"></div>

{{yield (hash
  list=(component 'blackout-tabs/tabs-list'
    selectTab=(action 'selectTab')
    registerTab=(action 'registerTab')
    deregisterTab=(action 'deregisterTab')
    hide=hideList
  )
  content=(component 'blackout-tabs/tabs-content'
    switcherTab=(readonly switcherTab)
    receivePanels=(action 'receivePanels')
    tabDirection=tabDirection
  )
)}}