
<div class="blackout-tabs-container"></div>

{{yield (hash
  list=(component 'blackout-tabs/tabs-list'
    selectTab=(action 'selectTab')
    registerTab=(action 'registerTab')
    deregisterTab=(action 'deregisterTab')
    hide=hideList
  )
  content=(component 'blackout-tabs/tabs-content'
    isSubTabs=isSubTabs
    resetOn=(readonly resetOn)
    switcherTab=(readonly switcherTab)
    yieldTab=(readonly yieldTab)
    wasViaURL=(readonly wasViaURL)
    receivePanels=(action 'receivePanels')
    tabDirection=tabDirection
    loadTabsImmediatelyWithLoader=loadTabsImmediatelyWithLoader
    onTabChange=onTabChange
  )
)}}