/* perfect-scrollbar v0.6.2 */

$rail-color: rgba(0, 0, 0, 0);
$bar-color: rgba(255, 255, 255, 0.18);
$bar-hover-color: rgba(255, 255, 255, 0.22);
$border-radius: 4px;
$rail-width: 8px;


$bar-color-green: rgba(darken($primary-master,33%),0.5);
$bar-hover-color-green: rgba(darken($primary-master,33%),0.59);

$bar-color-dark: rgba(darken($bg-dark,33%),0.5);
$bar-hover-color-dark: rgba(darken($bg-dark,33%),0.59);

//4px

.ps-container {
  overflow: hidden !important;
}

.ps-container.ps-active-x > .ps-scrollbar-x-rail, .ps-container.ps-active-y > .ps-scrollbar-y-rail {
  display: block;
}

.ps-container.ps-in-scrolling {
  pointer-events: none;
}

.ps-container.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail {
  background-color: $rail-color;
  opacity: 0.9;
}

.ps-container.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail > .ps-scrollbar-x {
  background-color: $bar-hover-color;
}
.ps-green.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail > .ps-scrollbar-x {
  background-color: $bar-hover-color-green;
}
.ps-dark.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail > .ps-scrollbar-x {
  background-color: $bar-hover-color-dark;
}

.ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail {
  background-color: $rail-color;
  opacity: 0.9;
}

.ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  background-color: $bar-hover-color;
}
.ps-dark.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  background-color: $bar-hover-color-dark;
}
.ps-green.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  background-color: $bar-hover-color-green;
}

.ps-container > .ps-scrollbar-x-rail {
  display: none;
  position: absolute;
  /* please don't change 'position' */
  -webkit-border-radius: $border-radius;
  -moz-border-radius: $border-radius;
  -ms-border-radius: $border-radius;
  border-radius: $border-radius;
  opacity: 0;
  -webkit-transition: background-color .2s linear, opacity .2s linear;
  -moz-transition: background-color .2s linear, opacity .2s linear;
  -o-transition: background-color .2s linear, opacity .2s linear;
  transition: background-color .2s linear, opacity .2s linear;
  bottom: 3px;
  /* there must be 'bottom' for ps-scrollbar-x-rail */
  height: $rail-width;
}

.ps-container > .ps-scrollbar-x-rail > .ps-scrollbar-x {
  position: absolute;
  /* please don't change 'position' */
  background-color: $bar-color;
  -webkit-border-radius: $border-radius;
  -moz-border-radius: $border-radius;
  -ms-border-radius: $border-radius;
  border-radius: $border-radius;
  -webkit-transition: background-color .2s linear;
  -moz-transition: background-color .2s linear;
  -o-transition: background-color .2s linear;
  transition: background-color .2s linear;
  bottom: 0;
  /* there must be 'bottom' for ps-scrollbar-x */
  height: $rail-width;
}

.ps-green .ps-container > .ps-scrollbar-x-rail > .ps-scrollbar-x {
  background-color: $bar-color-green;
}
.ps-dark .ps-container > .ps-scrollbar-x-rail > .ps-scrollbar-x {
  background-color: $bar-color-dark;
}

.ps-container > .ps-scrollbar-y-rail {
  display: none;
  position: absolute;
  /* please don't change 'position' */
  -webkit-border-radius: $border-radius;
  -moz-border-radius: $border-radius;
  -ms-border-radius: $border-radius;
  border-radius: $border-radius;
  opacity: 0;
  -webkit-transition: background-color .2s linear, opacity .2s linear;
  -moz-transition: background-color .2s linear, opacity .2s linear;
  -o-transition: background-color .2s linear, opacity .2s linear;
  transition: background-color .2s linear, opacity .2s linear;
  right: 3px;
  /* there must be 'right' for ps-scrollbar-y-rail */
  width: $rail-width;
}

.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  position: absolute;
  /* please don't change 'position' */
  background-color: $bar-color;
  -webkit-border-radius: $border-radius;
  -moz-border-radius: $border-radius;
  -ms-border-radius: $border-radius;
  border-radius: $border-radius;
  -webkit-transition: background-color .2s linear;
  -moz-transition: background-color .2s linear;
  -o-transition: background-color .2s linear;
  transition: background-color .2s linear;
  right: 0;
  /* there must be 'right' for ps-scrollbar-y */
  width: $rail-width;
}

.ps-green > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  background-color: $bar-color-green;
}
.ps-dark > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  background-color: $bar-color-dark;
}

.ps-container:hover.ps-in-scrolling {
  pointer-events: none;
}

.ps-container:hover.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail {
  background-color: $rail-color;
  opacity: 0.9;
}

.ps-container:hover.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail > .ps-scrollbar-x {
  background-color: $bar-hover-color;
}
.ps-green:hover.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail > .ps-scrollbar-x {
  background-color: $bar-hover-color-green;
}
.ps-dark:hover.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail > .ps-scrollbar-x {
  background-color: $bar-hover-color-dark;
}

.ps-container:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail {
  background-color: $rail-color;
  opacity: 0.9;
}

.ps-container:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  background-color: $bar-hover-color;
}
.ps-green:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  background-color: $bar-hover-color-green;
}
.ps-dark:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  background-color: $bar-hover-color-dark;
}

.ps-container:hover > .ps-scrollbar-x-rail, .ps-container:hover > .ps-scrollbar-y-rail {
  opacity: 0.6;
}

.ps-container:hover > .ps-scrollbar-x-rail:hover {
  background-color: $rail-color;
  opacity: 0.9;
}

.ps-container:hover > .ps-scrollbar-x-rail:hover > .ps-scrollbar-x {
  background-color: $bar-hover-color;
}
.ps-green:hover > .ps-scrollbar-x-rail:hover > .ps-scrollbar-x {
  background-color: $bar-hover-color-green;
}
.ps-dark:hover > .ps-scrollbar-x-rail:hover > .ps-scrollbar-x {
  background-color: $bar-hover-color-dark;
}

.ps-container:hover > .ps-scrollbar-y-rail:hover {
  background-color: $rail-color;
  opacity: 0.9;
}

.ps-container:hover > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y {
  background-color: $bar-hover-color;
}
.ps-green:hover > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y {
  background-color: $bar-hover-color-green;
}
.ps-dark:hover > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y {
  background-color: $bar-hover-color-dark;
}

// Position and overflow will trigger perfect scrollbar
.perfect-scrollbar {
  position: absolute;
  overflow: hidden;
}
.perfect-scrollbar-nav-small {
  @media #{$responsive-nav-small} {
    position: absolute;
    overflow: hidden;
  }
}
.perfect-scrollbar-nav-big {
  @media #{$responsive-nav-big} {
    position: absolute;
    overflow: hidden;
  }
}
.perfect-scrollbar-default {
  overflow-x: hidden;
  overflow-y: scroll;
  /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
}

.always-visible.ps-container > .ps-scrollbar-x-rail,
.always-visible.ps-container > .ps-scrollbar-y-rail {
  opacity: 0.6;
}