

.settings-cog {
  position:absolute;
  right:0;
  top:0;
  
  $color: desaturate(darken($secondary-master,9%),27%);
  
  .btn-a, .btn-a:hover {
    color:$color;
    
    &.hover {
      color:lighten($color,11%);
    }
    
    //$side-switcher-time:2s;
    
    transition: transform $side-switcher-time $side-switcher-ease,
                  color $side-switcher-time $side-switcher-ease;
    transform-origin: 50.1% 53.2%;
    
    &.active {
      
      color:$primary-master;
      transform: rotate3d(0,0,1,90deg);
    }
    
    i {
      // CHANGING ME WILL MESS UP ROTATION ANIMATION CENTERING
      font-size: 220%;
    }
    
  }
}

.touch .settings-cog .btn-a {
  transform-origin: 49.5% 52%;
}

.menu-header {
  margin-bottom: 22px;
  position: relative;
}

.manager-avatar-menu {
  margin: 7px 10px 10px;
}

$color: desaturate(darken($secondary-master,9%),22%);

.menu-manager {
  
  a {
    color: $color;
    //text-transform: uppercase;
    &:hover,&:active {
      color: $primary-on-dark;
      border: none;
    }
  }
  
}

.menu-manager-text {
  //color: $color;
  //cursor: default;
  white-space: nowrap;
  vertical-align: text-top;
  line-height: 55px;
  width:auto;
  max-width:159px;
  //font-size: 1em;
}

.menu-manager-name {
  //display: inline-block;
  max-width:150px;
}

.menu-logout {
  i {
    margin-top:-20px;
  }
}

.menu-manager-wrapper {
  max-width:70%;
}

.menu-logout-wrapper {
  padding:8px 0 11px 7px;
  width:40px;
}

.club-avatar-menu {
  width:77px !important;
  height:77px !important;
  margin: -4px auto 0;
}

.menu-club-text {
  text-align: center;
  font-size: 1.4em;
  color: $color;
  cursor: default;
}

.menu-header-login {
  padding: 30px;
}

.menu-login-buttons {
  margin:0 7px 7px 0;
}

.menu-fb-login-button {
  
  .icon-facebook {
    position:absolute;
    line-height:100%;
    left:50%;
    margin-left:-19px;
    font-size:150%;
  }
  
  // Set width on the button so that when loader comes it doesn't mess anything up.
  //padding: 0 44px;
  width: 100px;
  &.hover,&:focus,&.press {
    //padding: 0 44px;
    width: 100px;
  }
  
  margin-right:0;
  
}