

.settings-cog {
  position:absolute;
  right:0;
  top:0;
  
  .btn-a, .btn-a:hover {
    
    transition: transform $side-switcher-time ease(out-cubic),
                  color $side-switcher-time ease(out-cubic);
    transform-origin: 50.1% 53.2%;
    
    &.active, &.active:hover {
      transform: rotate3d(0,0,1,90deg);
      //color:$primary-master;
    }
    
    i {
      // CHANGING ME WILL MESS UP ROTATION ANIMATION CENTERING
      font-size: 220%;
    }
    
  }
}

.touch .settings-cog .btn-a {
  transform-origin: 49.5% 52%;
}

.menu-header {
  margin-bottom: 22px;
  position: relative;
}

.manager-avatar-menu {
  margin: 7px 10px 10px;
}

$color: desaturate(darken($secondary-master,9%),22%);

.menu-manager-text {
  //color: $color;
  //cursor: default;
  white-space: nowrap;
  vertical-align: text-top;
  line-height: 55px;
  width:auto;
  max-width:159px;
  //font-size: 1em;
}

.menu-manager-name {
  //display: inline-block;
  max-width:150px;
}

.menu-logout {
  i {
    margin-top:-20px;
  }
}

.menu-manager-wrapper {
  max-width:70%;
}

.menu-logout-wrapper {
  padding:8px 0 11px 7px;
  width:40px;
}

.menu-club-text-wrapper {
  margin-top:-4px;
}

.menu-club-text {
  font-size: 1.4em;
  color: $color;
}

.menu-header-login {
  padding: 30px;
}

.menu-login-buttons {
  margin:0 7px 7px 0;
}

.menu-fb-login-button {
  
  .icon-facebook {
    position:absolute;
    line-height:100%;
    left:50%;
    margin-left:-19px;
    font-size:150%;
  }
  
  // Set width on the button so that when loader comes it doesn't mess anything up.
  //padding: 0 44px;
  width: 100px;
  &.hover,&:focus,&.press {
    //padding: 0 44px;
    width: 100px;
  }
  
  margin-right:0;
  
}