
.menu-header {
  margin-bottom: 22px;
  position: relative;
}

.manager-avatar-menu {
  margin: 10px;
}

$color: desaturate(darken($secondary-master,9%),22%);

.menu-manager-text {
  color: $color;
  cursor: default;
  line-height: 70px;
  
  a {
    color: $color;
    text-transform: uppercase;
    font-size: 0.8em;
    &:hover,&:active {
      color: $primary-on-dark;
      border: none;
    }
  }
}

.club-avatar-menu {
  width:80px;
  height:80px;
  margin: -4px auto 0;
}

.menu-club-text {
  text-align: center;
  font-size: 1.5em;
  color: $color;
  cursor: default;
}

.menu-header-login {
  padding: 30px;
}