.country-standings-container {
  width: 222px;
  margin: 0 7px;
  @media #{$tablet-and-up} {
    margin: 0 11px;
  }
  &:first-of-type {
    margin: 0 7px 0 0;
    @media #{$tablet-and-up} {
      margin: 0 11px 0 0;
    }
  }
  &:last-of-type {
    margin: 0 0 0 7px;
    @media #{$tablet-and-up} {
      margin: 0 0 0 11px;
    }
  }
  &:only-of-type {
    margin: 0;
  }
  
  td {
    padding: 5px 8px;
  }
  
  td.ellipsis {
    width: 192px;
    font-weight: bold;
    
    font-size: 13px;
    
    &.bot {
      color: $bg-dark-lighter;
      cursor: default;
    }
  }
}

.country-standing {
  font-family: $heading-font;
  font-size: 16px;
  color: $bg-light-darker-5x;
}

.country-standings-league-title {
  //width: 100%;
  text-align: center;
  font-weight: bold;
  padding: 7px 11px;
  
  &.active {
    background-color: $primary-master;
  }
  
  //border-left: 3px solid $bg-dark-lighter-4x;
  //margin-bottom: 7px;
}