<div {{bind-attr class=":form-group :has-feedback showError:has-error"}}>
  {{input value=value focus-out="showErrors" type=type placeholder=placeholder class="form-control"}}
  {{#if showError}}
    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
    <span class="control-label"><strong>{{errors}}</strong></span>
  {{/if}}
</div>