<div class="form-group has-feedback {{if showError 'has-error'}}">

  {{input value=value type=type placeholder=placeholder class=classes id=inputId autocomplete="off"}} {{#if showError}}
  <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
  <span class="control-label">{{error}}</span> {{/if}}

</div>