<div id="splash" class="blocked center-parent">
  
  <div class="blocked-content center-child">
    <i class="icon-logo blocked-logo"></i>
    
    <h1>BLOCKED</h1>
    
    <p>
      If you feel this is in error, please <a href="mailto:escalations@blackoutrugby.com">contact us</a>.
    </p>
    
  </div>

</div>