.loader-button.loading {
  padding: 0 !important;
}

.loader-button {
  overflow:hidden;
}

.loader-button .content {
  opacity: 1;
  transition: opacity 0.777s ease(out-quad);
}

.loader-button.unsucceed .content {
  opacity: 0;
}

.loader-button i {
  transform: scale3d(1,1,1);
  opacity: 1;
  transition: transform 0.222s ease(in-quad), opacity 0.222s ease(in-quad);
}

.loader-button.unsucceed i {
  transform: scale3d(5,5,1);
  opacity: 0;
}