$base-image-folder: "/assets/images/login/";


$bg-tint: linear-gradient(
  to bottom,
  $bg-dark,
  $bg-dark 60%,
  rgba($bg-dark,0.8) 80%,
  rgba($bg-dark,0.8) 100%
);

.login-background {
  @include cover-background-tinted($base-image-folder + "bg.jpg",$bg-tint);
  &:before{
    background-position: center bottom;
  }
}

.login-container {
  width:100%;
  max-width:360px;
  padding: 30px;
}

.login-logo-container {
  text-align: center;
  .icon-logo {
    color: $primary-master;
    font-size:80px;
  }
}

.login-boxes {
  padding-left: 44px !important;
}

.login-icons {
  pointer-events: none;
  color: $bg-dark-lighter;
  color: $secondary-dark-on-dark;
  position:absolute;
  top:4px;
  left:6px;
  font-size: 175%;
  &.icon-user {
    font-size: 170%;
  }
}

.key-icon {
  font-size: 159%;
  left:7px;
  top:6px;
}

.fb-login-button {
  .icon-facebook {
    position:absolute;
    line-height:100%;
    left:50%;
    margin-left:-20px;
    font-size:150%;
  }
  
  padding: 0 44px;
  &.hover,&:focus,&.press {
    padding: 0 44px;
  }
  
}