{{page-header title="Coming soon" images="rugby" route="comingsoon" }}

<div class="row">
  <div class="col-lg-8 dash-col">
    <div class="dash-box">
      <p>This version of the Blackout Rugby website is a work in progress.</p>

      <p>You can signup to the game at <a href="http://www.blackoutrugby.com">http://www.blackoutrugby.com</a>.</p>
    </div>
  </div>
</div>