{{page-header title=(t 'coming-soon.title') images="rugby" route="comingsoon" }}

<div class="row">
  <div class="col-lg-8 dash-col">
    <div class="dash-box">
      {{t 'coming-soon.signup.blurb'}}
    </div>
  </div>
</div>