.bs-wrapper {
  display: inline-block;
}

.bs-container {
  display: inline-block;
  position:relative;
  
  &.bs-disabled {
    opacity:0.5;
    pointer-events: none;
  }
}

.bs-focus {
  @include form-focus-glow();
  &:active {
    @extend .btn:active:focus;
  }
  
  &.on-dark {
    @include form-focus-glow-on-dark();
    &:active {
      @extend .btn-on-dark:active:focus;
    }
  }
}

// The native select element
.bs-select {}

// The new select element player holder
.bs-placeholder,.bs-placeholder:hover {
  box-sizing: border-box;
  //cursor:default !important;
  padding-right:50px;
  overflow:hidden;
  position:relative;
  
  height:40px;
  
  font-size: 16px;
  @media #{$mobile} {
    font-size: 15px;
  }
  
}

.bs-dropdown {
  width:33px;
  height:100%;
  background-color:rgba(black,0.11);
  position:absolute;
  top:0px;
  right:0px;
  z-index:1;
  border-top-right-radius:$border-radius;
  border-bottom-right-radius:$border-radius;
  
  i {
    margin-bottom: 1px;
    color:white;
  }
}

.bs-container.bs-active .bs-dropdown i {
  color:$bg-dark-lighter;
}

$bg-color: $bg-dark;
.bs-options {
  display:none;
  
  
  position:absolute;
  z-index:100;
  
  // Inline
  //top:100%;
  //left:0%;
  
  // Move to scrollable
  top:0%;
  left: 50%;
  
  cursor:default !important;
  border-radius: $border-radius;
  background-color: $bg-color;
  box-shadow: 0 10px 20px rgba(black,0.44);
  
  /**
   * This needs to exist for cases where the options get 
   * moved to a parent with no pointer events.
   */
  pointer-events: auto;

  &.bs-options-ready {
    display:block;
    opacity:0;
    transition: opacity 0.222s;
    pointer-events: none;
  }
  
  &.bs-options-active {
    display:block;
    opacity:1;
  }
  
  ul {
    list-style: none;
    margin:0;
    padding:0;
  }
  
  // Triangle/arrow
  &.bs-options-below:before {
    position:absolute;
    bottom:100%;
    left:50%;
    content:"";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 11px 11px 11px;
    border-color: transparent transparent $bg-color transparent;
    transform: translateX(-50%);
  }
  &.bs-options-above:before {
    position:absolute;
    top:100%;
    left:50%;
    content:"";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 11px 11px 0 11px;
    border-color: $bg-color transparent transparent transparent;
    transform: translateX(-50%);
  }
  
  &:after {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    content:"";
    box-shadow: inset 0 -40px 35px -20px rgba(black,0.25);
    pointer-events: none;
  }
  
  // Must use 3d to fix render bug in IE11
  transform: translateX(0px);
  transform: translateY(1px);
  
  .bs-options-scroller {
    padding:7px;
  }
  
}

.bs-option,.bs-option:hover {
  
  line-height:27px;
  padding:4px 11px;
  color:white;
  border-radius: $border-radius;
  position:relative;
  
  &.disabled {
    color:$bg-dark-lighter-3x;
  }
  
  //&.press:not(.disabled), &:active:not(.disabled) {
  &.hover:not(.disabled), &.press:not(.disabled) {
    background-color:$primary-master;
  }
  &.bs-option-focus:not(.disabled) {
    background-color:$primary-master;
  }
  @extend .nowrap;
  
  //border-bottom: 1px solid rgba(white,0.1);
  
  &:not(:last-of-type):after {
    position:absolute;
    bottom:0%;
    left:0%;
    width:100%;
    height:1px;
    background-color:rgba(white,0.044);
    content:"";
  }
  
}