$tab-size: 70px;
$tab-size-tablet-up: 80px;

$tab-height: 50px;
$tab-height-tablet-up: 65px;

$bg-color: $bg-dark-lighter;

$angledTabText: false;
$angledTabs: true;
$angledLeft: false;
$angle:11deg;

/**
 * Sub tabs settings
 */
$sub-bg-color: $bg-light;
$sub-tabs-height-factor: 0.9;




.blackout-tabs-slider-container {
  position:relative;
  overflow:hidden;
  width:100%;
}

.blackout-tabs-slider-hider {
  height:$tab-height;
  @media #{$tablet-and-up} {
    height:$tab-height-tablet-up;
  }
  overflow:hidden;
  position:relative;
  border-top-left-radius: $border-radius !important;
  border-top-right-radius: $border-radius !important;
  
  $shadow-color: desaturate(darken($bg-color,4%),11%);
  //$shadow-color: $bg-color;
  
  &:after {
    position:absolute;
    content:"";
    height:100%;
    width:29px;
    top:0;
    right:0;
    background: linear-gradient(to right, rgba($shadow-color,0), rgba($shadow-color,0.77) );
    pointer-events: none;
    z-index:1;
  }
}

.sub-tabs .blackout-tabs-slider-hider {
  
  height:$tab-height * $sub-tabs-height-factor;
  @media #{$tablet-and-up} {
    height:$tab-height-tablet-up * $sub-tabs-height-factor;
  }
  
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  
  $shadow-color: desaturate(darken($sub-bg-color,4%),11%);
  //$shadow-color: $sub-bg-color;
  
  &:after {
    background: linear-gradient(to right, rgba($shadow-color,0), rgba($shadow-color,0.77) );
  }
}

$scrollbar-height:17px;

.blackout-tabs-slider-scroller {
  height:$tab-height + $scrollbar-height;
  @media #{$tablet-and-up} {
    height:$tab-height-tablet-up + $scrollbar-height;
  }
  background-color: $bg-color;
}

.sub-tabs .blackout-tabs-slider-scroller {
  height:$tab-height * $sub-tabs-height-factor + $scrollbar-height;
  @media #{$tablet-and-up} {
    height:$tab-height-tablet-up * $sub-tabs-height-factor + $scrollbar-height;
  }
  background-color: $sub-bg-color;
}

.blackout-tabs-slider {
  // Negate the 100% added by .row
  width:auto;
  
  .blackout-tabs-slider-end {
    width:11px;
    height:1px;
    display:none;
  }
}

.blackout-tabs-slider-tab {
  font-size:11px;
  font-weight: bold;
  position:relative;
  
  @media #{$tablet-and-up} {
    font-size:12px;
  }
  
  height:$tab-height+1px; // Add 2px to avoid potential seam below tab
  width:$tab-size;
  @media #{$tablet-and-up} {
    height:$tab-height-tablet-up+1px; // Add 2px to avoid potential seam below tab
    width:$tab-size-tablet-up;
  }
  background-color: $bg-color;
  
  .tab-icon { // Icon
    position: absolute;
    width:100%;
    display: inline-block;
  }
  &:first-of-type {
    .tab-icon { // Icon
      padding-right:10px;
    }
  }
  
  .ellipses { // Text
    width:100%;
    margin-top:15px;
    @media #{$tablet-and-up} {
      margin-top:19px;
    }
    @include unselectable;
  }
  
  color:$bg-dark-lighter-5x;
  
  &:hover {
    background-color: lighten($bg-color,7%);
    color:$bg-dark-lighter-5x !important;
  }
  
  &.active, &.active:hover {
    
    // Mode A (Tab turns same colour as content background)
    background-color: white;
    color: $bg-dark-lighter-2x !important;
    
    // Mode B (Tab remains same color, icon color changes)
    //background-color: $bg-color;
    //color: white !important;
    
  }
  
  @if $angledTabs {
    
    &:first-of-type {
      width:$tab-size + 10px;
      @media #{$tablet-and-up} {
        width:$tab-size-tablet-up + 10px;
      }
      padding-left:10px;
    }
    
    @if $angledLeft {
      
      .vc-child {
        transform: skewX(-$angle);
      }
      
      transform: translateX(-10px) skewX($angle);// scale3d(1.001,1.01,1);
      
    } @else {
      
      transform: translateX(-10px) skewX(-$angle);// scale3d(1.001,1.01,1);
      
      .ellipses {
        
        // Failed attempts at fixing blurry text in chrome on non-retina display
        //-webkit-filter: blur(0);
        //transform: translate3d(0,0,0);
        
        //transform: translateZ(0); // Possibly causes 3d transformed elements to disappear in chrome sometimes
        
      }
      
    }
    
  }
  
  @if $angledTabText {
    
    .vc-child {
      transform: skewX(-$angle);
    }
    
  }
  
}

.sub-tabs .blackout-tabs-slider-tab {
  
  height:$tab-height * $sub-tabs-height-factor;
  @media #{$tablet-and-up} {
    height:$tab-height-tablet-up * $sub-tabs-height-factor;
  }
  
  background-color: $sub-bg-color;
  color: $bg-dark-lighter-2x;
  
  &:hover {
    background-color: desaturate(darken($sub-bg-color,5%),4%);
    color: $bg-dark-lighter-2x !important;
  }
  
  &.active, &.active:hover {
    
    background-color: white;
    color: $bg-dark-lighter !important;
    
    //background-color: desaturate(darken($sub-bg-color,15%),11%);
    //color: $bg-dark !important;
    
  }
}

.blackout-tabs-slider-button {
  
  position:absolute;
  background-color: $bg-dark-lighter;
  width:44px;
  height:44px;
  top: ($tab-height - 44px) * 0.5;
  @media #{$tablet-and-up} {
    top: ($tab-height-tablet-up - 44px) * 0.5;
  }
  
  z-index:2;
  cursor: pointer;
  display:none;
  border-radius: $border-radius;
  box-shadow: 0 2px 7px rgba(black,0.44);
  @media #{$tablet-and-up} {
    box-shadow: 0 4px 11px rgba(black,0.44);
  }
  
  &.left {
    left: -11px;
    text-align: center;
    i {
      margin-left: 5px;
    }
  }
  
  &.right {
    right:-11px;
    text-align: center;
    i {
      margin-right: 7px;
    }
  }
  
  i {
    margin-top: 12px;
    display: inline-block;
    @media #{$tablet-and-up} {
      margin-top: 4px;
    }
    color:$bg-light;
  }
  
  &:hover {
    background-color: hoverColor($bg-dark-lighter);
  }
  &:active {
    background-color: pressColor($bg-dark-lighter);
    box-shadow: 0 1px 11px rgba(black,0.44);
  }
  
}

.sub-tabs .blackout-tabs-slider-button {
  
  width:40px;
  height:40px;
  top: ($tab-height * $sub-tabs-height-factor - 40px) * 0.5;
  @media #{$tablet-and-up} {
    top: ($tab-height-tablet-up * $sub-tabs-height-factor - 40px) * 0.5;
  }
  
  i {
    margin-top: 2px;
    color:$bg-light;
  }
  
}