<div class="blackout-tabs-slider-container">
  <div class="blackout-tabs-slider-hider border-radius-fix">

    {{#normal-scroll horizontal=true class="blackout-tabs-slider-scroller" debug=debug}}
    
      <div class="blackout-tabs-slider row row-nowrap">
        {{yield (hash
          tab=(component 'blackout-tabs-slider/tab'
            selectTab=(action 'selectTab')
            registerTab=registerTab
            deregisterTab=deregisterTab
            selectedTab=selectedTab
          )
        )}}
      </div>
      
    {{/normal-scroll}}
    
  </div>

  <div class="blackout-tabs-slider-button left"><i class="icon-left-open icon-lg"></i></div>
  <div class="blackout-tabs-slider-button right"><i class="icon-right-open icon-lg"></i></div>
</div>