.squad-nav-club {
  span {
    font-size: 17px;
    font-weight: 900;
    font-family: $sports-font;
    text-transform: uppercase;
  }
}

.club-ui {
  &.on-dark {
    span {
      color: desaturate(darken($secondary-master,9%),22%);
    }
  }
}