
$responsive-nav-small: $mobile;
$responsive-nav-big: $tablet-and-up;
$nav-button-diameter: 50px;
$line-factor: 0.4;
$x-pos: -$nav-button-diameter * $line-factor * 0.5;

$ease-time: 0.222s;

#nav-body {
  position: relative;
}

@mixin line {
  display: inline-block;
  width: $nav-button-diameter * $line-factor;
  height: 3px;
  background: #FFF;
  border-radius: 2px;
  transition: $ease-time;
}

.nav-burger {
  
  .lines {
    //create middle line
    @include line;
    position:relative;
    
    transform: translate3d(0,-3px,0);
    
    /*create the upper and lower lines as pseudo-elements of the middle line*/
    &:before, &:after {
      @include line;
      position: absolute;
      left: 0;
      content: '';
    }
    &:before {
      transform: translate3d(0,6px,0);
    }
    &:after {
      transform: translate3d(0,-6px,0);
    }
  }
  &.nav-cross.nav-close .lines {
    transform: translate3d(0,-3px,0) rotate3d(0, 0, 1, 45deg);
    &:before {
      transform: translate3d(0,0,0) scale3d(1.11,1,1);
    }
    &:after {
      transform: rotate3d(0, 0, 1, -90deg) translate3d(0,0,0) scale3d(1.11,1,1);
    }
  }
  
}