
$responsive-nav-small: $mobile;
$responsive-nav-big: $tablet-and-up;
$nav-button-diameter: 50px;

$ease-time: 0.222s;

#nav-body {
  position: relative;
}

@mixin line {
  display: inline-block;
  width: $nav-button-diameter * 0.4;
  height: 3px;
  background: #FFF;
  border-radius: 2px;
  transition: $ease-time;
}

.nav-burger {
  
  .lines {
    //create middle line
    @include line;
    position: relative;
    top: -3px;
    /*create the upper and lower lines as pseudo-elements of the middle line*/
    &:before, &:after {
      @include line;
      position: absolute;
      left: 0;
      content: '';
      transform-origin: ($nav-button-diameter * 0) center;
    }
    &:before {
      top: 6px;
    }
    &:after {
      top: -6px;
    }
  }
  &.nav-arrow.nav-close .lines {
    &:before, &:after {
      top: 0;
      left: 1px;
      width: $nav-button-diameter * 0.25;
    }
    &:before {
      transform: rotate3d(0, 0, 1, 40deg);
    }
    &:after {
      transform: rotate3d(0, 0, 1, -40deg);
    }
  }
  &.nav-cross.nav-close .lines {
    background: transparent;
    &:before, &:after {
      transform-origin: 50% 50%;
      top: 0;
      left: -1px;
      width: $nav-button-diameter * 0.44;
    }
    &:before {
      transform: rotate3d(0, 0, 1, 45deg);
    }
    &:after {
      transform: rotate3d(0, 0, 1, -45deg);
    }
  }
  
}