{{#if smallMode}}
  {{#fast-button id="navButton" type="button" class="btn nav-btn nav-cross" action="toggleMenu" aria-label="Toggle Navigation"}}
    <span class="lines"></span>
  {{/fast-button}}
{{/if}}

<div id="responsive-nav">
  {{yield}}
</div>