.blackout-form-helper {
  color: $text-lighter-4x;
  @media #{$mobile} {
    font-size:15px;
  }
}

.blackout-form-item:last-of-type {
  margin-bottom:0 !important;
}

.blackout-form-display-text {
  
  padding: 10px 17px;
  position:relative;
  
  display: inline-block;
  background-color: $bg-light;
  border-radius: $border-radius;
  font-weight: bold;
  color: $bg-dark-lighter;
  font-size:1.2em;
  
  font-family: $sports-font;
  text-transform: uppercase;
  
  &.blackout-form-warning {
    $color: $warning-background-color;
    background-color: lighten($color,11%);
    //color: desaturate(darken($red-color,11%),22%);
  }
  
  &.blackout-form-error {
    $color: $error-color;
    background-color: lighten($color,22%);
    //color: desaturate(darken($red-color,11%),22%);
  }
  
}