.blackout-form-helper {
  color: $text-lighter-4x;
  @media #{$mobile} {
    font-size:15px;
  }
}

.blackout-form-item:nth-last-of-type(4) {
  margin-bottom:20px !important;
}

.blackout-form-server-error {
  margin-top:-10px;
}
