<div class="fill row row-vertical row-center">
  <div class="landscape-preventer-icons">
    <i class="icon-mobile icon-vcenter mobile-icon"></i>
    <i class="icon-attention-circled icon-vcenter"></i>
  </div>
  <div class="landscape-preventer-text">
    Blackout Rugby is not available in landscape mode
  </div>
</div>