.player-ui-squad-box {
  //border-top-left-radius: 29px;
  &.active {
    //background-color: $bg-light-darker;
  }
}

.player-ui-top {
}

.player-ui-title-club {
  
  span {
    font-family: $heading-font;
    font-size:22px;
    font-style: normal;
    font-weight: 900;
    @media #{$tablet-and-up} {
      font-size:29px;
    }
    color: white;
    text-transform: uppercase;
  }
}

.player-avatar-single {
  @include user-image-direct( '/assets/images/user/manager-light.png', '/assets/images/user/no-image.png' );
  width:80px;
  height:80px;
  @media #{$tablet-and-up} {
    width:100px;
    height:100px;
  }
}
  
.player-avatar-sub-nav {
  display: inline-block;
  width:33px;
  height:33px;
  vertical-align: middle;
  margin: -3px 7px -2px 0;
}

$bg-tint: linear-gradient(
  to right,
  white,
  white 22%,
  $primary-master 100%
);
  
.player-ui-header-wrapper {
  //background: $bg-light;
  position: relative;
  z-index:1;
  top: 0px;
  left: 0px;
  width: 100%;
  border-top-right-radius: $border-radius;
}

.player-ui-avatar-wrapper {
  position: absolute;
  z-index:2;
  top:7px;
  left:7px;
  @media #{$tablet-and-up} {
    top:11px;
    left:15px;
  }
}
  
.player-avatar-ui {
  width:44px;
  height:44px;
  @media #{$tablet-and-up} {
    width:55px;
    height:55px;
  }
  //border: 4px solid white;
}

$skew-angle: 14deg;

.player-ui-title-wrapper {
  max-width:59%;
  white-space: nowrap;
}

.player-ui-title-panel {
  transform: skewX(-$skew-angle);
  display: inline-block;
  /**
   * Must use a hard number, not percentage of parent because parent is flexible
   * so it just uses percentage of self which is too small
   * @type {[type]}
   */
  max-width:calc(59vw - 30px);
  min-height:60px;
  @media #{$tablet-and-up} {
    max-width:300px;
    min-height:78px;
  }
  padding: 0 14px 0 22px;
  margin-left:-17px;
  @media #{$tablet-and-up} {
    padding: 0 22px 0 29px;
    margin-left:-17px;
  }
  background: $primary-master;
  background: lighten($bg-dark-lighter,3%);
  position: relative;
  z-index:2;
}

.player-ui-title-link {
  $color: saturate($bg-light-darker-3x,100%);
  &.hover {
    .player-ui-title-panel {
      //background: $bg-dark-lighter-2x;
    }
    .player-ui-title {
      color: white;
    }
    .player-ui-nickname {
      color: lighten($color,11%);
    }
  }
  &.press, &:active {
    .player-ui-title-panel {
      //background: pressColor($bg-dark-lighter-2x);
    }
    .player-ui-title {
      color: pressColor($bg-light-darker-4x);
    }
    .player-ui-nickname {
      color:desaturate(darken($color,17%),33%);
    }
  }
}

body.touch .player-ui-title-link {
  &.press, &:active {
    .player-ui-title-panel {
      background: $secondary-master;
    }
  }
}

.player-ui-title {
  padding-left:59px;
  font-style: normal;
  font-size:15px;
  @media #{$tablet-and-up} {
    padding-left:70px;
    font-size:22px;
  }
  
  margin-top:12px;
  margin-bottom:12px;
  min-height: 36px;
  @media #{$tablet-and-up} {
    margin-top:15px;
    margin-bottom:15px;
    min-height: 42px;
  }
  
  transform: skewX($skew-angle);
  
  /* font-family: $primary-font;
  text-transform: none;
  font-weight: 700;
  transform: skewX(14deg); */
  
  color: white;
  color: $bg-light-darker;
}

.player-ui-title-single {
  //font-family: $heading-font;
  font-size:22px;
  font-style: normal;
  color: white;
  margin: 11px 0 5px;
  @media #{$tablet-and-up} {
    font-size:29px;
    margin: 11px 0;
  }
  width: 100%;
}

.player-ui-flags {
  transform: skewX(-$skew-angle);
}

.injury-color {
  $color: $error-color;
  color: $color;
  &.player-ui-icon {
    color: saturate(lighten($color,15%),44%);
  }
  &.on-dark {
    color: saturate(lighten($color,4%),7%);
  }
}

.player-ui-for-sale,.player-ui-injured {
  position: relative;
  z-index:1;
  display: inline-block;
  padding: 1px 0 4px 7px;
  vertical-align: top;
  width:44px;
  height:30px;
  text-align: center;
  font-size: 17px;
  margin-left:-7px;
  
  @media #{$tablet-and-up} {
    width:50px;
    height:39px;
    padding: 3px 0 4px 0;
    font-size: 20px;
    margin-left:-2px;
  }
  
  &.hover {
    i {
      color: white;
    }
  }
}

.player-ui-injured {
  $color: $error-color;
  background-color: $color;
  padding: 1px 0 4px 5px;
  
  @media #{$tablet-and-up} {
    padding: 3px 0 4px 0;
  }
  
  i {
    transform: skewX($skew-angle);
    display: inline-block;
    color: lighten($color,35%);
  }
  
  &.press, &:active {
    background-color: darken($color,4%);
  }
}

.player-ui-for-sale {
  $color: $secondary-master;
  background-color: $color;
  
  i {
    transform: skewX($skew-angle);
    display: inline-block;
    color: lighten($color,35%);
  }
  &.press, &:active {
    background-color: darken($color,4%);
  }
}

.player-ui-sale-tab {
  $color: $secondary-master;
  
  background: $color;
  color: lighten($color,35%);
  &:hover {
    background-color: lighten($color,2%);
    transition: none;
    color: white !important;
  }
  
  > div {
    //color: saturate(lighten($color,15%),22%);
    color: lighten($color,44%);
  }
  
  &.active {
    background: white;
    > div {
      color: $color;
    }
  }
}

.player-ui-club {
  
  span {
    font-size:15px;
    font-style: normal;
    @media #{$tablet-and-up} {
      font-size:17px;
    }
  }
}

.player-ui-infobox {
  //width: 100px;
  padding: 15x;
  text-align:center;
}

.player-ui-info-value {
  color: $primary-master;
  color: $primary-text-color;
  font-weight: 900;
  font-size: 17px;
  margin-bottom: -1px;
  @media #{$mobile} {
    font-size:15px;
  }
  @media #{$mobile-tiny} {
    font-size:4vw;
  }
}

.player-ui-info-label {
  font-size: 10px;
  color: $text-lighter;
  text-transform: uppercase;
  font-family: $sports-font;
  font-weight: 400;
  letter-spacing: 1px;
  @media #{$mobile-tiny} {
    font-size:3vw;
  }
}

$infobar-dark-mode: false;

.player-ui-infobar {
  
  @if $infobar-dark-mode {
    background-color: $bg-dark-lighter-2x;
  } @else {
    background-color: $bg-light;
  }
  
  padding: 10px 0;
  
  .player-ui-info-value {
    @media #{$mobile} {
      @if $infobar-dark-mode {
        color: $primary-on-dark;
      } @else {
        //color: $primary-master;
        //color: $primary-master;
        color: $primary-text-color;
      }
    }
  }
  .player-ui-info-label {
    @media #{$mobile} {
      @if $infobar-dark-mode {
        color: white;
      }
    }
  }
}

.player-ui-label {
  font-family: $sports-font;
  font-weight: bold;
  font-size: 11px;
  text-transform: uppercase;
  margin-bottom: 11px;
  margin-right: -5px;
  @media #{$tablet-and-up} {
    font-size: 13px;
    margin-bottom: 11px;
  }
}
table .player-ui-label {
  font-size: 14px;
  @media #{$tablet-and-up} {
    font-size: 16px;
  }
  font-weight: normal;
  color: $bg-dark-lighter-4x;
}
table .player-ui-value {
  font-weight: bold;
}

.player-ui-attr-label {
  font-size: 11px;
  margin-bottom: 7px;
  padding-right: 11px;
  @media #{$tablet-and-up} {
    font-size: 13px;
    margin-bottom: 4px;
    padding-right: 15px;
  }
}

.player-ui-csr-wrapper {
  width: 100%;
  //text-align: center;
}

.player-ui-csr-value {
  @extend .large-number;
  margin-bottom: -10px;
  margin-top:2px;
  padding: 0 7px;
  @media #{$tablet-and-up} {
    margin-top:0;
    padding: 0 11px;
  }
  &.player-ui-csr-tall {
    font-size: 22px;
    margin-top:-9px;
    margin-bottom: -7px;
    @media #{$tablet-and-up} {
      font-size: 39px;
      margin-top:-17px;
      margin-bottom: -14px;
    }
  }
}

.player-ui-csr-change {
  color: $text-lighter-4x;
  font-family: $sports-font;
  font-weight: 900;
  font-size: 15.9px;
  @media #{$tablet-and-up} {
    font-size: 17.9x;
  }
  &.player-ui-csr-tall {
    font-size: 12px;
    @media #{$tablet-and-up} {
      font-size: 16px;
    }
  }
  &:not(.flat-csr){
    margin-bottom: -4px;
  }
}

.player-ui-csr-wide {
  margin: 0 4px 0 0;
}

.player-ui-chart-wrapper {
  position: relative;
  margin-top:-4px;
  @media #{$tablet-and-up} {
    margin-top:-2px;
    
  }
}

.player-ui-donut-value {
  font-family: $sports-font;
  font-weight: 900;
  font-size: 15px;
  top: 44px;
  @media #{$tablet-and-up} {
    font-size: 22px;
    top: 44px;
  }
  
  &.side {
    padding: 0 22px 0 7px;
    font-size: 20px;
    top: 44px;
    @media #{$tablet-and-up} {
      font-size: 22px;
      top: 44px;
    }
  }
}

.player-ui-donut-chart {
  position: relative;
  z-index:1;
  margin: 0 -50px -4px;
}

.player-ui-donuts {
  @media #{$mobile-wide-and-up} {
    margin-bottom: -10px;
  }
}

.player-ui-donuts-and-traits {
  &.single {
    @media #{$mobile-tall} {
      padding: 0 30px 0 15px;
    }
  }
}

.player-ui-big-label {
  text-transform: uppercase;
  font-family: $sports-font;
  font-weight: bold;
  font-size: 12px;
  //letter-spacing: 1px;
  @media #{$tablet-and-up} {
    font-size: 16px;
  }

  &.player-ui-csr-wide, .csr-label {
    font-size: 1.1em;
    font-weight: 800;
  }
}

.player-ui-help-text {
  margin-top: -5px;
}

.player-ui-back {
  position: absolute;
  top:0;
  left:0;
  font-weight: bold;
}

.player-ui-export-wrapper {
  position: absolute;
  top:0;
  right:0;
  @media #{$mobile} {
    &.squad {
      right: 10px;
    }
  }
}

.player-ui-export {
  font-weight: bold;
}

.player-ui-nickname {
  font-weight: bold;
  color: saturate($bg-light-darker-3x,100%);
  text-transform: none;
  font-family: $primary-font;
}

.player-ui-blurb {
  display: inline-block;
  width:auto;
  font-size: 5vw;
  margin: 17px 0;
  max-width: 88%;
  @media #{$mobile-wide} {
    font-size: 22px;
  }
  @media #{$tablet-and-up} {
    font-size: 27px;
    margin: 17px 0;
    max-width: 80%;
  }
  
  
  font-family: $sports-font;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 800;
  color: $bg-dark-lighter-2x;
  
  
  /* font-family: $primary-font;
  font-weight: bold; */
  
  
  /* font-family: $sports-font;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 800;
  font-weight: 300; */
  
  .player-ui-blurb-edit {
    //visibility: hidden;
  }
  &:hover .player-ui-blurb-edit {
    //visibility: visible;
  }
  
  /* font-family: $primary-font;
  font-weight: 800;
  color: $secondary-master; */
  
  
  > i {
    //margin-left: -22px;
    color: $secondary-master;
    color: $bg-light-darker-2x;
    font-size: 22px;
    @media #{$tablet-and-up} {
      font-size: 29px;
    }
  }
}

.player-ui-jersey-number {
  font-family: $heading-font;
  font-weight: 900;
  color: white;
  
  font-size: 14px;
  @media #{$tablet-and-up} {
    font-size: 17px;
  }
  i.icon-pencil {
    font-size:11px;
    @media #{$tablet-and-up} {
      font-size: 14px;
    }
  }
  &, &:hover {
    padding: 7px 11px 17px !important;
    margin: -7px -11px -17px !important;
  }
}

.player-ui-jersey-option {
  color: $bg-dark-lighter-5x;
  font-weight: 900;
  font-family: $heading-font;
  font-size: 1.1em;
  margin-right:5px;
}

.player-ui-jersey {
  position:relative;
  overflow: visible;
  display: inline-block;
  text-align: center;
  margin: -20px 0;
  
  .number {
    position: absolute;
    width: 100%;
    text-align: center;
    left:0;
    
    top:3px;
    @media #{$tablet-and-up} {
      top:5px;
    }
  }
  
  i.icon-jersey {
    color: $bg-dark-lighter;
  }
  
  &.squad {
    position: relative;
    width:50px;
    top:3px;
    left: -5px;
    @media #{$tablet-and-up} {
      width:70px;
      left: -7px;
    }
    
    i.icon-jersey {
      margin: -20px -50%;
      font-size:50px;
      display: inline-block;
      text-shadow: 0 2px 0px $bg-light-darker-4x;
    }
    @media #{$tablet-and-up} {
      i.icon-jersey {
        font-size:59px;
      }
    }
    .number {
      font-family: $heading-font;
      font-weight: 900;
      color: white;
      
      font-size: 19px;
      @media #{$tablet-and-up} {
        font-size: 22px;
      }
    }
  }
  
  &.player {
    position: absolute;
    width:100%;
    
    i.icon-jersey {
      margin: -20px -50%;
      font-size:35px;
      display: inline-block;
      text-shadow: 0 0 9px black;
      text-shadow: 0 2px 0px $bg-light-darker-4x;
      transition: color 0.150s ease(out-quad);
      &.hover {
        color: $primary-master;
      }
    }
    
    bottom:9px;
    @media #{$tablet-and-up} {
      bottom:7px;
      i.icon-jersey {
        font-size:40px;
      }
    }
    
    .number {
      top:-6px;
      @media #{$tablet-and-up} {
        top:-4px;
      }
    }
  }
  
  &.active {
    i.icon-jersey {
      color: $primary-master;
    }
  }
  
}