{{#if bars}}

<div class="rect1"></div>
<div class="rect2"></div>
<div class="rect3"></div>

{{/if}}

{{#if circles}}

<div class="bounce1"></div>
<div class="bounce2"></div>
<div class="bounce3"></div>

{{/if}}