{{#vertical-collection
  tagName=verticalCollectionTag
  content=contentProxy
  defaultHeight=defaultHeight
  alwaysUseDefaultHeight=false
  useContentProxy=false
  lastReached=lastReached
  bufferSize=bufferSize
  containerSelector=scrollerSelectorProp
  as |item index|
}}

  <div class="clearfix">
    {{yield item index}}
  </div>
  
{{/vertical-collection}}

{{#if isLoadingData}}
  <div class="loader-padding">
    {{loading-spinner class="gap-2x" color="light"}}
  </div>
{{/if}}
