{{top-level images="grounds"}}

<div class="page-container-lg page-container-left">
  {{page-header title=(t 'standings.title')}}
  
  <div class="dash-box-container">
    {{component 'league/standings-route' standings=model}}
  </div>
</div>