.fade-img-placeholder {
  background-color: $placeholder-bg-color;
}

.fade-img-ready {
  opacity:0;
  transition: opacity 0.777s;
}

.fade-img-show {
  opacity: 1;
}

.fade-img-immediate {
  transition: none;
}