/**
 * Z-INDEXES
 * 
 * 100  => Tab bar, modals (component)
 * 90   => Float window (component)
 * 70   => Top bar
 * 51   => Sidebar (and tabs when all vertical)
 * 50   => Sidebar panel
 * 45   => Touch blocker
 * 40   => Sub nav (component)
 * 30   => Back to top button (floating button, in own component)
 */

/**
 * Global settings
 * @type {Boolean}
 */
$full-real-estate-on-mobile: true;
$float-buttons-hug-side: true;
$page-side-padding: 11px;

$nav-animation-time: 0.5s;
$animation-time: $nav-animation-time;
$topbar-height: 59px;
$tabbar-height: 50px;
$min-tabbar-height: 44px;

// Panel width
$panel-width: 88vw; // Mobile view
$panel-width-desktop: 24vw;
$panel-width-laptop: 30vw;
$max-panel-width: 333px;
$min-panel-width: 290px;

//ease(out-expo): ease(out-expo);

// Fluid
$body-max-width: 1222px;

// Width of window when body max width is reached
$body-max-window-width: $body-max-width + $max-panel-width + 9px;

/**
 * Menu block selected states
 */
$arrows: true;
$tabbar-arrows: false;
$floats: false;
$floats-scale: 1.04;
$colored-tabs: true;

$sidebar-width: 10vh;
$max-block-size: 59px;
$max-sidebar-block-height:55px;

// Sub-nav
$sub-nav-on-left: true;
$sub-panel-mod: -$max-block-size;

// Fluid for mobile landscape
$sidebar-width-mobile-landscape: 15vh;
$sidebar-block-height-mobile-landscape: 12.4vh;

// Media Queries
$nav-xxs: $mobile-tall;
$nav-xs: $mobile;
$nav-sm: $tablet-tall;
$nav-md: $tablet-wide;
$nav-lg: $desktop;
$nav-sm-down: $tablet-tall-and-down;
$nav-md-down: $tablet-and-down;
$nav-sm-up: $tablet-and-up;
$nav-md-up: $tablet-wide-and-up;

$nav-vs: "(max-height: #{($max-block-size * 10) + 20px})";
$nav-vs-not-mobile: "#{$nav-vs} and #{$nav-sm-up}";

$nav-ls: $mobile-landscape;
$nav-body-width-limit: "(min-width: #{$body-max-window-width})";

$topbar-color: desaturate(darken($primary-master,4%),7%);
//$topbar-color: desaturate(darken($primary-master,4%),12%);



// Classes so we can read these values into javacsript
.gn-panel-width { width: $panel-width; }
.gn-panel-width-desktop { width: $panel-width-desktop; }
.gn-panel-width-laptop { width: $panel-width-laptop; }
.gn-max-panel-width { width: $max-panel-width; }
.gn-min-panel-width { width: $min-panel-width; }
.gn-max-block-size { width: $max-block-size; }



$panel-color: $bg-dark-lighter;

// Tabbar color
$tabbar-color: null;
@if $colored-tabs {
  $tabbar-color: $primary-master;
} @else {
  $tabbar-color: desaturate(darken($secondary-master,37%),25%);
}

// Sidebar color
$sidebar-color: null;
@if $colored-tabs {
  $sidebar-color: desaturate(darken($secondary-master,35%),25%);
} @else {
  $sidebar-color: $primary-master;
}

$selected-arrow-size: $max-sidebar-block-height*0.5;
$selected-arrow-pokes-out: 7px;

$menu-selected-color: null;
$menu-selected-content-color: null;
$tab-selected-color: null;
$tab-selected-content-color: null;
@if $colored-tabs {
  $menu-selected-color: $primary-master;
  $menu-selected-content-color: $primary-darker;
  $tab-selected-color: $primary-dark;
  $tab-selected-content-color: saturate(lighten($primary-master,15%),15%);
} @else {
  $menu-selected-color: $primary-dark;
  $menu-selected-content-color: saturate(lighten($primary-master,15%),15%);
  $tab-selected-color: $primary-master;
  $tab-selected-content-color: $primary-darker;
}



#nav-topbar {
  position: fixed;
  z-index: 70;
  width: 100%;
  height:$topbar-height;
  top:0;
  background-color: $topbar-color;
  //background-color: $tabbar-color;
  padding-top:$topbar-height - 37px;
  text-align: center;
  color: #FFF;
  //color: desaturate(darken($secondary-master,33%),33%);
  font-size: 27px;
  //box-shadow: 0 -10px 10px 10px rgba(black,0.7);
  @media #{$mobile-wide} {
    display:none;
  }
  .nav-topbar-logo {
    //fill: darken(desaturate(adjust-hue($primary-master,6%),25%),33%);
    fill: desaturate(darken($secondary-master,37%),25%);
    height: 33px;
  }
  &.open {
    @if not($colored-tabs) {
      background-color: $panel-color;
    }
    @media #{$nav-sm-up} {
      background-color: $panel-color;
    }
    //background-color: lighten($panel-color,7%);
    //background-color: desaturate(darken($topbar-color,11%),7%);
  }
}
.nav-topbar-standalone {
  @media #{$nav-sm},#{$nav-md} {
    z-index: 40 !important;
    padding-left: $max-block-size;
  }
}

#nav-width-tester {
  width: auto;
  height: 100px;
  background-color: rgba( black, 0.33 );
  margin: 30px;
}

#nav-touch-blocker {
  position: fixed;
  z-index: 45;
  width: 100vw;
  height: 100%; // Must be % for chrome iOS (after address bar hide)
  top: 0;
  left: 0;
  background-color: rgba(black,0.444);
  display:none;
  &.ready {
    transition: opacity $animation-time ease(out-expo);
    display:block;
    opacity: 0;
    pointer-events: none;
  }
  &.open {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }
  @media #{$nav-lg} {
    display:none !important;
  }
}

#nav-body {
  @extend .clearfix;
  //background-color: desaturate(lighten($secondary-master,33%),44%);
  //background-color: desaturate(lighten($secondary-master,45%),44%);
  overflow-x: hidden;
  overflow-y: hidden;
  min-height: 100vh;
  
  //border: 3px solid #F0F;

  &.fixed {
    height:100vh;

    // Must be auto. 100% makes it too wide on safari ios
    width:auto;

    // Normal

    overflow-x: hidden;
    overflow-y: scroll; // Must be scroll to force scrollbar and remove side-jumps when transitioning / switching tabs, etc.
    -webkit-overflow-scrolling: touch;
    //-webkit-overflow-scrolling: auto;
  }
  
  margin-left: auto;

  @media #{$nav-sm},#{$nav-md} {
    &, &.fixed {
      width: calc( 100vw - #{$max-block-size} );
    }
  }

  @media #{$nav-lg} {
    &, &.fixed {

      //left:0;
      width: calc( 100vw - #{$max-block-size} );

      transition: width $animation-time ease(out-expo);
      &.open {
        
        width: calc( 100vw - #{$panel-width-desktop} );
        
        @media #{$nav-vs-not-mobile} {
          width: calc( 100vw - #{$panel-width-desktop} + (#{$max-block-size} - #{$sidebar-width}) );
        }
        
        min-width: calc( 100vw - #{$max-panel-width} );
        max-width: calc( 100vw - #{$min-panel-width} );
      }
      &.resizing {
        transition: none;
      }
    }
  }
  
  @media #{$nav-vs-not-mobile} {
    &, &.fixed {
      width: calc( 100vw - #{$sidebar-width} );
    }
  }

  @media #{$nav-md},#{$nav-lg} {
    &.sub-nav-showing {
      @if $sub-nav-on-left {
        width: calc( 100vw - #{$max-block-size + $max-panel-width + $sub-panel-mod} );
      } @else {
        margin-right:$max-panel-width + $sub-panel-mod;
      }
    }
  }
        
  @media #{$tablet-wide} {
    &.sub-nav-showing {
      @if $sub-nav-on-left {
        width: calc( 100vw - #{$panel-width-laptop} );
        min-width: calc( 100vw - #{$max-panel-width} );
        max-width: calc( 100vw - #{$min-panel-width} );
      }
    }
  }

  @media #{$nav-lg} {
    &.sub-nav-showing {
      @if $sub-nav-on-left {
        &.open {
          width: calc( #{100vw - $panel-width-desktop*2} - #{$sub-panel-mod} );
          min-width: calc( 100vw - #{$max-panel-width + $max-panel-width + $sub-panel-mod} );
          max-width: calc( 100vw - #{$min-panel-width + $min-panel-width + $sub-panel-mod} );
          
          @media #{$nav-vs-not-mobile} {
            width: calc( 100vw - #{$panel-width-desktop} - (#{$panel-width-desktop} + #{$sub-panel-mod}) + (#{$max-block-size} - #{$sidebar-width}) );
          }
        }
      }
    }
  }
  
  &.resizing {
    transition: none;
  }
  &.nav-disabled {
    transition: none;
    width: auto;
  }
  
  &.allow-blur {
    // Blur
    @media #{$nav-md-down} {
      transition: filter $animation-time ease(out-expo);
      &.open {
        filter: blur(10px);
      }
    }
  }

}

#nav-body-inner {
  max-width: $body-max-width;
  margin: 0 auto;
  &.full-body {
    max-width: none;
    margin: 0;
  }
  
  // Prevents body dissappearing during scroll on some devices (usually mobile / low memory)
  @extend .make3d;
  
  @media #{$nav-sm-up} {
    // Don't do this
    // It makes pages like the home page have gaps down the sides
    // This needs to be done at the dashbox level
    //padding: 0 $page-side-padding;
  }
}

// Balloon
#tabbar-balloon {
  
  height: calc( #{$sidebar-width} - 2px );
  max-height: calc( #{$tabbar-height} - 2px );
  min-height: calc( #{$min-tabbar-height} - 2px );
  
  &.bottom-nav-disabled {
    display: none;
  }
  
  //background-color: tomato;
}

body.safari-ios #tabbar-balloon {
  
  /**
   * On an *actual device*, this extra 70px is necessary for some reason
   * When testing in Chrome desktop however, if emulating iOS, this will appear as a giant gaping gap at the bottom of the screen.
   */
  
  height: calc( #{$sidebar-width} - 2px + 70px );
  max-height: calc( #{$tabbar-height} - 2px + 70px );
  @media #{$nav-ls} {
    height: calc( #{$sidebar-width} - 2px );
    max-height: calc( #{$tabbar-height} - 2px );
  }
  
}

body.fixed,html.fixed {
  overflow:hidden;
  height: 100%;
  margin:0;
  padding:0;
}

/* This was for moving the body up above the tab bar, but we should used a balloon *inside* the body instead.
body.free{
  @media #{$nav-xs} {
    padding-bottom: $tabbar-height - 1px;
    &.nav-disabled {
      padding-bottom: 0;
    }
    &.bottom-nav-disabled {
      padding-bottom: 0;
    }
  }
}
*/

#nav-tabbar {

  background-color: $tabbar-color;

  @media #{$nav-xs} {
    position:fixed;
    z-index:100;
    width:100%;
    bottom: -1px;
    background-color: $tabbar-color;
    box-sizing: border-box;
    height: auto;
  }

  // Tabs wrapper (sits beside footer end logo)
  .nav-tabs-col {
    @media #{$nav-xs} {
      width: $panel-width;
      
      // In general
      max-width: $max-panel-width;
      // When on portrait mobile, allow panel to always take most of screen
      @media #{$mobile-tall} {
        max-width: none;
      }
    }
  }
}

#nav-sidebar-and-tabs {

  @media #{$nav-sm-up} {
    position:fixed;
    z-index: 51;
    
    
    // Old
    //width: $sidebar-width;
    //max-width: $max-block-size;
    
    // Fluid
    width: $sidebar-width;
    max-width: $max-block-size;
    
    
    height:100%;
    left: 0;
    top: 0;
    transition: none;
  }
  @media #{$nav-vs} {
    max-width: none;
  }
  
  // Maybe add when/if shadows come back into modern design
  //box-shadow: 0px 0 7px 7px rgba(black,0.33);

}

#nav-sidebar {

  background-color: $sidebar-color;

  @media #{$nav-xs} {
    position:fixed;
    z-index: 51;
    
    // Fluid
    width: $sidebar-width;
    max-width: $max-block-size;
    
    
    height:100%;
    left:0;
    top:101vh;
    transition: transform $animation-time ease(out-expo);

    &.open {
      transform: translateY(-101vh);
    }

    &.alt {
      left: -$sidebar-width;
      top:0;

      &.open {
        transform: translateX($sidebar-width);
      }
    }

  }
  @media #{$nav-ls} {
    width: $sidebar-width-mobile-landscape;
    max-width: $max-block-size;

    &.alt {
      left: -$sidebar-width-mobile-landscape;
      top:0;
      &.open {
        transform: translateX(#{$sidebar-width-mobile-landscape - 0.1vh});
      }
    }
  }

  &.resizing {
    transition: none;
  }

  .sidebar-logo-wrapper {

    height: auto;
    text-align: center;
    padding: 0 0 10px 0;

    .sidebar-logo {
      @if $colored-tabs {
        color: lighten($panel-color,7%);
      } @else {
        color: rgba($panel-color,0.44);
      }
      //color: rgba(white,0.33);
      //color: white;
      margin: 0 -22px;
      @media #{$nav-vs} {
        font-size: 7.7vh;
      }
    }
    
    @media #{$limited-height-non-mobile} {
      display: none;
    }
    
  }

  #nav-menu-buffer-mobile {
    display:none;
    //@media #{$nav-xxs},#{$nav-ls} {
    // Should appear in all cases where tab bar is across the bottom of the screen
    @media #{$nav-xs} {
      display:block;
      width:100%;
      height: $max-block-size;
    }
    &.bottom-nav-disabled{
      display:none;
    }
  }
  
  #nav-sidebar-close {
    display:none;
    @media #{$nav-xs} {
      &.bottom-nav-disabled {
        display:block;
      }
    }
  }
}

#nav-panel-wrapper {
  
  position: fixed;
  top:0;
  left:0;
  height:100vh;
  width:0;
  /**
   * NOPE, this means we're not using 3d transforms and then animation sucks
   */
  
}

#nav-panel {
  
  #nav-panel-spacer {
    width: $max-block-size;
    max-width: $max-block-size;
    @media #{$nav-xs} {
      width: $sidebar-width;
    }
    @media #{$nav-ls} {
      width: $sidebar-width-mobile-landscape;
      max-width: $sidebar-width-mobile-landscape;
    }
    height:1px;
  }
  
  position:fixed;
  top: 0;
  z-index: 50;
  height:100%;
  
  
  
  
  
  
  
  
  
  // -------------- WIDTH
  
  
  width: $panel-width;
  
  @media #{$nav-sm-up} {
    width: $max-panel-width;
  }
  @media #{$laptop-and-up} {
    width: $panel-width-laptop;
  }
  @media #{$desktop} {
    width: $panel-width-desktop;
  }
  
  // In general
  max-width: $max-panel-width;
  min-width: $min-panel-width;
  // When on portrait mobile, allow panel to always take most of screen
  @media #{$mobile-tall} {
    max-width: none;
  }
  
  
  
  
  //border: 3px solid green;
  
  
  
  
  
  
  background-color: rgba($panel-color,0.95);
  background-color: $panel-color;

  transition: transform $animation-time ease(out-expo);

  /**
   * For small and medium, right edge of panel starts at right edge of sidebar
   */
  right: 100vw;
  @media #{$nav-sm-up} {
    right: calc(100vw - #{$max-block-size});
    //left: $max-block-size - $max-panel-width;
  }
  @media #{$nav-vs-not-mobile} {
    right: calc(100vw - #{$sidebar-width});
    //left: calc(#{$sidebar-width} - #{$max-panel-width});
  }
  
  // Maybe add when/if shadows come back into modern design
  //box-shadow: 0px 0 22px 22px rgba(black,0.33);

  @media #{$nav-lg} {
    //left: -$max-panel-width;
    transition: none;
  }

  &.open {
    
    @media #{$mobile-tall} {
      transform: translateX($panel-width);
    }
    @media #{$mobile-wide} {
      transform: translateX($max-panel-width);
    }
    @media #{$tablet} {
      transform: translateX( #{$max-panel-width - $max-block-size});
    }
    
    /**
     * Transforms for laptop/desktop sizes are now done via javascript so we can apply max width to dynamic screen based widths, within the transform
     */
    /* @media #{$laptop-and-up} {
      transform: translateX( calc(#{$panel-width-laptop} - #{$max-block-size}) );
    }
    @media #{$desktop} {
      transform: translateX( calc(#{$panel-width-desktop} - #{$max-block-size}) );
    } */
    
  }

  &.force-transition {
    transition: transform $animation-time ease(out-expo);
  }
  &.resizing {
    transition: none;
  }
  
  .menu-panel {
    padding: 0px;
    
    h5 {
      color: $primary-master;
      text-transform: uppercase;
    }
    .menu-link,.menu-link:hover {
      color: desaturate(lighten($panel-color,33%),4%);
      &.press,&.hover {
        //color: white;
        background-color: lighten($panel-color,3%);
      }
      &.selected {
        color: $primary-master;
        font-weight: bold;
        text-shadow: 0px 0px 11px rgba(saturate(lighten($primary-master,11%),15%),0.5);
      }
    }
  }

  .menu-fake {
    @include cover-background('/assets/images/global/menu.jpg');
    height: 150px;
    margin-bottom: 15px;
  }
  
  .tab-panel {
    
    h4 {
      color: rgba(white,0.7);
      text-transform: uppercase;
      font-size: 29px;
      font-weight: 300;
    }
    h5 {
      color: $primary-master;
    }
    .tab-panel-header {
      padding: 20px 30px;
    }
  }
  
  .panel-logo {
    height: 44px;
    fill: $bg-dark;
  }
}

a.menu-link,a.menu-link:hover {
  display: block;
  margin: 0;
  padding:9px 27px;
  font-size:17px;
  font-weight: 500;
  font-family: $sports-font;
  text-transform: uppercase;
  text-decoration: none;
}

.nav-tab-filler {
  height: $tabbar-height;
  box-sizing: border-box;
}

.nav-tab {
  text-align: center;

  .nav-tab-btn,.nav-menu-btn {
    
    // Fluid
    height:$sidebar-width;
    max-height: $max-sidebar-block-height;
    
    @media #{$nav-sm-up} {
      //height: $max-block-size - 4px;
    }
    
    width:100%;
    // Remove default button border
    border: none;
    border-radius: 0;
    box-sizing: border-box;
    padding: 0;
    position: relative;

    @media #{$nav-vs} {
      height: 9.5vh;
    }

    .nav-icon-wrapper {
      //height:10px;
      margin-bottom: -2px;
    }
    .nav-tab-icon {
      
      // Fluid
      font-size: 18px;
      @media #{$nav-vs} {
        font-size: 3.2vh;
      }
      
    }
    .nav-tab-text {
      font-size: 10px;
      
      // Don't use nav-vs since causes small text on even iPhone 6 with toolbars
      @media #{$vertically-small} {
        &.nav-tabbar-text {
          font-size: 9px;
        }
      }
      @media #{$nav-vs-not-mobile} {
        font-size: 1.9vh;
        &.nav-tabbar-text {
          font-size: 1.9vh;
        }
      }
      @media #{$nav-ls} {
        &.nav-tabbar-text, &.nav-menu-text {
          font-size: 9.5px;
        }
      }
    }

    &.selected {
      //background-color: $panel-color !important;
      @if $arrows {
        &:after {
          left: 100%;
          top: 50%;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          border-width: $selected-arrow-size 0 $selected-arrow-size $selected-arrow-pokes-out;
          margin-top: -$selected-arrow-size;
        }
        @media #{$nav-ls} {
          &:after {
            border-width: $sidebar-block-height-mobile-landscape*0.5 0 $sidebar-block-height-mobile-landscape*0.5 $selected-arrow-pokes-out;
            margin-top: -$sidebar-block-height-mobile-landscape*0.5;
          }
        }
      }
    }

    &:active,&.press  {
      transform: none;
      box-shadow: none;
    }
    
    &:focus {
      box-shadow: none !important;
      border: none !important;
    }
    
    &.selected,&.selected:active,&.selected.press {
      @if $floats {
        transform-origin: 0% 50%;
        transform: scale3d($floats-scale,$floats-scale,1);
        display:relative;
        z-index:2;
      }
    }
  }
  
  .nav-menu-btn {
    &.selected,&.selected:active,&.selected.press {
      @if $floats {
        box-shadow: 2px 4px 15px 4px rgba(black,0.4) !important;
      }
    }
  }
  
  .nav-tab-btn {
    &.selected,&.selected:active,&.selected.press {
      @if $floats {
        box-shadow: 0 4px 15px 4px rgba(black,0.5) !important;
        @media #{$mobile} {
          transform-origin: 50% 100%;
          box-shadow: 2px 2px 15px 4px rgba(black,0.55) !important;
          transform: scale3d(1,$floats-scale,1);
        }
      }
    }
  }

  $dark-color: desaturate(darken(adjust-hue($primary-master,6%),27%),22%);
  $darker-color: desaturate(darken(adjust-hue($primary-master,6%),33%),22%);
  $lighter-color: saturate(lighten($primary-master,7%),11%);
  
  // Icon sizing
  $base-icon-pixels: 20px;
  $base-icon-viewport: 3.5vh;

  .nav-menu-btn {
    
    // Heights for mobile landscape only
    @media #{$nav-ls} {
      height: $sidebar-block-height-mobile-landscape;
      max-height: none;
    }

    background-color: transparent;
    //background-color: $primary-master;

    /*
    border-bottom: 1px solid desaturate(darken($primary-master,8%),9%);
    @media #{$retina-media} {
      border-bottom-width: 0.5px;
    }
    //*/

    .nav-tab-icon {
      
      // Old
      //font-size: 20px;
      //@media #{$nav-vs} {
      //  font-size: 3.5vh;
      //}
      
      // Fluid
      font-size: $base-icon-pixels;
      @media #{$nav-vs} {
        font-size: $base-icon-viewport;
      }
      
      
      color: $darker-color;

      @if $colored-tabs {
        color: $primary-master;
      } @else {
        color: $primary-darker;
      }
    }
    .nav-tab-text {

      @if $colored-tabs {
        color: desaturate(lighten($sidebar-color,25%),11%);
      } @else {
        color: desaturate(darken($primary-master,22%),11%);
      }
      
    }

    &.hover {
      background-color: desaturate(darken($primary-master,11%),11%);
      @if $colored-tabs {
        background-color: $panel-color;
      } @else {
        background-color: $lighter-color;
      }
      // Remove default button border
      border: none;
    }

    &.nav-menu-manager {
      i {
        font-size: #{$base-icon-pixels*(21/20)};
        @media #{$nav-vs} {
          font-size: #{$base-icon-viewport*(3.5/3.5)};
        }
        @media #{$nav-ls} {
          font-size: #{$base-icon-viewport*1.44};
        }
      }
    }
    &.nav-menu-club {
      i {
        font-size: #{$base-icon-pixels*(25/20)};
        @media #{$nav-vs} {
          font-size: #{$base-icon-viewport*(4.3/3.5)};
        }
        @media #{$nav-ls} {
          font-size: #{$base-icon-viewport*(4.3/3.5)*1.44};
        }
      }
    }
    &.nav-menu-team {
      i {
        font-size: #{$base-icon-pixels*(22/20)};
        @media #{$nav-vs} {
          font-size: #{$base-icon-viewport*(3.8/3.5)};
        }
        @media #{$nav-ls} {
          font-size: #{$base-icon-viewport*(3.8/3.5)*1.44};
        }
      }
    }
    &.nav-menu-country {
      i {
        font-size: #{$base-icon-pixels*(22/20)};
        @media #{$nav-vs} {
          font-size: #{$base-icon-viewport*(3.8/3.5)};
        }
        @media #{$nav-ls} {
          font-size: #{$base-icon-viewport*(3.8/3.5)*1.44};
        }
      }
    }
    &.nav-menu-global {
      i {
        font-size: #{$base-icon-pixels*(22/20)};
        @media #{$nav-vs} {
          font-size: #{$base-icon-viewport*(3.9/3.5)};
        }
        @media #{$nav-ls} {
          font-size: #{$base-icon-viewport*(3.9/3.5)*1.44};
        }
      }
    }
    &.nav-menu-support, &.nav-menu-info {
      i {
        @media #{$nav-ls} {
          font-size: #{$base-icon-viewport*1.44};
        }
      }
    }
    
    
    
    &.nav-menu-close {
      .lines {
        //background-color: transparent;
        background: lighten($sidebar-color,22%);
        &:before, &:after {
          background: lighten($sidebar-color,22%);
        }
      }
      &.press {
        background-color: transparent;
      }
    }

    &.selected {

      background-color: $menu-selected-color;
      
      @if $arrows {
        &:after {
          border-left-color: $menu-selected-color;
        }
      }

      .nav-tab-text {
        color: $menu-selected-content-color;
      }
      i {
        color: $menu-selected-content-color;
      }
    }
  }

  .nav-tab-btn {
    background-color: $tabbar-color;
    
    height:$sidebar-width;
    max-height: $max-sidebar-block-height;
    min-height: $min-tabbar-height;
    
    @media #{$nav-xs} {
      max-height: $tabbar-height;
    }

    &.press {
      background-color: $tabbar-color;
    }
    
    $tab-text-color: null;
    @if $colored-tabs {
      $tab-text-color: desaturate(darken($primary-master,22%),11%);
    } @else {
      $tab-text-color: desaturate(lighten($tabbar-color,27%),11%);
    }
    
    .nav-tab-text {
      color: $tab-text-color;
    }
    
    $tab-icon-color: null;
    @if $colored-tabs {
      $tab-icon-color: $primary-darker;
    } @else {
      $tab-icon-color: $primary-master;
      //$tab-icon-color: desaturate(lighten($tabbar-color,29%),11%);
    }

    .nav-tab-icon {
      font-size: $base-icon-pixels;
      @media #{$nav-vs} {
        font-size: $base-icon-viewport;
      }
      color: $tab-icon-color;
    }

    .lines {
      background: $tab-icon-color;
      width: 19px;
      &:before, &:after {
        background: $tab-icon-color;
        width: 19px;
      }
    }

    &.hover {
      @if $colored-tabs {
        background-color: $lighter-color;
      } @else {
        background-color: lighten($tabbar-color,4%);
      }
      // Remove default button border
      border: none;
    }

    &.nav-tab-chat {
      i {
        font-size: #{$base-icon-pixels*(17/20)};
        @media #{$nav-vs-not-mobile} {
          font-size: #{$base-icon-viewport*(3.0/3.5)};
        }
      }
    }
    &.nav-tab-timeline {
      i {
        font-size: #{$base-icon-pixels*(19/20)};
        @media #{$nav-vs-not-mobile} {
          font-size: #{$base-icon-viewport*(3.2/3.5)};
        }
      }
    }
    &.nav-tab-alerts {
      i {
        font-size: #{$base-icon-pixels*(19/20)};
        @media #{$nav-vs-not-mobile} {
          font-size: #{$base-icon-viewport*(3.0/3.5)};
        }
      }
    }
    &.nav-tab-info {
      i {
        font-size: #{$base-icon-pixels*(21/20)};
        @media #{$nav-vs-not-mobile} {
          font-size: #{$base-icon-viewport*(3.7/3.5)};
        }
      }
    }

    &.selected, &.nav-close {
      background-color: $tab-selected-color;

      @media #{$nav-xs} {
        //background-color: $primary-master;
      }

      @if $arrows {
        &:after {
          border-left-color: $tab-selected-color;
          
          @media #{$nav-xs} {
            @if $tabbar-arrows {
              border-left-color: transparent;
              border-bottom-color: $tab-selected-color;
              top: auto;
              bottom: 100%;
              left: 50%;
              margin-top: 0;
              margin-left: -$selected-arrow-size;
              border-width: 0 $selected-arrow-size $selected-arrow-pokes-out $selected-arrow-size;
            } @else {
              border-left-color: transparent;
              border-bottom-color: transparent;
              border-width: 0 0 0 0;
            }
          }
        }
      }

      .nav-tab-text {
        color: $tab-selected-content-color;
      }
      i {
        color: $tab-selected-content-color;
      }
      .lines {
        background: #FFF;
        &:before, &:after {
          background: #FFF;
        }
      }
    }

    // Hide menu button when hidden on large
    &.nav-tab-menu {
      @media #{$nav-lg} {
        //display: none;
      }
    }
    &.nav-tab-menu.nav-close {
      @media #{$nav-lg} {
        //display: inline-block;
      }
    }


    &.nav-close {
      background-color: $sidebar-color;
      
      @if $colored-tabs {
        $close-color: $tabbar-color;
        $close-color: desaturate(lighten($sidebar-color,12%),5%);
      } @else {
        $close-color: white;
        $close-color: $primary-dark;
        //$close-color: $tabbar-color;
      }
      
      .nav-tab-text {
        color: $close-color;
      }
      .lines {
        background: $close-color;
        &:before, &:after {
          background: $close-color;
        }
      }
      &:after {
        border: none;
      }
      @media #{$nav-lg} {
        @if $colored-tabs {
          $close-color: $primary-dark
        } @else {
          $close-color: desaturate(lighten($tabbar-color,11%),11%);
        }
        background-color: transparent;
        .nav-tab-text {
          color: $close-color;
        }
        .lines {
          background: $close-color;
          &:before, &:after {
            background: $close-color;
          }
        }
      }

      &.hover {
        //background-color: lighten($tabbar-color,4%);
      }
    }
  }
}

.nav-tabs-end {
  
  max-height: $tabbar-height;
  min-height: $min-tabbar-height;
  @media #{$nav-vs} {
    line-height: $sidebar-width;
  }
  
  text-align: center;

  @if $colored-tabs {
    background-color: desaturate(darken($tabbar-color,5%),4%);
  } @else {
    background-color: darken($tabbar-color,3%);
  }
  
  i {
    color: darken($tabbar-color,14%);
    font-size: 35px;
    //margin: -3px -20px 0;
    @media #{$mobile-tall} {
      font-size: 7vw;
    }
    @media #{$nav-vs} {
      font-size: 29px;
    }
  }

}

    
#menu-tab {
  
  width: $sidebar-width;
  max-width: $max-block-size;
  
  @media #{$nav-xs} {
    max-width: $max-block-size;
  }
  @media #{$nav-vs} {
    width: $sidebar-width;
  }
  @media #{$nav-ls} {
    width: $sidebar-width-mobile-landscape;
  }
}

#sidebar-scroller-parent {
  width:100%;
}

#sidebar-scroller {
  //padding-left: $sidebar-width;
  width: 100%;
  //max-width: $max-panel-width - $max-block-size;
}


.sidebar-social-buttons {
  margin: 0 -10px;
  @media #{$nav-vs} {
    font-size: 2.59vh;
  }
}

#foot-bumper {
  height: 15px;
  @media #{$nav-lg} {
    height: 17px;
  }
  @if $full-real-estate-on-mobile {
    @media #{$mobile} {
      display: none;
    }
  }
  pointer-events: none;
}

.standalone-bumper {
  height:17px;
  width:100%;
  //background-color:tomato;
  display:none;
}

.standalone .standalone-bumper {
  display: block;
  @media #{$nav-ls} {
    display:none;
  }
}