.help-ui {
  display: inline-block;
  
  i {
    color: $bg-light-darker-5x;
    font-size:33px;
    @media #{$tablet-and-up} {
      font-size:33px;
    }
    &:focus {
      outline: none;
    }
    margin-top: -5px
  }
  
  &.help-ui-small {
    i {
      font-size: 22px;
    }
  }
  
  &.hover {
    i {
      color: saturate($bg-light-darker-4x,11%);
    }
  }
  
  &.help-ui-beside-button, &.help-ui-beside-button:hover, &.help-ui-beside-button.hover {
    margin-top: -1px;
    @media #{$tablet-and-up} {
      margin-top: 3px;
    }
  }
}

.help-ui-tooltip {
  background-color: desaturate(darken($bg-dark,7%),17%);
  color: $secondary-on-dark-lighter-3x;
  z-index: 41;
}