<i class="icon-help-circled icon-vcenter"></i>
{{#float-window showWindow=(mut showHelpWindow)}}
  
  {{if t (t t)}}
  {{yield}}
  
  <br><br>
  <span class="text-light">Better help bubbles coming soon.</span>
  
{{/float-window}}