{{#if isShowing}}
  <div class="{{if (or isLoadingData (and loadTabsImmediatelyWithLoader isLoadingTab)) 'hidden'}}">
    {{yield (hash
      registerTabLoading=(action 'registerTabLoading')
      finishTabLoading=(action 'finishTabLoading')
    )}}
  </div>
{{/if}}

{{#if (or isLoadingData (and loadTabsImmediatelyWithLoader isLoadingTab))}}
  <div class="{{if noPadding 'loader-padding' 'dash-loader-padding'}}">
    {{loading-spinner color="light"}}
  </div>
{{/if}}

