
<h3 class="no-top-gap">{{t 'settings.title'}}</h3>

<label for="current-locale">{{t 'settings.language'}}</label>

{{#blackout-select
  classes="btn-on-dark on-dark"
  selected=currentLocale
  onChange=(action "changeLocale")
  options=locales as |locale|
}}
{{locale.label}}
{{/blackout-select}}

