{{top-level images="club"}}

<div class="show-overflow page-container-md page-container-left has-position">

  <div class="text-center">
    {{component 'clubs/logo-editor' club=model}}
  </div>
  
  <div class="dash-box-container show-overflow">
  
    {{component 'clubs/club-route' club=model}}
    
  </div>
  
</div>
