/**
 * Only needs side padding between containers
 */
.dash-box-container {
  
  /**
   * Padding for small 1/3rd columns
   * @type {[type]}
   */
  padding: 24px 12px 0;
  .dash-negate-container-side-padding { margin: 0 -12px; }
  
  @media #{$mobile-wide-and-up} {
    padding: 22px 15px 0;
    .dash-negate-container-side-padding { margin: 0 -15px; }
  }
  @media #{$mobile} {
    @if $full-real-estate-on-mobile {
      padding: 22px 0 0;
    } @else {
      padding: 22px 11px 0;
      .dash-negate-container-side-padding { margin: 0 -11px; }
    }
  }
  @media #{$tablet-and-up} {
    padding: 17px 17px 0;
    .dash-negate-container-side-padding { margin: 0 -17px; }
  }

  &.dash-left, &.dash-left-xs {
    padding-right:0;
    .dash-negate-container-side-padding { margin-right: 0; }
  }

  @media only screen and (min-width: $screen-sm-min) {
    &.dash-left-sm {
      padding-right:0;
    }
    &.dash-left-reset-sm {
      padding-right:17px;
      .dash-negate-container-side-padding { margin-right: 0; }
    }
  }

  @media only screen and (min-width: $screen-md-min) {
    &.dash-left-md {
      padding-right:0;
    }
    &.dash-left-reset-md {
      padding-right:17px;
      .dash-negate-container-side-padding { margin-right: 0; }
    }
  }

  @media only screen and (min-width: $screen-lg-min) {
    &.dash-left-lg {
      padding-right:0;
    }
    &.dash-left-reset-lg {
      padding-right:17px;
      .dash-negate-container-side-padding { margin-right: 0; }
    }
  }
  
}

/**
 * Allows us to have dash padding even on mobile with full real-estate mode on
 * Handy for header/cover areas where we still want padding, even if the main
 * body goes right to the edge.
 */
.dash-header {
  @media #{$mobile} {
    @if $full-real-estate-on-mobile {
      margin: 0 11px;
    }
  }
}
.dash-content, .dash-footer {
  @media #{$mobile} {
    display: inline-block;
    @if $full-real-estate-on-mobile {
      margin-left: 11px;
      margin-right: 11px;
      &:not(.sides-only) {
        margin-top: 11px;
        margin-bottom: 11px;
      }
    }
  }
}

$dash-padding-mobile: 14px;
$dash-padding-landscape: 19px;
$dash-padding-tablet-up: 30px;

// Not sure why this was smaller. Next time, add a comment.
$dash-padding-bottom-factor: 1;//11/14;

.dash-box-padding {
  
  /**
   * Padding for bigger 2/3rd width boxes
   * @type {[type]}
   */
  padding: $dash-padding-mobile $dash-padding-mobile $dash-padding-mobile*$dash-padding-bottom-factor;
  @media #{$mobile-wide-and-up} {
    padding: $dash-padding-landscape $dash-padding-landscape $dash-padding-landscape*$dash-padding-bottom-factor;
  }
  @media #{$tablet-and-up} {
    padding: $dash-padding-tablet-up $dash-padding-tablet-up $dash-padding-tablet-up*$dash-padding-bottom-factor;
  }
  
}

.dash-box-side-padding {
  
  /**
   * Padding for bigger 2/3rd width boxes
   * @type {[type]}
   */
  padding: 0 $dash-padding-mobile;
  @media #{$mobile-wide-and-up} {
    padding: 0 $dash-padding-landscape;
  }
  @media #{$tablet-and-up} {
    padding: 0 $dash-padding-tablet-up;
  }
  
}

.dash-box-no-side-padding {
  
  /**
   * Padding for bigger 2/3rd width boxes
   * @type {[type]}
   */
  padding: $dash-padding-mobile 0 $dash-padding-mobile*$dash-padding-bottom-factor;
  @media #{$mobile-wide-and-up} {
    padding: $dash-padding-landscape 0 $dash-padding-landscape*$dash-padding-bottom-factor;
  }
  @media #{$tablet-and-up} {
    padding: $dash-padding-tablet-up 0 $dash-padding-tablet-up*$dash-padding-bottom-factor;
  }
}

.dash-box-no-side-padding-mobile {
  
  /**
   * Padding for bigger 2/3rd width boxes
   * @type {[type]}
   */
  padding: $dash-padding-mobile 0 $dash-padding-mobile*$dash-padding-bottom-factor;
  @media #{$mobile-wide-and-up} {
    padding: $dash-padding-landscape $dash-padding-landscape $dash-padding-landscape*$dash-padding-bottom-factor;
  }
  @media #{$tablet-and-up} {
    padding: $dash-padding-tablet-up $dash-padding-tablet-up $dash-padding-tablet-up*$dash-padding-bottom-factor;
  }
}

.dash-box-no-padding-mobile {
  
  /**
   * Padding for bigger 2/3rd width boxes
   * @type {[type]}
   */
  padding: 0;
  @media #{$mobile-wide-and-up} {
    padding: $dash-padding-landscape $dash-padding-landscape $dash-padding-landscape*$dash-padding-bottom-factor;
  }
  @media #{$tablet-and-up} {
    padding: $dash-padding-tablet-up $dash-padding-tablet-up $dash-padding-tablet-up*$dash-padding-bottom-factor;
  }
}

.dash-box-padding-mobile {
  
  /**
   * Padding for bigger 2/3rd width boxes
   * @type {[type]}
   */
  padding: $dash-padding-mobile $dash-padding-mobile $dash-padding-mobile*$dash-padding-bottom-factor;
  @media #{$mobile-wide-and-up} {
    padding: 0;
  }
}

.dash-box{
  width:100%;
  //background-color: rgba(white,0.5);
  background-color: white;
  border-radius: $border-radius;
  
  /// For hiding anything outside of the dashbox
  &.no-overflow {
    overflow: hidden;
    @extend .border-radius-fix;
  }
  
  @if $full-real-estate-on-mobile {
    @media #{$mobile} {
      border-radius: 0;
    }
  }
  
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  
  @extend .dash-box-padding;
  
  /**
   * Should negate paddings above
   * Allows us to place div inside a dash-box which goes to the edges
   */
  &.dash-box-no-padding {
    padding: 0;
    @media #{$mobile-wide-and-up} {
      padding: 0;
    }
    @media #{$tablet-and-up} {
      padding: 0;
    }
  }
  
  /**
   * Should negate paddings above
   * Allows us to place div inside a dash-box which goes to the edges
   */
  .dash-box-negate-padding {
    margin-right: #{ -$dash-padding-mobile} !important;
    margin-left: #{ -$dash-padding-mobile} !important;
    @media #{$mobile-wide-and-up} {
      margin-right: #{ -$dash-padding-landscape} !important;
      margin-left: #{ -$dash-padding-landscape} !important;
    }
    @media #{$tablet-and-up} {
      margin-right: #{ -$dash-padding-tablet-up} !important;
      margin-left: #{ -$dash-padding-tablet-up} !important;
    }
  }
  .dash-box-negate-padding-top {
    margin: #{ -$dash-padding-mobile} #{ -$dash-padding-mobile} $dash-padding-mobile*$dash-padding-bottom-factor !important;
    @media #{$mobile-wide-and-up} {
      margin: #{ -$dash-padding-landscape} #{ -$dash-padding-landscape} $dash-padding-landscape*$dash-padding-bottom-factor !important;
    }
    @media #{$tablet-and-up} {
      margin: #{ -$dash-padding-tablet-up} #{ -$dash-padding-tablet-up} $dash-padding-tablet-up*$dash-padding-bottom-factor !important;
    }
  }
  .dash-box-negate-padding-top-and-bottom {
    margin: #{ -$dash-padding-mobile} 0 #{ -$dash-padding-mobile*$dash-padding-bottom-factor} !important;
    @media #{$mobile-wide-and-up} {
      margin: #{ -$dash-padding-landscape} 0 #{ -$dash-padding-landscape*$dash-padding-bottom-factor} !important;
    }
    @media #{$tablet-and-up} {
      margin: #{ -$dash-padding-tablet-up} 0 #{ -$dash-padding-tablet-up*$dash-padding-bottom-factor} !important;
    }
  }
  .dash-box-negate-padding-bottom {
    margin: 0 #{ -$dash-padding-mobile} #{ -$dash-padding-mobile * $dash-padding-bottom-factor} !important;
    @media #{$mobile-wide-and-up} {
      margin: 0 #{ -$dash-padding-landscape} #{ -$dash-padding-landscape * $dash-padding-bottom-factor} !important;
    }
    @media #{$tablet-and-up} {
      margin: 0 #{ -$dash-padding-tablet-up} #{ -$dash-padding-tablet-up * $dash-padding-bottom-factor} !important;
    }
  }
  .dash-box-negate-padding-half {
    margin: 0 #{ -$dash-padding-mobile*0.5} !important;
    @media #{$mobile-wide-and-up} {
      margin: 0 #{ -$dash-padding-landscape*0.5} !important;
    }
    @media #{$tablet-and-up} {
      margin: 0 #{ -$dash-padding-tablet-up*0.5} !important;
    }
  }
  .dash-box-negate-padding-half-bottom {
    margin: 0 #{ -$dash-padding-mobile*0.5} #{ -$dash-padding-mobile*$dash-padding-bottom-factor*0.5} !important;
    @media #{$mobile-wide-and-up} {
      margin: 0 #{ -$dash-padding-landscape*0.5} #{ -$dash-padding-landscape*$dash-padding-bottom-factor*0.5} !important;
    }
    @media #{$tablet-and-up} {
      margin: 0 #{ -$dash-padding-tablet-up*0.5} #{ -$dash-padding-tablet-up * $dash-padding-bottom-factor*0.5} !important;
    }
  }
  
  // Don't hide drop-downs
  //overflow:hidden;
  
  //line-height: 100%;
  position:relative;
  
  .panel-title {
    color: rgba(desaturate($secondary-master,33%),0.5);
  }
  
  // Default margin below to make gap between multiple boxes in same container
  margin-bottom:30px;
  
  // No margin for last box
  &:last-of-type {
    margin-bottom:0px;
  }
  
}

.dash-col {
  
  /**
   * Padding for small 1/3rd columns
   * @type {[type]}
   */
  padding: 14px 14px 17px;
  @media #{$mobile-wide-and-up} {
    padding: 19px 19px 24px;
  }
  @media #{$tablet-and-up} {
    padding: 24px 24px 29px;
  }
  
}

.dash-news-image {
  height: 77vw;
  max-height: 180px;
}

.news-date {
  font-size: 0.95em;
  color: $text-lighter-3x;
}

.new-news {
  font-size: 0.95em;
  font-weight: bold;
  color: $text-lighter-2x;
}

.more-news{
  position: absolute;
  bottom:17px;
}