

$full-real-estate-on-mobile: false;


.dash-box-container {
  
  /**
   * Padding for small 1/3rd columns
   * @type {[type]}
   */
  padding: 12px 12px 0;
  @media #{$mobile-wide-and-up} {
    padding: 15px 15px 0;
  }
  @media #{$mobile-tall} {
    @if $full-real-estate-on-mobile {
      padding: 15px 0 0;
    } @else {
      padding: 15px 11px 0;
    }
  }
  @media #{$tablet-and-up} {
    padding: 17px 17px 0;
  }
  
}


.dash-box{
  width:100%;
  background-color: rgba(white,0.99);
  border-radius: $border-radius;
  
  @if $full-real-estate-on-mobile {
    @media #{$mobile} {
      border-radius: 0;
    }
  }
  
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  
  /**
   * Padding for bigger 2/3rd width boxes
   * @type {[type]}
   */
  padding: 14px 14px 11px;
  @media #{$mobile-wide-and-up} {
    padding: 19px 19px 15px;
  }
  @media #{$tablet-and-up} {
    padding: 30px 30px 22px;
  }
  
  // Default margin below to make gap between multiple boxes in same container
  margin-bottom:30px;
  
  overflow:hidden;
  //line-height: 100%;
  position:relative;
  
  .panel-title {
    color: rgba(desaturate($secondary-master,33%),0.5);
  }
}

.dash-col {
  
  /**
   * Padding for small 1/3rd columns
   * @type {[type]}
   */
  padding: 14px 14px 17px;
  @media #{$mobile-wide-and-up} {
    padding: 19px 19px 24px;
  }
  @media #{$tablet-and-up} {
    padding: 24px 24px 29px;
  }
  
}

.dash-news-image {
  height: 77vw;
  max-height: 180px;
}

.news-date {
  font-size: 0.95em;
  color: $text-lighter-3x;
}

.new-news {
  font-size: 0.95em;
  font-weight: bold;
  color: $text-lighter-2x;
}

.more-news{
  position: absolute;
  bottom:17px;
}