

$full-real-estate-on-mobile: false;


.dash-box-container {
  
  /**
   * Padding for small 1/3rd columns
   * @type {[type]}
   */
  padding: 12px 12px 0;
  @media #{$mobile-wide-and-up} {
    padding: 15px 15px 0;
  }
  @media #{$mobile-tall} {
    @if $full-real-estate-on-mobile {
      padding: 15px 0 0;
    } @else {
      padding: 15px 11px 0;
    }
  }
  @media #{$tablet-and-up} {
    padding: 17px 17px 0;
  }
  
  &.dash-box-container-left {
    @media #{$tablet-and-up} {
      padding-right:0;
    }
  }
  
}

$padding-mobile: 14px;
$padding-landscape: 19px;
$padding-tablet-up: 30px;

// Not sure why this was smaller. Next time, add a comment.
$padding-bottom-factor: 1;//11/14;

.dash-box-padding {
  
  /**
   * Padding for bigger 2/3rd width boxes
   * @type {[type]}
   */
  padding: $padding-mobile $padding-mobile $padding-mobile*$padding-bottom-factor;
  @media #{$mobile-wide-and-up} {
    padding: $padding-landscape $padding-landscape $padding-landscape*$padding-bottom-factor;
  }
  @media #{$tablet-and-up} {
    padding: $padding-tablet-up $padding-tablet-up $padding-tablet-up*$padding-bottom-factor;
  }
  
}

.dash-box-no-side-padding {
  
  /**
   * Padding for bigger 2/3rd width boxes
   * @type {[type]}
   */
  padding: $padding-mobile 0 $padding-mobile*$padding-bottom-factor;
  @media #{$mobile-wide-and-up} {
    padding: $padding-landscape 0 $padding-landscape*$padding-bottom-factor;
  }
  @media #{$tablet-and-up} {
    padding: $padding-tablet-up 0 $padding-tablet-up*$padding-bottom-factor;
  }
}

.dash-box-no-side-padding-mobile {
  
  /**
   * Padding for bigger 2/3rd width boxes
   * @type {[type]}
   */
  padding: $padding-mobile 0 $padding-mobile*$padding-bottom-factor;
  @media #{$mobile-wide-and-up} {
    padding: $padding-landscape $padding-landscape $padding-landscape*$padding-bottom-factor;
  }
  @media #{$tablet-and-up} {
    padding: $padding-tablet-up $padding-tablet-up $padding-tablet-up*$padding-bottom-factor;
  }
}

.dash-box-no-padding-mobile {
  
  /**
   * Padding for bigger 2/3rd width boxes
   * @type {[type]}
   */
  padding: 0;
  @media #{$mobile-wide-and-up} {
    padding: $padding-landscape $padding-landscape $padding-landscape*$padding-bottom-factor;
  }
  @media #{$tablet-and-up} {
    padding: $padding-tablet-up $padding-tablet-up $padding-tablet-up*$padding-bottom-factor;
  }
}

.dash-box-padding-mobile {
  
  /**
   * Padding for bigger 2/3rd width boxes
   * @type {[type]}
   */
  padding: $padding-mobile $padding-mobile $padding-mobile*$padding-bottom-factor;
  @media #{$mobile-wide-and-up} {
    padding: 0;
  }
}

.dash-box{
  width:100%;
  //background-color: rgba(white,0.5);
  background-color: white;
  border-radius: $border-radius;
  
  /// For hiding anything outside of the dashbox
  &.no-overflow {
    overflow: hidden;
    @extend .border-radius-fix;
  }
  
  @if $full-real-estate-on-mobile {
    @media #{$mobile} {
      border-radius: 0;
    }
  }
  
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  
  @extend .dash-box-padding;
  
  /**
   * Should negate paddings above
   * Allows us to place div inside a dash-box which goes to the edges
   */
  &.dash-box-no-padding {
    padding: 0;
    @media #{$mobile-wide-and-up} {
      padding: 0;
    }
    @media #{$tablet-and-up} {
      padding: 0;
    }
  }
  
  /**
   * Should negate paddings above
   * Allows us to place div inside a dash-box which goes to the edges
   */
  .dash-box-negate-padding {
    margin: 0 #{ -$padding-mobile};
    @media #{$mobile-wide-and-up} {
      margin: 0 #{ -$padding-landscape};
    }
    @media #{$tablet-and-up} {
      margin: 0 #{ -$padding-tablet-up};
    }
  }
  .dash-box-negate-padding-top {
    margin: #{ -$padding-mobile} #{ -$padding-mobile} $padding-mobile*$padding-bottom-factor;
    @media #{$mobile-wide-and-up} {
      margin: #{ -$padding-landscape} #{ -$padding-landscape} $padding-landscape*$padding-bottom-factor;
    }
    @media #{$tablet-and-up} {
      margin: #{ -$padding-tablet-up} #{ -$padding-tablet-up} $padding-tablet-up*$padding-bottom-factor;
    }
  }
  
  // Don't hide drop-downs
  //overflow:hidden;
  
  //line-height: 100%;
  position:relative;
  
  .panel-title {
    color: rgba(desaturate($secondary-master,33%),0.5);
  }
  
  // Default margin below to make gap between multiple boxes in same container
  margin-bottom:30px;
  
  // No margin for last box
  &:last-of-type {
    margin-bottom:0px;
  }
  
}

.dash-col {
  
  /**
   * Padding for small 1/3rd columns
   * @type {[type]}
   */
  padding: 14px 14px 17px;
  @media #{$mobile-wide-and-up} {
    padding: 19px 19px 24px;
  }
  @media #{$tablet-and-up} {
    padding: 24px 24px 29px;
  }
  
}

.dash-news-image {
  height: 77vw;
  max-height: 180px;
}

.news-date {
  font-size: 0.95em;
  color: $text-lighter-3x;
}

.new-news {
  font-size: 0.95em;
  font-weight: bold;
  color: $text-lighter-2x;
}

.more-news{
  position: absolute;
  bottom:17px;
}