.safari-helper {
  display: none;
  width: 100%;
}
.safari-message {
  position:relative;
  height:44px;
  width:100%;
  display:none;
  padding-left:10px;
  line-height:44px;
}

.safari-content {
  display: none;
  padding:7px 15px 15px;
}