<div class="safari-message warning" aria-hidden="true">
  <i class="icon-attention icon-vcenter"></i>
  Safari won't let you tap here. <a {{action "showContent"}}>Find out more</a>.
  {{circle-close}}
</div>

<div class="safari-content warning" aria-hidden="true">

  <p>
    <b>TL;DR Add this website to your home screen to fix.</b>
  </p>

  <p>
    Safari's footer tools auto-hide as you scroll. Any tap in this area of the screen while the tools are hidden will bring them up again. You must then tap a second time to hit your original target. Annoying right?
  </p>
  
  <img class="img-responsive gap-md" src="assets/images/errors/safari.png" alt="Safari footer bar">
  
  <p><b>How to add to your home screen</b></p>
  
  <p>
    <b>Step 1</b>
    <img class="img-responsive gap-md" src="assets/images/errors/safari-1.png" alt="Safari footer bar">
  </p>
  
  <b>Step 2</b>
  <img class="img-responsive" src="assets/images/errors/safari-2.png" alt="Safari footer bar">
  
</div>