.fade-bg-default {
  background-color: $placeholder-bg-color;
}

.fade-bg-ready {
  
  @include cover-background-tinted-for-animation('',$no-tint,center center,transparent);
  
  &:before {
    opacity:0;
    transition: opacity 0.777s;
  }
}

.fade-bg-show {
  &:before {
    opacity: 1;
  }
}

.fade-bg-out {
  &:before {
    transition: opacity 0.111s;
  }
  
  // Fix css transition end event on pseudo element in IE
  transition: transform 0.111s;
  transform: translate3d(0,0,0.00001px);
}

.fade-bg-immediate {
  &:before {
    transition: none;
  }
}