<div class="gap-3x">
  {{date-picker date=(readonly date) onChange=(action 'onChangeDate') currentLocale=locale.currentLocale}}
</div>

{{time-picker onChange=(action 'onChangeTime') 12HourTime=true time=(readonly date) }}