{{#if to}}
  
  <a {{action "goBackTo" to toId}} class="btn-a on-dark"><i class="icon-left-big"></i></a>
  
{{else}}
  
  <a {{action "goBack"}} class="btn-a on-dark"><i class="icon-left-big"></i></a>
  
{{/if}}